.yemianbg{
	background:#f6f7f9;
}
.header{
	width: 93.7%;
	margin:0 auto;
	text-align: center;
	padding-bottom: 4%;
}
.header a{
	font-size: .3rem;
	float: left;
	padding-left: 3%；
}
.header img{
	width: 10px;
	height: 15px;
}
.header span{
	width: .5rem;
	font-size: .18rem;
	line-height: 0.5rem;
}
.tab{
	width:100%; 
	margin:0 auto;
}
.tab-hd {
	overflow: hidden;
	background: white;
	box-shadow:#cacbcd 0px 0px 18px;
	border-radius: 5px;
	text-align: center;
	width:93.75%;
	margin:0 auto;
	zoom:1;
}
.tab-hd li{
	float:left; 
	width:50%; 
	color:#929292; 
	text-align:center; 
	font-size: .15rem;
	padding-top: .11rem;
	padding-bottom: .11rem;
}
.tab-hd li.active span{
	text-align: center;
	color:#3a87f8;
	padding-bottom: .10rem;
	border-bottom:2px solid #5aacf6;
}
.activc{
	text-align: center;
}
.tab-bd li{
	display:none;
	margin:0 auto;
	overflow: hidden;
	
	border-radius: 5px;
	text-align: center;
	margin-bottom: 5%;
}
.tab-bd li.thisclass{
	display:list-item;
}
.thisclass{
	padding-top: 3%;
}
.shourutp{
	width:93.75%; 
	margin:0 auto 3%;
	overflow: hidden;
	background: white;
	box-shadow:#cacbcd 0px 0px 18px;
	border-radius: 5px;
	position: relative;
}
.shourutp img{
	width: .6rem;
	height: .6rem;
	float: left;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: .15rem;
}
.time{
	font-size: .12rem;
	float: left;
	color: #666;
	padding-left: 3%;
	padding-top:3%;
}
.money{
	color: red;
	width: 50%;
	font-size: .15rem;
	float: right;
	font-weight: bold;
	padding-top:3%;
	text-align: right;
	margin-right: 3%;
}
.chanping{
	font-size: .15rem;
	float: left;
	padding-top: 3%;
	text-align: left;
	color: black;
	position: absolute;
	top: 25%;
	left: 23.5%;
}
.bianhao{
	font-size: .12rem;
	float: left;
	color: #666;
	position: absolute;
	left: 23.5%;
	bottom: 12%;
}
.yinlian{
	color: black;
	font-size: .14rem;
	font-weight: bold;
	display: block;
	margin-top: 5%;
	margin-left: 3%;
	margin-bottom: 5%;
	float: left;
	margin-right: 20%;
}
.danhao{
	font-size: .15rem;
	float: left;
	color: #999;
	padding-left: 3%;
	padding-bottom: 3%;

}
.success{
	font-size: .15rem;
	float: right;
	margin-right: 3%;
	color: #4286e7;
}
.thisclass1{
	padding-top: 3%;

}
