nav {
	display: flex;
	display: -webkit-flex;
}
.item {
	flex:1;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.8rem;
	color: #515151;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.item.active {
	color: #4e90e6;
	border-bottom: 2px solid #4e90e6;
}
.pic {
	width: 100%;
	display: block;
}
.content {
	padding-bottom: 2rem;
}
.cho {
/*	background: #202022;*/
	width: 100%;
	background: white;
	position: fixed;
	bottom: 1rem;
	left: 0;
	z-index: 200;

}
.cho ul {
	display: flex;
	display: -webkit-flex;	
}
.cho li {
	flex:1;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.4rem;
	color: #515151;
}
.cho li i {
	font-size: 0.4rem;

}
.cho li.active {
	color: #e3bb75;
}
footer {
	font-size: 0.4rem;
	height: 1rem;
	line-height: 1rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 200;
}
footer .iconfont {
	color: #E3BB75;
	font-size:0.4rem;
	margin-left: 0.2rem;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.btn {
	display: block;
	height: 100%;
	text-align: center;
	padding:0 10px;
	color: white;
	background: #E3BB75;
}
.text {
	color: #E3BB75;
	font-size:0.3rem;
}
.price {
	color: #ff1e10;
	margin-right: 10px
}
.tip{
	padding:10px;
	display: none;
}
.tip h3 {
	color: #000;
	font-size: 15px;
	padding:20px 0 10px 0;
}
.tip p {
	color: #97a7b7;
	font-size: 13px;
}