
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<link rel="stylesheet" href="http://www.17sucai.com/preview/1268063/2018-09-10/secure/css/style.css" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>文章资讯</title>
		<style>
			.activity-li-box{margin-bottom: 1px;border-top: none;}
			.infom-li{margin-bottom: 0px;}
			
		</style>
	</head>
	<body style="background-color: #F1F4F8">
		<div id="app" v-cloak>
		<div class="information-box" style="padding-bottom: 46px;">
			<div class="infom-ul"> 
				<a href="{:url('article/noticle')}">
					<div class="infom-li">
						<div class="infom-img-box">
							<img src="/static/home/images/xt_icon.png"></img>
							<span class="smdd" v-if="info.system.count>0"></span>
						</div>
						<span class="title">系统公告</span>
					</div>
				</a>
				<a href="{:url('article/todaycut')}">
					<div class="infom-li">
						<div class="infom-img-box">
							<img src="/static/home/images/fwtz_icon.png"></img>
							<span class="smdd" v-if="info.system.count>0"></span>
						</div>
						<span class="title">提额技巧</span>
					</div>
				</a>
				<a href="{:url('article/class')}">
					<div class="infom-li">
						<div class="infom-img-box">
							<img src="/static/home/images/pxkt_icon.png"></img>
							<span class="smdd" v-if="info.system.count>0"></span>
						</div>
						<span class="title">培训课堂</span>
					</div>
				</a>
			</div>
			<div class="handle-list-box">
				<!--收益明细  -->
				<a href="{:url('article/todaycut')}">
					<div class="lists-li-box">
						<img src="/static/home/images/syms_icons.png" class="icon_btn"></img>
						<span style="font-weight: 500;">今日口子</span>
						<i style="float: right;font-size: 14px;line-height: 14px;position: absolute;top: 50%;right: 34px;transform: translateY(-50%);font-style: normal;color: #98a7b8">查看更多文章</i>
						<img src="/static/home/images/ltjt_icon.png" class="ltjt-btn"></img>
					</div>
				</a>
			</div>
			<div class="activity-ul-box">
			{foreach $article as $v}
				 <!-- <a href="/article/id/{$v.id}"> -->
				 <a href="javascript:;" onclick="checkUser(this,'{$v.id}')">
					<div class="activity-li-box">
						<div class="activity-tl-box">
							<span>{$v.title}</span>
							<span>{$v.add_time|date=('Y-m-d H:i')} &nbsp;{if($v.auth>0)}仅会员可见{/if}</span> </div>
						<div class="activity-img-box">
							<img src="{$v.img}" alt="">
						</div>
					</div>
				</a>
			{/foreach}
			</div>
		</div>
		{include file="common/footer"/}
		</div>

<script src="/static/home/js/jquery-1.12.4.min.js"></script>
<script src="/static/home/js/ydui.js"></script>
		<link rel="stylesheet" href="/static/home/css/ydui.css" />
<script>
	function checkUser(obj,id){
		$.post("{:url('article/checkUser')}",{id:id},function(data){
			if (data.code==1) {
					YDUI.dialog.toast(data.msg, 'error', 800,function() {});
			}else{
				location.replace("/article/id/"+id);
			}
		})
	}
</script>
	</body>
</html>