
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<title>新手指南</title>
		<link rel="stylesheet" href="/static/home/css/style.css" />
	</head>
	<body style="background-color: #F1F4F8">





		<div class="indent-ul-box" id="app" v-cloak>


			{foreach $art as $v}
			<div class="indent-li-box" v-for="x in info">
				<a href="/article/id/{$v.id}">
<!--					<span class="indent-timer-box">{$v.add_time|date=('Y-m-d H:i')}</span>-->
					<div class="indent-ms-box">
						<div class="indent-top-box">
							<span class="us-ms-tl">{$v.title}</span>
<!--							<span class="msnr-xt">{$v.add_time|date=('Y-m-d H:i')}</span>-->
						</div>
<!--						<div class="indent-bottom-box">-->
<!--							<span>查看详情</span>-->
<!--							<img src="/images/ltjt_icon.png"></img>-->
<!--						</div>-->
					</div>
				</a>
			</div>
			{/foreach}
		</div>

		<script type="text/javascript" src="/static/home/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/home/js/czym_dbk.js"></script>
		  {include file="common/new_footer"/}
	</body>


</html>
