<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>注册</title>
		<link rel="stylesheet" href="/static/home/css/ydui.css">
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<script src="/static/home/js/ydui.flexible.js"></script>

	</head>
	<body style="height: 100%;background-color: #F1F4F8">
		<!--pages/register/register.wxml-->
		<div class="form-cz-box">
			<form id="w0" action="/member/register" method="post">			<!--微信用户头像  -->

				<img style="width: 50%;margin: 0 auto;display: block;padding: 10px 0 20px 0"  src="/static/home/images/logoNew.png"/>
				
			<div class="form-write-box">
				<div class="ipt-box-cl">
					<span>手机号</span>
					<input class="tel" type="number" placeholder='请输入您的手机号码'></input>
					<span class="send-yzm-btn" id="J_GetCode">发送验证码</span>
				</div>
				<div class="ipt-box-cl yzm-k">
					<span>图形验证码</span>
					<input class="tuxingym" type="text" name="code" placeholder='请输入您的图形验证码'></input>
					<div class='verification'>
		                <div class="form-group field-captcha-verifycode">
							<label class="control-label" for="captcha-verifycode"></label>
							<img id="captcha-verifycode-image" src="{:url('login/verify')}"  onclick="this.src='{:url("verify")}?'+'id='+Math.random()"/>
						<div class="help-block"></div>
						</div>
					</div>
				</div>
				<div class="ipt-box-cl">
					<span>手机验证码</span>
					<input class="phoneem" type="text" placeholder='请输入手机验证码'></input>
				</div>
				<div class="ipt-box-cl">
					<span>登陆密码</span>
					<input class="passph" type="password" placeholder='请输入您的登录密码'></input>
				</div>
				<div class="ipt-box-cl">
					<span>邀请码</span>
					<input class="phoneem" id="key" type="text" placeholder='选填'></input>
				</div>
				<button class="btn-form" type="button">立 即 注 册</button>
			</div>
		</div>
		<script src="/static/home/js/jquery-2.1.4.min.js"></script>
		<script src="/static/home/js/ydui.js"></script>
		<script>
			
			var $getCode = $('#J_GetCode');
			var $tel = $(".tel");
			var $phoneEm = $(".phoneem");
			var $passPh = $(".passph");
			var key =$("#key");
			 // key = key.toUpperCase();
			var regedg = /^1[0-9]{10}$/;
			/* 定义参数 */
			$getCode.sendCode({
				disClass: 'btn-disabled',
				secs: 60,
				run: false,
				runStr: '{%s}s重新获取',
				resetStr: '重新获取'
			});
			$getCode.on('click', function() {
				/* ajax 成功发送验证码后调用【start】 */
				if($('input[name=code]').val()==""){
					YDUI.dialog.toast('请先输入图形验证码！', 'none', 1000);
					return;
				}
				if($tel.val()==""){
					YDUI.dialog.toast('请输入您的手机号码！', 'none', 1000);
					return;
				}
				if(!regedg.test($tel.val())){
					YDUI.dialog.toast('请输入正确的手机号码！', 'none', 1000);
					return;
				}
				// YDUI.dialog.loading.open('发送中...');
				$.post("{:url('login/sendCode')}",{tel:$tel.val(),yzm:$('input[name=code]').val()},function(data){
					if(data.code ==1){
						setTimeout(function() {
							$('.yzm-k').hide();
							YDUI.dialog.loading.close();
							$getCode.sendCode('start');
							YDUI.dialog.toast(data.msg, 'success', 1000);
						}, 800);
					}else if(data.code ==2){
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'error', 1000);
						}, 800);
					}else{
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'error', 1000);
						}, 800);
					}
				});
			});
			$(".btn-form").click(function(){
				// alert(key.toUpperCase());
				if($tel.val()==""){
					YDUI.dialog.toast('请输入您的手机号码！', 'none', 1000);
					return;
				}
				if(!regedg.test($tel.val())){
					YDUI.dialog.toast('请输入正确的手机号码！', 'none', 1000);
					return;
				}
				if($phoneEm.val()==""){
					YDUI.dialog.toast('请输入验证码！', 'none', 1000);
					return;
				}
				if($passPh.val()==""){
					YDUI.dialog.toast('请输入您的登陆密码！', 'none', 1000);
					return;
				}
			//	if(key.val()==""){
			//		YDUI.dialog.toast('请输入您的邀请码！', 'none', 1000);
			//		return;
			//	}
				// YDUI.dialog.loading.open('注册中...');
				$.post("{:url('login/doreg')}",{tel:$tel.val(),yzm:$phoneEm.val(),pwd:$passPh.val(),cdkey:key.val(),token:"",key:""},function(data){
					if(data.code ==0){
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'success', 800,function() {
								location.replace('/login');
							});
						}, 1000);
					}else if(data.code ==1){
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'error', 800,function() {});
						}, 1000);
					}else if(data.code ==2){
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'error', 800,function() {});
						}, 1000);
					}else{
						setTimeout(function() {
							YDUI.dialog.loading.close();
							YDUI.dialog.toast(data.msg, 'error', 800,function() {});
						}, 1000);
					}
				});
			})
		</script>
	</body>
</html>
