{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>资讯分类列表</legend>
    </fieldset>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

{include file="common/foot"/}
<script type="text/html" id="barDemo">
    <a href="{:url('Category/edit')}?id={{d.c_id}}" class="layui-btn layui-btn-xs">编辑</a>
</script>
<script type="text/html" id="order">
    <input name="{{d.c_id}}" data-id="{{d.c_id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            elem: '#list',
            url: '{:url("Category/index")}',
            method:'post',
            cols: [[
                {field: 'c_id', title: 'ID编号', fixed: true,width:100, sort: true},
                {field:'c_title', title: '资讯分类名称',fixed: true}
                // ,{field: 'sort',align: 'center',width:150, title: '{:lang("order")}', templet: '#order', sort: true}
                ,{title: '操作',align:'center', toolbar: '#barDemo'}
            ]]
        });
        $('body').on('blur','.list_order',function() {
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post('{:url("Category/order")}',{c_id:id,sort:sort},function(res){
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                    table.reload('loan');
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });

    });
</script>
</body>
</html>