{include file="common/head"/}

<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加信用卡类型</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        {if($type ==1)}   <a href="{:url('recommendAdd')}" class="layui-btn layui-btn-sm">添加更多产品</a> {elseif($type ==0)}
        <div  class="layui-btn layui-btn-sm">添加信用卡类型</div>{else}{/if}

    </blockquote>
    <table class="layui-table" id="list" lay-filter="list"></table>

</div>


{include file="common/foot"/}
<script type="text/html" id="barDemo">

    <button  class="layui-btn layui-btn-xs editType" lay-event="edit" dataId="{{d.id}}" onclick='edit(this)'>编辑</button>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script type="text/html" id="logo">
    <img src="{{d.logo}}" width="20px">
</script>

<!--<script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>-->



<script type="text/html" id="modelRole1">
    <form id="modelRoleForm" lay-filter="modelRoleForm" class="layui-form model-form">
        <input name="bankId" value=18 type="hidden"/>
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">信用卡类型名称</label>
            <div class="layui-input-block">
                <input name="cardName" placeholder="请输入信用卡类型名称" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">下卡金额</label>
            <div class="layui-input-block">
                <input name="grantAmount" placeholder="请输入下卡金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">VIP下卡金额</label>
            <div class="layui-input-block">
                <input name="vipGrantAmount" placeholder="请输入VIP下卡金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">下卡总金额</label>
            <div class="layui-input-block">
                <input name="grantTotal" placeholder="请输入VIP下卡金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">激活金额</label>
            <div class="layui-input-block">
                <input name="activationAmount" placeholder="请输入激活金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">VIP激活金额</label>
            <div class="layui-input-block">
                <input name="vipActivationAmount" placeholder="VIP请输入激活金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">激活总金额</label>
            <div class="layui-input-block">
                <input name="activationTotal" placeholder="VIP请输入激活总金额" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>


        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
            <button class="layui-btn" onclick="submitChange()">提交</button>
        </div>
    </form>
</script>


<script>





    // 显示编辑弹窗
    function showEditModel(mRole) {

    }

</script>






<script>





    layui.use(['table','form'], function() {
        url = '{:url("bankList")}';

        var type = '{$type}';
        if (type==1){
        url  = '{:url("recommendList")}'
        }


        // alert(type);
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            elem: '#list',
            url: url,
            method:'post',
            cols: [[
                {field:'title', title: '信用卡', width:120,fixed: true}
                // ,{field:'cname', title: '所属分类', width:120}
                // ,{field:'logo', title: '商品Logo', width:100,templet: '#logo'}
                ,{field:'jfname', title: '下卡返佣', width:120}
                ,{field:'jfname', title: 'VIP下卡返佣', width:120}
                ,{field:'jfname', title: '激活返佣', width:120}
                ,{field:'jfname', title: 'VIP激活返佣', width:120}
                ,{field:'jfname', title: '信用卡总', width:120}
                // ,{field:'jftel', title: '甲方手机号', width:200}
                // ,{field: 'sort',align: 'center',title: '{:lang("order")}', width: 120, templet: '#order', sort: true}
                ,{width:200,title: '操作',align:'center', toolbar: '#barDemo'}
            ]]
        });
        $('body').on('blur','.list_order',function() {
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post('{:url("bankOrder")}',{id:id,sort:sort},function(res){
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                    table.reload('loan');
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("确定要删除吗？")}', function(index){
                    $.post("{:url('bankDel')}",{id:data.id},function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });

    function close() {



    }

</script>




</body>
<script defer="defer">




    function edit(e) {
        window.cardId = e.getAttribute('dataId')
        let html = document.getElementById('modelRole1')
        layer.open({
            type: 1,
            title: '修改信用卡',
            content: html.innerHTML,
            success: function () {
               return false
            }
        });

    }
    function submitChange(){
        let cardName = getNameEl('cardName')
        let grantAmount = getNameEl('grantAmount')
        let vipGrantAmount = getNameEl('vipGrantAmount')
        let grantTotal = getNameEl('grantTotal')
        let activationAmount = getNameEl('activationAmount')
        let vipActivationAmount = getNameEl('vipActivationAmount')
        let activationTotal = getNameEl('activationTotal')
        let id = window.cardId
        let obj = {
            cardName,
            grantAmount,
            vipGrantAmount,
            grantTotal,
            activationAmount,
            vipActivationAmount,
            activationTotal,
            id
        }
        fetch('#url',{
            data: JSON.stringify(obj),
            method: 'post'
        }).then(response => {
            return response
        }).then(res => {
            console.log(res)
        })
    }

    function getNameEl(name) {
        return document.getElementsByName(name)
    }
</script>
</html>