{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>修改卡种{$card}</legend>
    </fieldset>

    <input type="hidden" id="bank_id" value="{$id}" />
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="name" id="name" placeholder="{:lang('pleaseEnter')}卡种名称">
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="grant" id="grant" placeholder="{:lang('pleaseEnter')}下卡佣金">
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="vip_grant" id="vip_grant" placeholder="{:lang('pleaseEnter')}vip下卡佣金">
        </div>

        <div class="layui-inline">
            <input class="layui-input" name="grant_total" id="grant_total" placeholder="{:lang('pleaseEnter')}下卡总佣金">
        </div>

        <div class="layui-inline">
            <input class="layui-input" name="activation" id="activation" placeholder="{:lang('pleaseEnter')}激活佣金">
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="vip_activation" id="vip_activation" placeholder="{:lang('pleaseEnter')}vip激活佣金">
        </div>

        <div class="layui-inline">
            <input class="layui-input" name="total_activation" id="total_activation" placeholder="{:lang('pleaseEnter')}激活总佣金">
        </div>




        <button class="layui-btn" id="search" data-type="reload">添加</button>
<!--        <button type="button" class="layui-btn layui-btn-danger" id="bohuiAll">批量驳回</button>-->
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}
<script type="text/html" id="status">
    {{# if(d.status==1){ }}
    <button class="layui-btn layui-btn-xs">待审核</button>
    {{# }else if(d.status==2){  }}
    <button class="layui-btn layui-btn-xs layui-btn-danger">已驳回</button>
    {{# }else{  }}
    <button class="layui-btn layui-btn-xs layui-btn-warm">通过</button>
    {{# } }}
</script>
<script type="text/html" id="action">

    {{# if(d.status==0){ }}
    已通过
    {{# }else if(d.status==2){  }}
    已驳回
    {{# }else{  }}
    <a class="layui-btn layui-btn-sm" lay-event="tongguo"><i class="layui-icon">&#xe605;</i>通过</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger"  lay-event="bohui"><i class="layui-icon">&#x1006;</i>驳回</a>
    {{# } }}
</script>
<script type="text/html" id="cha">
    <a class="layui-btn layui-btn-sm layui-btn-danger"  lay-event="cha"><i class="layui-icon">&#xe615;</i>查看</a>
</script>
<script>



    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        url = url = '{:url("Product/queryCardByBankId")}';
        var tableIn = table.render({
            id: 'bank',
            elem: '#list',
            url: url,
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'name', title: '信用卡名称', width: 80},
                {field: 'grant', title: '下卡返佣', width: 80},
                {field: 'vip_grant', title: 'vip下卡返佣', width: 150},
                {field: 'grant_total', title: '下卡总佣金', width: 150},
                {field: 'activation', title: '激活返佣', width: 150},
                {field: 'vip_activation', title: 'vip激活返佣', width: 150,toolbar: '#status'},
                {field: 'activation_total', title: 'vip总佣金', width: 80},

                {title: '查看返佣',width: 200, align: 'center', toolbar: '#cha'},
                {title: '操作',width: 200, align: 'center', toolbar: '#action'}
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function() {
            var name = $('#name').val();
            var grant = $('#grant').val();
            var vip_grant = $('#vip_grant').val();
            var grant_total = $('#grant_total').val();

            var activation = $('#activation').val();
            var vip_activation = $('#vip_activation').val();
            var activation_total = $('#activation_total').val();
            var bank_id = $('#bank_id').val();

            var data = {
                'name' : $('#name').val(),
                'grant' :$('#grant').val(),
                'vip_grant' : $('#vip_grant').val(),
                'grant_total' : $('#vip_grant').val(),


                'activation': $('#activation').val(),
                'vip_activation' : $('#vip_activation').val(),
                'activation_total' : $('#activation_total').val(),

                'bank_id' : $('#bank_id').val()
            }

            if($.trim(data)==='') {
                $.post("{:url('product/cardTypeAdd')}",{data:data},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            tableIn.reload();
                        });
                    }else{
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            tableIn.reload();
                        });
                    }
                });
            }

        });
        //数据操作
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'tongguo'){
                layer.confirm('您确定要通过这条数据吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('data/banktg')}",{id:data.id},function(res){
                        layer.close(loading);

                            layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                                tableIn.reload();
                            });

                    });
                    layer.close(index);
                });
            } else if(obj.event === 'bohui'){
                layer.confirm('您确定要驳回这条数据吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('data/bohui')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                                tableIn.reload();
                            });
                        }else{
                            layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                                tableIn.reload();
                            });
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'cha'){
                var id = data.id;
                layer.open({
                    type: 2,
                    title: '返佣详情',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['893px', '200px'],
                    content: '/order/fanyong/'+id,
                });
            }
        });
        $('#bohuiAll').click(function(){
            layer.confirm('确认要批量驳回吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('bank'); //test即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('data/bohuiAll')}", {ids: ids}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })
    });
</script>
</body>
</html>