{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        {if($type ==1)}   <a href="{:url('recommendAdd')}" class="layui-btn layui-btn-sm">添加更多产品</a> {elseif($type ==0)}
        <a href="{:url('bankAdd')}" class="layui-btn layui-btn-sm">添加信用卡</a>{else}{/if}

    </blockquote>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

{include file="common/foot"/}
<script type="text/html" id="barDemo">
    <a href="{:url('bankEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    {if($type ==0)}
    <a href="{:url('addCreditCardType')}?id={{d.id}}" class="layui-btn layui-btn-xs">添加卡种</a>
    {/if}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script type="text/html" id="logo">
    <img src="{{d.logo}}" width="20px">
</script>
<script>
    layui.use(['table','form'], function() {
        url = '{:url("bankList")}';

        var type = '{$type}';
        if (type==1){
        url  = '{:url("recommendList")}'
        }


        // alert(type);
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            elem: '#list',
            url: url,
            method:'post',
            cols: [[
                {field:'title', title: '商品名称', width:120,fixed: true}
                // ,{field:'cname', title: '所属分类', width:120}
                ,{field:'logo', title: '商品Logo', width:100,templet: '#logo'}
                ,{field:'jfname', title: '甲方姓名', width:120}
                ,{field:'jftel', title: '甲方手机号', width:200}
                ,{field: 'sort',align: 'center',title: '{:lang("order")}', width: 120, templet: '#order', sort: true}
                ,{width:200,title: '操作',align:'center', toolbar: '#barDemo'}
            ]]
        });
        $('body').on('blur','.list_order',function() {
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post('{:url("bankOrder")}',{id:id,sort:sort},function(res){
                if(res.code === 1){
                    layer.msg(res.msg, {time: 1000, icon: 1});
                    table.reload('loan');
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("确定要删除吗？")}', function(index){
                    $.post("{:url('bankDel')}",{id:data.id},function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>
</body>
</html>