
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户评论</title>
		<link rel="stylesheet" href="/static/home/css/product.css" />
		<link rel="stylesheet" href="/static/home/css/style.css?1" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<style>
			body {
				background-color: #f1f4f8
			}
			.estimate-box {
				padding: 15px;
				margin-top: 1px;
				background-color: #fff;
				display: flex;
			}
		</style>
	</head>
	<body>
		<div class="comment-box" style="padding-bottom: 60px" id="app" v-cloak>
			<div class="record-head-box" style="margin-top: 0;border-bottom: 15px solid #f1f4f8">
			<span><a href="/product/bank/{$bank.id}">产品介绍</a> <span></span></span>
			<!-- <span><a href="/bank/jiesuan/{$bank.id}">奖金结算</a><span></span></span> -->
			<span class="active"><a href="/bank/msg/{$bank.id}">产品评价</a><span></span></span>
		</div>
		{foreach $msg as $v}
			<div class="estimate-box" v-for="item in info">
				<img src="{$v.headpic}" alt="">
				<div class="estimate-ms-box">
					<span>{$v.nickname}</span>
					<span class="estimate-datext">{$v.add_time|date=('Y-m-d H:i:s')}</span>
					<span>{$v.content}</span>
				</div>
			</div>
		{/foreach}
						<a href="/bank/addcomment/{$bank.id}" class="btn-fbpl">
				<img src="/static/home/images/fbpl.png"/>
			</a>
			<div class="service-agency-box">
				<div class="service-agency-box">
				<div class="btn-service">
					<a href="/bank/url/{$bank.id}/{$vid}">
						我要申请
					</a>
				</div>
				<div class="btn-agency">
					{if($userinfo.lev_id < 2)}
				<a href="javascript:;" id="daili" ids={$bank.id}>代理本产品</a>
				{else}
					<a href="/bank/tgqr/{$bank.id}">代理本产品</a>
				{/if}
				</div>
			</div>
			</div>
		</div>
<script src="/static/home/js/jquery-1.12.4.min.js"></script>
		<script>
			$('#daili').click(function(){
				var id = $('#daili').attr('ids');
				$.post("{:url('loan/checkUser')}",{id:id},function(data){
					if (data.code ==1) {
						alert(data.msg)
					}else{
						location.replace("/loan/tgqr/{$loan.id}");
					}
				})
			})
		</script>
	</body>
</html>