{include file="common/head"/}
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>资讯信息编辑</legend>
    </fieldset>
     <form class="layui-form">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="htitle" required="" lay-verify="required"
                  autocomplete="off" class="layui-input"  style="width:1024px" value="{$art.htitle}">
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>分类</label>
              <div class="layui-input-block">
              {foreach $cate as $v}
                <input type="radio" name="c_id" {if($art.c_id == $v.id)} checked {/if} value="{$v.id}" title="{$v.title}">
                {/foreach}
              </div>
          </div>
          <div class="layui-form-item">
              <label for="sort" class="layui-form-label">
                  <span class="x-red">*</span>排序
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="L_repass" name="sort" required="" lay-verify="sort"
                  autocomplete="off" class="layui-input" value="{$art.sort}">
              </div>
              <div class="layui-form-mid layui-word-aux">填数字,数字越小越靠前</div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>是否推荐</label>
              <div class="layui-input-inline">
                <input type="radio" name="is_tui" value="0" {if($art.is_tui == 0)} checked {/if} title="不推荐">
                <input type="radio" name="is_tui" value="1" {if($art.is_tui == 1)} checked {/if}  title="推荐">
              </div>
              <div class="layui-form-mid layui-word-aux">系统公告可以不推荐</div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <input type="hidden" name="content" id="image">
            <div class="layui-input-block">
                <script name="content" id="editor" type="text/plain" style="width:1024px;height:500px;"><?php echo htmlspecialchars_decode($art['content']);?></script>
            </div>
        </div>
		<input type="hidden" name="id" value="{$art.id}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('artindex')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="/static/common/js/angular.min.js"></script>
<script>
    var ue = UE.getEditor('editor');
    layui.use(['form','layer'], function(){
        $ = layui.jquery;var form = layui.form,layer = layui.layer;
          //监听提交
	         form.on('submit(submit)', function (data) {
	            loading =layer.load(1, {shade: [0.1,'#fff']});
	            $.post("{:url('artUpdate')}", data.field, function (res) {
	                layer.close(loading);
	                if (res.code > 0) {
	                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
	                        location.href = res.url;
	                    });
	                } else {
	                    layer.msg(res.msg, {time: 1800, icon: 2});
	                }
	            });
	        });

        });
</script>