{include file="common/head"/}
<div class="admin-main fadeInUp animated">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>帮助中心分类编辑</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <input TYPE="hidden" name="id" value="{$cate.id}">
        
        <div class="layui-form-item">
            <label class="layui-form-label">栏目名称</label>
            <div class="layui-input-4">
                <input type="text" name="title" lay-verify="required" value="{$cate.title}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux red">*</div>
        </div>
          <div class="layui-form-item">
            <label class="layui-form-label">分类LOGO</label>
            <input type="hidden" name="img" id="image" value="{$cate.img}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="cateImage" src="{$cate.img}" width="80px">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
              <label for="sort" class="layui-form-label">
                  <span class="x-red">*</span>排序
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="L_repass" name="sort" required="" lay-verify="sort"
                  autocomplete="off" class="layui-input" value="{$cate.sort}">
              </div>
              <div class="layui-form-mid layui-word-aux">填数字,数字越小越靠前</div>
          </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="/static/common/js/jquery.2.1.1.min.js"></script>
<script>
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;var form = layui.form,upload = layui.upload,layer = layui.layer;
			var uploadInst = upload.render({
	            elem: '#cateBtn',
	            url: '{:url("UpFiles/upload")}',
	            done: function(res){
	                if(res.code>0){
	                    $('#image').val(res.url);
	                    $('#cateImage').attr('src', res.url);
	                }else{
	                    //如果上传失败
	                    return layer.msg('上传失败');
	                }
	            },
	            error: function(){
	                //演示失败状态，并实现重传
	                var demoText = $('#demoText');
	                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
	                demoText.find('.demo-reload').on('click', function(){
	                    uploadInst.upload();
	                });
	            }
			 });

          //监听提交
	         form.on('submit(submit)', function (data) {
	            loading =layer.load(1, {shade: [0.1,'#fff']});
	            $.post("{:url('help/cateUpdate')}", data.field, function (res) {
	                layer.close(loading);
	                if (res.code > 0) {
	                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
	                        location.href = res.url;
	                    });
	                } else {
	                    layer.msg(res.msg, {time: 1800, icon: 2});
	                }
	            });
	        });

        });
</script>