@charset "utf-8";
body,div,p,ul,li,a,img,span,h4,h3,h2{margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration: none; color:#a7a7a7;border:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none;}
div,input,form,span,a,li,p{box-sizing:border-box;}
img{border-style:none;}
ul {list-style: none;}
em{font-style: normal;}
body{background-color:#f1f4f8;max-width:640px;min-width:320px;font-family:Helvetica,Arial,"Microsoft Yahei",STHeiTi,sans-serif;overflow:auto;}
svg{vertical-align: middle;background-color:#eee;}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #cdcdcd !important; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #cdcdcd !important; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #cdcdcd !important; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #cdcdcd !important; 
}
input[type="text"],input[type="submit"] {-webkit-appearance: none;outline:none}

/*推广链接*/
.tui-lj-div{/*background:url(../images/tuibgd.png)no-repeat left top;background-size:100%;*/position: relative;}
.tui-lj-div-img{width:100%;display: block;height: 100%}
.tui-lj{z-index: 999;width: 90%; background-color:#fff;padding:0 20px 30px 20px;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);border-radius:4px;text-align: center;color:#2d2d2d;}
.tui-lj-li{display: inline-block;font-size:0.875rem;}
.tui-lj-li img{width:60px;height:60px;display: block;margin-bottom: 10px;}
.tui-lj ul{text-align: justify;margin-top:30px;}
.tui-lj ul:after{content: "";display: inline-block;width:100%;height:0;}
.tui-lj h2{font-size:1.25rem;font-weight: 600;margin-bottom:30px;}
.tui-lj input[type="tel"],.tui-lj input[type="number"],.tui-lj input[type="text"]{border-bottom:1px solid #ebebeb;border-top:none;border-left:none;border-right:none;line-height: 30px;width:100%;border-radius: 3px;padding:10px 10px 10px 30px;font-size:15px !important;}

.tui-lj input[type="number"]{background-image: url(../images/yanzheng.png) ;background-size: 16px;background-repeat:no-repeat;background-position:left 6px center;  }
.tui-lj .daili-input-yzm button{position: absolute;right:10px;top:15px;font-size:0.875rem;color:#5190e7;background:none;border:none;-webkit-appearance: none;border-radius: 0;}
.tui-lj input[type="button"],.tui-lj input[type="submit"]{border:none;height:40px;line-height: 40px;width:100%;border-radius: 3px;-webkit-appearance:none;outline:none;font-size:1rem !important;margin-top:20px;}

.tui-lj form{width:100%;}
.tui-lj input[type="tel"]{background:url(../images/sj.png)no-repeat left 5px center;background-size:20px;}
.yhka{background:url(../images/user.png)no-repeat left 5px center;background-size:20px;}
.sfzhao{background:url(../images/sfz.png)no-repeat left 5px center;background-size:20px;}
@media only screen and (max-width:320px){
    .tui-lj ul{text-align: justify;margin-top:20px !important;}
    .tui-lj h2{font-size:1.25rem;font-weight: 600;margin-bottom:20px !important;}
}

    .tui-head-box{width: 70%;background-color: #4F90E7;margin: 0 auto;border-radius: 0 0 10px 10px;margin-bottom: 14px;}
    .tui-head-box p{text-align: center;color: #fff;padding: 8px 0;font-size: 15px !important;}
    .tui-lj-div img{width:100%;display: block;height: 100%;}
    .msms-ag{padding-top:10px;}
    .msms-ag p{font-size: 12px;color: #98A7B8;display: block;padding: 2px 10px;text-align: left;}
    .radio-tgul-box{margin-top: 10px;position: relative;line-height: 30px;text-align: left;}
    .radio-tgul-box input{display: inline-block;vertical-align: middle;margin-top: 0px;}
    .radio-tgul-box span{display: inline-block;font-size: 14px;vertical-align: middle;}
    .radio-tgul-box span a{color: #4F90E7}
        input[type="radio"] {width: 16px;height: 16px;opacity: 0;}
        
        label {position: absolute;left: 5px;top: 50%;transform: translateY(-50%);width: 16px;height: 16px;border-radius: 50%;border: 1px solid #999;}
        
        /*设置选中的input的样式*/
        /* + 是兄弟选择器,获取选中后的label元素*/
        input:checked+label {background-color: #4F90E7;border: 1px solid #4F90E7;}
        
        input:checked+label::after {position: absolute;content: "";width: 5px;height: 10px;top: 50%;left: 50%;border: 2px solid #fff;border-top: none;border-left: none;transform: translate(-50%,-50%) rotate(45deg)}
/**/
.marck{background-color: rgba(0,0,0,0.5);width: 100%;height: 100%;position: fixed;left: 0;top: 0;}
.return-top{position: fixed;width: 50px;height: 50px;display:none;bottom: 10%;right: 6%;background: url(../images/retunTop.png);background-repeat: no-repeat;background-size: 100% 100%;}
.btnsq-box{position: fixed;bottom: 0;left: 0;width: 100%;background-color: #fff;border-top: 1px solid #eee;}
.btnljsq{background-color: #4F90E7;width: 90%;font-size: 18px;color: #fff;border-radius: 5px;border-style: none;text-align: center;display: block;margin: 10px auto;height: 45px;}
input.btnljsq {-webkit-appearance:none; /*去除input默认样式*/}