{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>支付配置</legend>
    </fieldset>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">支付宝配置</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane" lay-filter="form-system">
                    <div class="layui-form-item">
                        <label class="layui-form-label">APPID</label>
                        <div class="layui-input-4">
                            <input type="text" name="appid" lay-verify="required" placeholder="{:lang('pleaseEnter')}支付宝APPID" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">RSA密钥</label>
                        <div class="layui-input-4">
                            <input type="text" name="rsakey" lay-verify="rsakey" placeholder="{:lang('pleaseEnter')}RSA密钥" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付宝密钥</label>
                        <div class="layui-input-4">
                            <input type="text" name="alipaykey" lay-verify="required" placeholder="{:lang('pleaseEnter')}支付宝密钥" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">回调地址</label>
                        <div class="layui-input-4">
                            <input type="text" placeholder="{$pay.url}/index/pay/hddz" class="layui-input" disabled="">
                        </div>
                        <div class="layui-form-mid layui-word-aux">将网址填入企业支付宝对应地址</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付网关</label>
                        <div class="layui-input-4">
                            <input type="text" placeholder="{$pay.url}/index/pay/yywg" class="layui-input" disabled="">
                        </div>
                        <div class="layui-form-mid layui-word-aux">将网址填入企业支付宝对应地址</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="sys">{:lang('submit')}</button>
                            <button type="reset" class="layui-btn layui-btn-primary">{:lang('reset')}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer','upload','element'], function () {
        var form = layui.form,layer = layui.layer,upload = layui.upload,$ = layui.jquery,element = layui.element;
        var seytem = {$system|raw};
        form.val("form-system", seytem);
        //提交监听
        form.on('submit(sys)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('system/alipay')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{icon: 1, time: 1000},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{icon: 2, time: 1000});
                }
            });
        })
    })
</script>
</body>
</html>