{include file="common/head"/}
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加额度</legend>
    </fieldset>
    <form class="layui-form" lay-filter="form">
          <div class="layui-form-item">
              <label for="min" class="layui-form-label">
                  <span class="x-red">*</span>满多少（元）
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="min" name="min" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <label for="prize" class="layui-form-label">
                  <span class="x-red">*</span>送多少（元）
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="prize" name="prize" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>       
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="hidden" name="admin_id">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('adminList')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
      </form>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer','upload'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload; 
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });
    });
</script>