{include file="common/head"/}
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>修改额度</legend>
    </fieldset>
    <form class="layui-form" lay-filter="form">
          <div class="layui-form-item">
              <label for="min" class="layui-form-label">
                  <span class="x-red">*</span>满多少（元）
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="min" name="min" value="{$prize.min}" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <label for="prize" class="layui-form-label">
                  <span class="x-red">*</span>送多少（元）
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="prize" name="prize" value="{$prize.prize}"  required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>       
          <input type="hidden" name="id" value="{$prize.id}">
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="save" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
{include file="common/foot"/}
    <script>
    layui.use(['form', 'layer','upload'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload; 

          //监听提交
          form.on('submit(save)', function(data){
                loading =layer.load(1, {shade: [0.1,'#fff']});
                $.post("{:url('prize/prizeUpdate')}",data.field,function(res){
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                    }else{
                        layer.msg(res.msg,{icon: 2, time: 1000});
                    }
                });
                return false;
              });
          
          
        });
    </script>