{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>额度列表</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <a href="{:url('prizeAdd')}" class="layui-btn layui-btn-sm">添加额度</a>
    </blockquote>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

{include file="common/foot"/}
<script type="text/html" id="barDemo">
    <a href="{:url('prizeEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('del')}</a>
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form,$ = layui.jquery;
        var tableIn = table.render({
            elem: '#list',
            url: '{:url("prizeList")}',
            method:'post',
            cols: [[
                {field: 'id', title: '{:lang("id")}', width: 80, fixed: true},
                {field:'min', title: '满额', width:120,fixed: true}
                ,{field:'prize', title: '送多少（元）', width:180}
                ,{width:160,title: '操作',align:'center', toolbar: '#barDemo'}
            ]]
        });
        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("确定要删除吗？")}', function(index){
                    $.post("{:url('prizeDel')}",{id:data.id},function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>
</body>
</html>