* {
    margin: 0;
    padding: 0;
    font-family: "PingFang SC";
    color: black;
}

.wrapper {
    max-width: 798px;
    color: #ccc;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.head {
    background: #f7f7f9;
    text-align: center;
    padding: 1rem 0 1rem;
}

.head-img {
    width: 100%;
}
.head h3{
    color: black;
    font-size: 20px;
    margin: 10px 0;
}
.tags span{
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 6px;
    font-weight: bold;
}
.tags .orange{
    border: 1px solid #dfac41;
    color: #dfac41;

}
.tags .blue{
    border: 1px solid #7da3f8;
    color: #7da3f8;
}
.tags .red{
    border:1px solid #cf7074;
    color: #cf7074;
}
.content{
    padding: 1.2rem 0;
    width: 86%;
    margin:0 auto;

}
.info{
    margin-bottom: 1.5rem;
}
.info h4{
    position: relative;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0.7rem;

}
.info h4:before{
    content:"";
    position: absolute;
    top: -2px;
    left: -10px;
    width: 5px;
    height: 25px;
}
.info .orange:before{
    background: #ed8838;
}
.info .red:before{
    background: #ec575d;
}
.text p{
    font-size: 16px;
    line-height: 1.5;
}
.button{
    margin-bottom: 10px;
}
.button a{
    display: block;
    background-image: linear-gradient(135deg, #408df7 0, #63bbfb 100%);
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 40px;
    font-weight: bold;
    width: 50%;
    float: left;
}
.clear1{
    clear: both;
}
