@charset "utf-8";
body,div,p,ul,li,a,img,span,h4,h3,h2{margin:0;padding:0;}
a:link,a:visited,a:hover,a:active{text-decoration: none; color:#a7a7a7;border:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none;}
div,input,form,span,a,li,p{box-sizing:border-box;}
img{border-style:none;}
ul {list-style: none;}
em{font-style: normal;}
body{background-color:#f1f4f8;max-width:640px;min-width:320px;font-family:Helvetica,Arial,"Microsoft Yahei",STHeiTi,sans-serif;overflow:auto;}
svg{vertical-align: middle;background-color:#eee;}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #cdcdcd !important; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #cdcdcd !important; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #cdcdcd !important; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #cdcdcd !important; 
}
input[type="text"],input[type="submit"] {-webkit-appearance: none;outline:none}

h4{font-size:1rem;line-height:1.4rem;color:#3c3c3c;font-weight: normal;}
h3{color:#000;font-weight: normal;font-size:1.125rem;}
h2{font-size:1.25rem;line-height:2rem;}
.wdfanhui{background-color:#fff;color:#1a181e;font-size:1.125rem;text-align:center;height:50px;position:fixed;top:0;left:0;width:100%;max-width:640px;line-height: 50px;z-index: 9999;}
.wdfanhui:after{height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.wdfanhui a{display: inline-block;width:20px;height:20px;background:url(../images/fanhui.svg) no-repeat;position:absolute;top:15px;left:10px;}
.bgd_white{background-color:#fff !important;}
.footer{background-color:#fff;text-align:justify;padding:6px 5%;font-size:0;position:fixed;left:0;bottom:0;width:100%;max-width: 640px;border-top: 1px solid #eee;}
.footer:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';vertical-align:top;}
.ftrbtn{text-align:center;display:inline-block;}
.ftrbtn a{display: block;}
.ftrbtn img{display:block;margin:0 auto;}
.footer .ftrbtn:nth-child(1) img{width:34px;margin-bottom:3px;} 
.footer .ftrbtn:nth-child(2) img{width:24px;margin-bottom:2px;} 
.footer .ftrbtn:nth-child(3) img{width:28px;margin-bottom:5px;} 
.footer .ftrbtn:nth-child(4) img{width:24px;margin-bottom:2px;}
.ftrbtn span{font-size:0.75rem;color:#939393;}
.orange{color:#fb5b5d !important;}
.cheng{height:55px;}
.cheng2{height:50px;}
.mgntop-1{margin-top:1rem;}
.blue{color:#4f90e7 !important;}
.bluebgd{background-color:#4f90e7 !important;color:#fff !important;}
.orangebgd{background-color:#ffac74 !important;}
.line-bottom:after { height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.line-bottom,.line-right{position: relative;}
.line-right:after{ height:100%;content:' ';width:1px;border-right:1px solid #ebebeb;position:absolute;top:0;right:-1px; transform:scaleX(0.5);-webkit-transform:scaleX(0.5);z-index:10;}
.ge-gray-bgd {background-color: #f5f5f5;height: 1rem;}
.f-photo{display: inline-block;position: fixed;background-color:#4f90e7;background-image: url(../images/xiangji2.png);background-size: 26px;background-repeat: no-repeat;background-position: center;width:40px;height:40px;border-radius:50%;bottom:40px;right:20px;z-index:888;box-shadow:0px 2px 2px #ccc; }
.a-gray{background-color: #ccc !important;}


/*首页*/
@media only screen and (min-width: 320px)and (max-width: 350px){
.lei{width:15% !important;margin-left:5% !important;margin-right:5% !important;text-align:center;display: inline-block;font-size:0.75rem;}
.idxnews p{font-size:0.875rem;} 
}

.banner1{font-size: 0;position:relative;}
.banner1 img{width:100%;}
.leiz{background-color:#fff;padding:1rem 0;font-size:0;}
.lei{width:14%;margin-left:5.5%;margin-right:5.5%;text-align:center;display: inline-block;font-size:0.75rem;}
.lei img{width:100%;}
.lei a{color:#000;}
.leiz>ul>li:nth-child(1){margin-bottom:10px;}
.leiz>ul>li:nth-child(5){margin-top:10px;}
.lei2 img{margin-bottom: 5px;}
.lei2{margin-bottom: 0 !important;}
.lei3{margin-bottom: 0 !important;}
.lei4{margin-bottom: 10px !important;}

.search {position: absolute;bottom:10px;left: 50%;width: 80%;border-radius: 20px;height: 36px;margin: 10px auto;margin-left: -40%; background-color: rgba(255,255,255,0.2);}

.search input[type="text"] {border: none;width:90%;border-radius:20px;height:36px;text-align: left;font-size: 0.875rem;background-color: rgba(0,0,0,0);
    color: #fff;display: inline-block;vertical-align: top;padding-left:20px;}
 .search input[type="submit"]{background-image: url(../images/search.svg);background-size: 20px 20px;background-position: left center;background-repeat: no-repeat;display: inline-block;width:10%;height:36px;content: "";background-color:rgba(0,0,0,0);border:none;}

/*带图文章列表组件1*/
.idxnews{background-color:#fff;margin-top:0.75rem;}
.idxnews_title{border-bottom: 1px solid #eee;padding:10px;color:#3c3c3c;}
.idxnews_title a{display:inline-block;float:right;font-size:0.75rem;color:#999999;margin-top:2px;}
.idxnews_title a img{width:16px;height:16px;vertical-align:top;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1); margin-right:-3px;}
.newlist a{padding:14px 2.6% 14px 110px;border-bottom: 1px solid #eee;position:relative;height:108px;display:block}
.newlist img{width:80px;height:80px;margin-right:2.6%;position:absolute;top:14px;left:14px;}
.newlist span{font-size:0.875rem;}
.newlist .time{position: absolute;bottom:10px;right:2.6% !important;color:#999;left:inherit;font-size:0.875rem;}
.newlist span{position: absolute;bottom:10px;left:110px;color:#999;text-indent:-6px;}
.newlist h4{display: -webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;font-size:17px;line-height: 1.6rem;}

/*带图文章列表组件2*/
.idxnews2{background-color:#fff;}
.newlist2 h4{color:#2e2d2d !important;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.newlist2 a{padding:14px 14px 14px 178px;border-bottom: 1px solid #eee;position:relative;height:122px;display:block}
.newlist2 img{width:150px;height:94px;position:absolute;top:14px;left:14px;}
.newlist2span1{font-size:0.75rem;margin-top:8px;display: block;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.newlist2span2{color:#fb5b5d;display: inline-block;border:1px solid #fb5b5d;padding:4px 8px;position: absolute;bottom:14px;right:14px;border-radius:2px;font-size:0.75rem;}
/*2*/

.article{padding:16px 16px 30px 16px;background-color:#fff;color:#2e2d2d;line-height:1.6rem;}
.article img{width:100%;}
.article h2{margin-bottom:10px;font-size:1.5rem;}
.article p{font-size:1.07rem;line-height:1.8rem;}
.bgdtui{width:100%;position: relative;}
.tuibgd{width:100%;}
.tips{width:100%;margin:6px auto;background-color:#f64e4e;color:#fff;padding:10px;}
.bodyclr{background-color:#202237;}
.tuitou{width:60px;height:60px;position: absolute;top:220px;left:50%;z-index:99;border-radius: 50%;margin-left:-30px;}
.tuima{width:140px;height:140px;position: absolute;top:300px;left:50%;z-index:888;margin-left:-70px;}
.bgdtui span{position:absolute;top:460px;left:50%;z-index:888;margin-left:-56px;color:#fff;font-size:1.75rem;}
@media only screen and (max-width:320px){
    .tuitou{width:60px;height:60px;position: absolute;top:180px;left:50%;z-index:99;border-radius: 50%;margin-left:-30px;}
.tuima{width:140px;height:140px;position: absolute;top:260px;left:50%;z-index:888;margin-left:-70px;}
.bgdtui span{position:absolute;top:410px;left:50%;z-index:888;margin-left:-56px;color:#fff;font-size:1.5rem;}
}
@media only screen and (min-width:412px){
    .tuitou{width:60px;height:60px;position: absolute;top:250px;left:50%;z-index:99;border-radius: 50%;margin-left:-30px;}
.tuima{width:140px;height:140px;position: absolute;top:340px;left:50%;z-index:888;margin-left:-70px;}
.bgdtui span{position:absolute;top:500px;left:50%;z-index:888;margin-left:-56px;color:#fff;font-size:1.75rem;}
}

.articleInfo{color:#767676;position: relative;padding:0 0 16px 60px;font-size:0.875rem;margin:16px 0;}
.articleInfo img{width:50px;height:50px;position: absolute;left:0;top:0;border-radius: 50%;margin:0;}
.articleInfo span{display: block;}
.articleInfo time{color:#a5b3c6;}
.article-bottom{padding:16px;background-color:#fff;width:100%;margin:30px 0;text-align: center;}
.article-bottom img{width:100%;display: block;}
.article-bottom div{display:table-cell;vertical-align: middle;}
.article-bottom div:first-child{width:80%;text-align: left;}
.article-bottom h2{margin-bottom: 4px;}
.article-bottom em{color:#767676;font-style: normal;margin-right: 4px;}
.article-bottom span{font-size: 0.875rem;}

/*文章推荐块*/
.article-jian-top{width:90%;border-bottom: 1px solid #e1e1e1;position: relative;margin:40px auto;}
.article-jian-top span{position: absolute; display: inline-block;width:80px;text-align: center;height:30px;top:-15px;left:50%;margin-left:-40px;background-color:#f5f5f5;line-height: 30px;font-size:0.875rem;color:#999;}
.article-jian-li{background-color:#fff;display: inline-block;width:300px;margin-left:16px;}
.wd_list2 .wd_list2-b{top:18px;padding: 4px 6px;}
.article-jian{margin-bottom:20px;overflow: scroll;}
.article-jian ul{overflow-x:scroll;height:90px;width:638px;padding-right:16px;overflow-y:hidden;}
@media only screen and (max-width:320px){
   .article-jian-li{width:260px;}
   .article-jian ul{overflow:scroll;height:90px;width:844px;overflow-x:scroll;height:90px;width:558px;overflow-y:hidden;}
}




/*快速网贷*/
.wdlists{background-color:#fff;margin-top:50px;}
.wdlists-mgn-1{margin-top:1rem !important;margin-bottom: 1rem !important;}
.wd_list a{padding:18px 15px 18px 86px;height:82px;position: relative;border-bottom:1px solid #eee;display:block;}
.wd_list img{width:46px;height:46px;position:absolute;top:18px;left:15px;border:1px solid #eee;}
.wd_list .wdimg{border:none;}
.wd_list p{font-size:0.875rem;position:absolute;bottom:15px;left:86px;white-space: nowrap;text-overflow:ellipsis;width:70%;overflow: hidden;}
.wd_list span{display:inline-block;border:1px solid #4f90e7; color:#4f90e7;position: absolute;top:15px;right:15px;padding:3px 8px;font-size:0.75rem;border-radius:2px;}

.wdlists3{background-color:#fff;margin-top:50px;font-size:0;}
.wd_list3{width:50%;display: inline-block;border-bottom:1px solid #ebebeb;border-right:1px solid #ebebeb;}
.wd_list3:nth-child(2n){border-right:none;}
.wd_list3 a{padding:14px 14px 14px 76px;height:70px;position: relative;display:block;}
.wd_list3 img{width:42px;height:42px;position:absolute;top:14px;left:14px;}
.wd_list3 p{font-size:0.875rem;white-space: nowrap;text-overflow:ellipsis;width:70%;overflow: hidden;width:100px;color:#b2b2b2;}
.wd_list3 span{display:inline-block;border:1px solid #fb5b5d; color:#fb5b5d;position: absolute;top:19px;right:19px;padding:3px 8px;font-size:0.75rem;border-radius:2px;}
.wd_list3 h3{font-size:1rem !important;margin-bottom: 4px;}

@media only screen and (max-width:320px){
    .wd_list3 p{width:80px !important;}
    .wd_list3 img{width:42px !important;height:42px !important;}
    .wd_list3 a{padding:14px 14px 14px 76px !important;height:70px !important;}
}

.wd_list1 a{padding:15px 15px 15px 86px;position: relative;border-bottom:1px solid #eee;display:block;}
.wdimg1{width:50px;height:50px;position:absolute;top:50%;left:15px;margin-top:-25px;}
.wd_list1 p{font-size:0.875rem;white-space: nowrap;text-overflow:ellipsis;width:70%;overflow: hidden;margin-top:10px;}
.wd_list1 span{display:inline-block;border:1px solid #fb5b5d; color:#fb5b5d;position: absolute;top:15px;right:15px;padding:3px 8px;font-size:0.75rem;border-radius:2px;}
.wd_list1 h3{font-size:1rem;line-height: 1rem;}
.wdimg2{width:16px;height:16px;vertical-align:top;margin-left:5px;}
.wd_list1 em{font-style: normal;color:#E41C21;margin-right:5px;}

/*产品代理*/
.wd_list2{padding:18px 15px 18px 80px;height:90px;position: relative;color:#2e2d2d;}
.wd_list2:after{height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.wd_list2 img{width:46px;height:46px;position:absolute;top:22px;left:15px;border:1px solid #eee;}
.wd_list2 .wdimg{border:none;}
.wd_list2 p{font-size:0.875rem;position:absolute;bottom:15px;left:80px;white-space: nowrap;text-overflow:ellipsis;width:50%;overflow: hidden;color:#939393;}
.wd_list2 a{display:inline-block;border:1px solid #ff4c5c; color:#ff4c5c;position: absolute;top:15px;right:15px;padding:3px 8px;font-size:0.75rem;border-radius:2px;}
.wd_list2>h3>span{font-size:0.875rem;margin-left:10px;}
.jie-btn{display:inline-block; position: absolute;bottom:15px;right:15px;font-size:0.875rem;color:#939393;cursor: pointer;}
.jie-div{padding:15px;color:#2d2d2d;border-bottom: 1px solid #eee;display: none;}
.jie-div p{line-height: 1.6rem;}
.jie-div img{width:100%;margin-top:10px;}
.turn-div{width:10px;height:10px;background:url(../images/zs.png)no-repeat right center;background-size:10px;display: inline-block;margin-left:4px;}
.turn-y{-moz-transform:scaleY(-1);-webkit-transform:scaleY(-1); -o-transform:scaleY(-1);transform:scaleY(-1); /*IE*/ filter:FlipV;}

/*快速办卡*/
.wdlists4{background-color:#fff;font-size:0;margin-top:1rem;margin-bottom: 1rem;padding-top:14px;padding-bottom:14px;}
.wd_list4{border-bottom:none !important;border-right:none !important;}
.wdlists4 .wd_list4 div{margin-top:0;}
.wdlists4 .wd_list4 a{padding:14px 14px 14px 78px;height:72px;position: relative;display:block;}

/*全部分类*/
.flei_all{background-color:#fff;margin-top:49px;width:100%;border-collapse:collapse;}
.flei_all td{text-align:center;border: 1px solid #eee;width:33.3%;}
.flei_all img{display: block;width:56px;height:56px;margin:0 auto 6px auto;border-radius: 50%;}
.flei_all span{color:#666 !important;font-size:0.875rem;}
.flei_all a{display:block;width:100%;height:100%;padding:20px 0;}

/*购买卡神*/
.ka1{background-color:#fff;text-align:center;padding:40px 0;position:relative;}
.ka1 img{width:90%;max-height:302px;}
.ka1 span{position:absolute;bottom:60px;right:10%;font-size:1.25rem;color:#c92828;}
.mai{display:block;background-color:#4f90e7;width:90%;margin:30px auto;height:50px;color:#fff !important;text-align:center;font-size:1.125rem;line-height:50px;border-radius:4px;border:none;}
.mai2{display:inline-block;background-color:#4f90e7;width:40%;margin:30px auto;height:40px;color:#fff !important;text-align:center;font-size:1rem;line-height:40px;border-radius:4px;border:none;}
.btn-group{text-align: center;}
/*我的订单*/
.dinglist{background-color:#fff;padding:10px 0;margin-bottom: 10px;}
.dinglist p{color:#464646;line-height:1.6rem;padding:0 10px;font-size:0.875rem;}
.fukuan{text-align:center;padding-top:10px;border-top:1px solid #eee;margin-top:10px;}
.fukuan a{display:inline-block;background-color:#d9d9d9;width:40%;height:34px;line-height:34px;text-align:center;margin-right:5%;border-radius:4px;font-size:0.875rem;}
.fukuan a:nth-child(2){margin-right:0 !important;}
.redbgd{color:#fff !important;background-color:#f24747 !important;}
.red{color:#f24747;}
.ddnone img{width:70%;margin:140px auto auto auto ;display: block;}
.ddnone a,.xrgm_a{display: block;width:90%;height:40px;line-height:40px;color:#fff !important;background-color:#f24747;margin:30px auto auto auto ;border-radius:4px;text-align: center;}
@media only screen and (max-width:375px){
 .ddnone img{width:70%;margin:100px auto auto auto !important;;display: block;}
}
@media only screen and (max-width:320px){
 .ddnone img{width:70%;margin:80px auto auto auto !important;;display: block;}
}
.xrgm{width:100%;margin-bottom: 64px;}
.xrgm img{width:100%;display: block;}
.xrgm_a{margin:0 auto !important;}
.xrgm_sbt{background-color:rgba(255,255,255,0.9);height:64px;width:100%;line-height:64px;padding-top:12px;position:fixed;bottom:0;left:0;width:100%;}
/*个人中心*/
.menber{
    background-color:#4d90e7;
    text-align:center;color:#fff;
}
.mbrname{line-height:4rem;} 
.mbrji div{height:50px;width:50%;display:inline-block;line-height:50px;background:#fff none repeat scroll 0 0 !important;color:#2e2d2d;}
.mbrji-customer{padding:10px 10px 10px 36px;background: url(../images/zx1.png) no-repeat left center;background-size:24px;}
.mbrji-money{padding:10px 10px 10px 36px;background: url(../images/zx2.png) no-repeat left center;background-size:24px;}
.menber-div{padding:40px 20px 20px 90px;position: relative;display: inline-block;text-align: left;width:80%;}
.menber-div span{display: block;margin-bottom: 24px;}
.menber-time{font-size:15px;}
.member-address{font-size:0.875rem;padding-right:20px;background:url(../images/bianji.png)no-repeat right center;background-size:16px;display: inline-block !important;color:#fff !important;margin-bottom:20px;}
.menber-a{display: inline-block;width:30px;height:30px;position: absolute;top:50%;right:0;margin-top:-15px;background:url(../images/fanhui3.png) no-repeat left center;background-size:20px;-moz-transform:scaleX(-1);
-webkit-transform:scaleX(-1); 
-o-transform:scaleX(-1);
transform:scaleX(-1); 
/*IE*/ filter:FlipV;}


.menber img{width:60px;height:60px;display:block;margin:0px auto;border-radius: 50%;border:3px solid #fff;position: absolute;top:40px;left:0px;}
.ge_list a{display:block;background-color:#fff;border-bottom:1px solid #eee;position:relative;padding:0px 15px 0px 60px;height:60px;line-height:60px;}
.imgleft{width:30px;height:30px;position:absolute;top:15px;left:15px;}
.ge_list h4{display:inline-block;}
.imgright{width:14px;height:14px;vertical-align: middle;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1); float:right;margin-top:23px;}
.xx{margin-top:50px;}
.xxli{background-color:#fff;padding:25px 10px;border-radius: 3px;position: relative;}
.xxli:after{height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.xxli span:nth-child(2){float:right;color:#a5b3c6;margin-top:2px;}
.imgleft4{width: 44px;height: 44px;margin-top: 11px;border-radius: 50%;}
.xxli div{display: inline-block;float:right;color:#c2bdbd;width:70%;}
.xxli input{border:none;font-size:1rem;width:68%;padding-left:10px;outline: none;}
.xxli .info-input{border:none;font-size:1rem;text-align: left;width:100%;outline: none;}
@media only screen and (min-width:320px)and (max-width:374px){
    .xxli input{border:none;font-size:1rem;width:60%;padding-left:10px;}
}
.xxli-tips span{color:#bbb;font-size:0.875rem;}
.xxli-tips{background-color:#f5f5f5;padding:20px 10px;}
.xxli-tips button{border:none;background-color:inherit;color:#f24949;padding:0;margin:0 0 0 -5px;}
.xxli-buy-btm{display:block;text-align: right;padding:20px 10px 0 10px;color:#999;}
.xxli-buy-btm input{margin-right:5px;}
.select-afresh{background:url(../images/pen.png)no-repeat left center;width:20px;height:60px;float: left;background-size:20px;line-height: 60px;}
.submit{width:86%;height:40px;line-height:40px;background-color:#4f90e7;color:#fff;margin:20px auto 40px auto;border:none;border-radius:4px;font-size:1rem;display: block;-webkit-appearance: none;}
.card{margin:50px 0 10px 0;background-color:#fff;height:40px;text-align: justify;padding:0 10%;}
.card:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';vertical-align:top;}
.card a{height:40px;line-height:40px;padding:0 4px;display: inline-block;font-size:0.875rem;color:#c2bdbd;}
.cardorange{color:#ff711c !important;border-bottom: 2px solid #ff711c;}

.yongtop{background-color:#fff;padding:25px 20px 20px 40px;position: relative;color:#4d90e7;font-weight:600;}
.yongtop span:nth-child(2){display: block;font-size:2rem;color:#333;margin-top:10px;font-weight:500;}
.yongtop2{background-color:#fff;border-top:1px solid #eee;margin-bottom: 10px;height:70px;}
.yongtop2 li{margin:11px 0;width:50%;display:inline-block;text-align:center;color:#4d90e7;float:left;}
.yongtop2 em{color:#333;font-weight:500;}
.yongtop2 li:nth-child(1),.yongtop2 li:nth-child(2){border-right:1px solid #eee;}
.yongtop2 span{display: block;margin-bottom:6px;}
.ti-a{padding:3px 10px;color:#fff !important;font-size:0.875rem;border-radius: 2px;margin-left:10px;font-size:0.875rem;}
.yanzhengma-button{background-color:transparent;color:#5190e7;border:none;font-size:0.875rem;float: right;}
.xxli .yanzhengma-div{float:inherit;}
.xxli .yanzhengma-div input{text-align: left;}
.xxul{width:90%;margin:0px auto;padding-top:20px;}
.xxli-1{padding-left:50px;background-image: url(../images/user2.png);background-repeat: no-repeat;background-position: left 20px center;background-size:24px;}
.xxli-2{padding-left:50px;background-image: url(../images/mobile.png);background-repeat: no-repeat;background-position: left 22px center;background-size:20px;}
.xxli-3{padding-left:50px;background-image: url(../images/yanzheng.png);background-repeat: no-repeat;background-position: left 20px center;background-size:24px;}
.xxli-4{padding-left:50px;background-image: url(../images/mima.png);background-repeat: no-repeat;background-position: left 20px center;background-size:26px;}
.xxli-5{padding-left:50px;background-image: url(../images/sfz2.png);background-repeat: no-repeat;background-position: left 18px center;background-size:28px;}
.xxlia{padding-right:20px;background-image: url(../images/jian2.png);background-repeat: no-repeat;background-position: right center;background-size:7px;margin-top:2px;color:#c2bdbd !important;display: block;padding-left:10px;}
.wdfanhui .xiu-mi{position: absolute;right:10px;top:0px;left:auto;display: inline;background:none;width:auto;height:auto;font-size:1rem;}
.xxul p{margin-bottom:14px;color:#999;font-size:0.875rem;}
.xxul p em{font-style: normal;color:#5190e7;}
.xxlia-span1{color:#333;}
.xxlia-img{width:40px;height:40px;border-radius: 50%;margin-top: -12px;margin-right: -16px;}

/*佣金列表组件*/
.yonglist{margin-top:14px;background-color:#fff;color:#999;}
.yonglist_div1{font-size:0.875rem;padding:10px;line-height:45px;border-bottom: 1px solid #eee;}
.yonglist_div1 img{width:45px;height:45px;border-radius: 50%;vertical-align: middle;margin-right:8px;}
.yonglist_div1 span:last-child{float:right;font-size:0.875rem;}

@media only screen and (min-width:320px)and (max-width:360px){
 .yonglist_div1 em{display:inline-block;width:32px;height:32px;overflow: hidden; text-overflow:ellipsis;whitewhite-space: nowrap; vertical-align: top; }
}
.yonglist_div2{padding:10px 10px 10px 110px;position: relative;height:110px;}
.yonglist_div2 img{width:90px;height:90px;display: inline-block;position:absolute;top:10px;left:10px;}
.yonglist_div2 h4{color:#999 !important;}
.yonglist_div2 span{display: block;font-size:0.875rem;}
.ylspan1{position: absolute;top:50%;left:110px;margin-top:-8px;}
.ylspan2{position: absolute;bottom:10px;left:110px;}

.yonglist_div2-a h4{margin-top:8px;}
.yonglist_div2-a .ylspan2{bottom:18px;}


/**/

.imgleft2{width:46px;height:46px;position:absolute;top:10px;left:10px;}
.ge_list2{background-color:#fff;border-bottom:1px solid #eee;position:relative;padding:10px 10px 10px 80px;height:66px;}
.ge_list2 time{position: absolute;top:10px;right:10px;font-size:0.75rem;color:#b3b3b3;}
.liyou{position:absolute;bottom:10px;left:76px;font-size:0.875rem;}
.esum{color:#ff711c;}
.asum{color:#5bc5f7;}
.xiaolei{width:100%;;font-size:0;background-color:#fff;margin-bottom: 10px;}
.xiaolei td{width:47%;padding:1%;}
.xiaolei img{width:100%;}
.xiao_list a{display:block;background-color:#fff;position:relative;padding:0px 16px 0px 120px;height:70px;line-height:70px;}
.xiao_list h4{display:inline-block;width:40%;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;line-height: 70px;}
.imgleft3{width:38px;height:38px;position:absolute;top:16px;left:62px;border-radius: 50%;}
.jin{float:right;color:#4f90e7;font-size:0.875rem;}
.jin-div{float:right;display: inline-block;width:84px;height:70px;line-height: 1rem;padding:16px 0;position: relative;}
.jin-p{font-size:0.875rem;color:#a5b3c6;position: absolute;bottom:16px;left:0;}
.jin-span1{color:#ff4e5c;font-size:1rem;font-weight: bold;}
.jin-div{float:right;display: inline-block;width:84px;height:70px;line-height: 1rem;padding:16px 0;position: relative;}
.jin-p{font-size:0.875rem;color:#a5b3c6;position: absolute;bottom:16px;left:0;}
.jin-span1{color:#ff4e5c;font-size:1rem;font-weight: bold;}
.number{width:30px;display: inline-block;text-align:center;height:66px;position:absolute;top:0;left:16px;font-size:1.25rem;color:#3c3c3c;}
.number1{background:url(../images/pai1.png) no-repeat center top 19px;background-size: 90%;}
.number2{background:url(../images/pai2.png) no-repeat center top 19px;background-size: 90%;}
.number3{background:url(../images/pai3.png) no-repeat center top 19px;background-size: 90%;}
.sh_top{background: -ms-linear-gradient(top, #66bbf1,  #61a6f3);/* IE 10 */
    background:-moz-linear-gradient(top,#66bbf1,#61a6f3);/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#66bbf1), to(#61a6f3));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66bbf1), to(#61a6f3)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #66bbf1, #61a6f3);/*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #66bbf1, #61a6f3);/*Opera 11.10+*/
    padding-top:24px;text-align:center;color:#fff;}
.sh_top img{width:60px;display: block;margin:0 auto;}
.sh_top span{line-height: 60px;}
.que{display:block;background-color:#f24949;height:46px;width:80%;color:#fff !important;line-height:46px;text-align: center;margin:0 auto 50px auto;border-radius:4px;}
.sh_middle{width:90%;margin:20px auto 30px auto;}
.sh_middle div{background-color:#fff;width:100%;padding:30px 30px 10px 30px;line-height: 1.8rem;}
.sh_middle div p{margin-bottom:5px;}
.sh_middle img{width:100%;display:block;}
.sming{background-color:#fff;width:100%;padding:0 30px 20px 30px;color:#d9d9d9;font-size:0.875rem;}
@media only screen and (max-width:320px){
    .sh_middle div{background-color:#fff;width:100%;padding:30px 30px 10px 30px;line-height: 1.8rem;font-size:0.875rem;}
}
.kehu-lei{background-color:#fff;width:100%;border-bottom: 1px solid #e9e9e9;}
.kehu-lei li{display: inline-block;text-align: center;width:49%;line-height:50px;}

/*推广中心  金融圈*/
.tglei{position: fixed;top:50px;left:0;width:100%;z-index: 99999;}
.tglei ul{background-color:#fff;width:100%;font-size:0;}
.tglei li{display: inline-block;height:40px;width:50%;text-align: center;line-height: 40px;}
.tglei_a{color:#c2bdbd;display: inline-block;font-size:0.875rem;line-height:40px;margin:auto 0;}
.tglei_a_red{color:#fb5b5d !important;border-bottom:2px solid #fb5b5d !important;}

.tgtuwei{background-color:#fff;width:100%;}
.tgtuwei_div{width:100%;padding:16px 16px 16px 60px;position: relative;font-size:0.875rem;color:#2e2d2d;}
.tgtuwei_div:after{height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.tgtuwei_div h3{font-size:0.875rem;line-height: 40px;color:#5e667c;}
.tgtuwei_div p{margin-bottom:20px;}
.tgtou{width:40px;height:40px;border-radius:50%;position: absolute;top:16px;left:10px;}

.tgimg_div,.tgimg_div ul{width:100%;}
.tgimg_div>ul{font-size:0;}
.tgimg_div>ul>li>img{display:block;position: absolute;}
.img_w{width:100%;transform: translateY(-50%);top:50%;}
.img_h{height:100%;transform: translateX(-50%);left:50%;}
.tgimg_div>ul>li{margin:0 2% 2% 0;display: inline-block;overflow:hidden;text-align: center;background-color:red;position: relative;}
.tgimg_li1{width:98%;}
.tgimg_li2{width:48%;}
.tgimg_li3{width:31.3%;}

/*#wrapdiv{z-index:99999;display:none;float:left;text-align: center;}
#layer_div{z-index:99999;background-color:#000;opacity: 0.8;width: 100%;height: 100%;position: fixed;top: 0;left:0;}
#layer_img{z-index:999999;top:0;left:0; right:0;position:fixed;bottom:0;max-width:100%;margin:auto;max-height:100%;}
#imgclose{display: inline-block;width:30px;height:30px;background-color:rgba(0,0,0,0.2);background-image: url(../images/close3.png);background-size:30px;z-index:999999;position:fixed;top:10px;right:10px;background-repeat: no-repeat;background-position: center;border-radius: 50%;}*/

#wrapdiv,.wrapdiv{z-index:99999;display:none;float:left;text-align: center;}
#layer_div{z-index:99999;background-color:#000;opacity: 1;width: 100%;height: 100%;position: fixed;top: 0;left:0;}
#wrapimg{z-index:999999;position:fixed;top:0;left:0; right:0;bottom:0;width:100%;height:100%;overflow-y:scroll;overflow-x:scroll;}
#layer_img{z-index:999999;left:0; right:0;position:absolute;max-width:100%;margin:auto;}
#imgclose{display: inline-block;width:30px;height:30px;background-color:rgba(0,0,0,0.2);background-image: url(../images/close3.png);background-size:30px;z-index:999999;position:fixed;top:10px;right:10px;background-repeat: no-repeat;background-position: center;border-radius: 50%;}



.dialogue-wrap{margin-top:10px;}
.dialogue{background-color:#f3f3f5;padding:16px 10px;border-radius:5px;margin:16px 0 10px 0;position: relative;}
.dialogue:before{display: inline-block;content: "";width: 0;height: 0;border-left: 14px solid transparent;border-right: 14px solid transparent;border-bottom: 20px solid #f3f3f5;position: absolute;left:20px;top:-8px;}
.dialogue .member-name{color:#416dcd;}
.dialogue div{margin-bottom:4px;}
.tgtuwei .dialogue p{margin-bottom: 5px;line-height: 1.4rem;display: inline;word-break: break-all;}
.pinlun-icon{background:url(../images/pinlun.png) no-repeat;background-size:100%;border:none;height:20px;width:20px;padding:0;float:right;margin-top:-2px;}
.dialogue-wrap>span{color:#b2b2b2;}
.tgimg_div2{width:200px;max-height:300px;overflow: hidden;position: relative;}
.tgimg_div2 img{width:100%;display: block;}
.tgimg_div2 span{display: inline-block;line-height: 20px;font-size:0.75rem;color:#fff;background-color:rgba(0,0,0,0.3);position: absolute;right:0;bottom: 0;padding:0 10px;}
.wdfanhui .j-fabiao{position: absolute;top:12px;right:16px;display: inline-block;left:auto;background:none;width:26px;height:26px;}
.j-fabiao img{display: block;width:100%;}
.dialogue a{text-decoration: underline;color:#4f90e7;}


/*宽度自适应的切换卡*/
.tab-div,.tab-div table{width:100%;text-align: center;background-color: #fff;border-collapse: collapse;table-layout: fixed;}
.tab-div td{height:50px;border-bottom: 1px solid #ebebeb;padding:0;border-right:1px solid #ebebeb;}
.tab-div td:last-child{border-right:none;}
.tab-div a{display: inline-block;padding:0 5%;height:50px;line-height: 50px;font-size:0.875rem;color:#333;}
.tab-active{border-bottom: 2px solid #fb5b5d !important;color:#fb5b5d !important;}

/*list314*/
.wdlists314 .wd_list1 em{color:#f8b551;font-size:18px;}

/*搜索组件*/
.srhf {padding:0.6rem 2.8%;display:block;}
.wrap {width:76%;padding-left:30px;background:url(../images/search.svg) no-repeat;background-color:#fff;display:inline-block;background-position:5px center;border-radius:0.2rem 0 0 0.2rem;}
input[type="text"],input[type="submit"] {-webkit-appearance:none;outline:none;}
.srh {background-color:#fff;color:#a7a7a7;outline:none;border:none;height:36px;font-size:0.875rem;width:100%;}
.sbt {width:24%;background-color:#f8b551;border-radius:0 0.2rem 0.2rem 0;height:36px;color:#fff;display:inline-block;text-align:center;float:right;}
.sbt>input {width:100%;height:100%;background-color:#5190e7;color:#fff;border:none;border-radius:0 0.2rem 0.2rem 0;font-size:1rem;-webkit-appearance: none;}
.choose-ul a{display:block;padding:6px 10px;color:#f8b551;background-color:#fff;margin-right:4px;margin-bottom: 6px;font-size:0.875rem;vertical-align: middle;border-radius: 3px;line-height: 0.875rem;}
.choose-ul li{display: inline-block;}
.choose-ul{padding:0px 2.8% 6px 2.8%;}
.choose-ul .choose-active{color:#fff;background-color:#f8b551; }

/*轮播组件*/
.banner {width:100%;position:relative;overflow:hidden;margin-bottom:0;margin-left:auto;margin-right:auto;min-height: 120px;}
.banner-btn {display:none;}
.banner-img {font-size:0;letter-spacing:-3px;position:relative;}
.banner-img li img {height:100%;}
.banner-img li {display:inline-block;vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px;}
.banner-circle {position:absolute;left:50%;bottom:15px;height:13px;text-align:center;font-size:0;border-radius:10px;background:rgba(255,255,255,0.3);filter:alpha(opacity:30);}
.banner-circle li {border-radius:10px;margin:2px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1;}
.banner-circle li a {display:block;padding-top:9px;width:9px;height:0;border-radius:50%;background:#B7B7B7;overflow:hidden;}
.banner-circle .selected a {background:#F40;}

/*tuiguangyingli*/
.xiaolei1{background-color:#8760f5;}
.xiaolei2{background-color:#7ca9f4;}
.xiaolei3{background-color:#ff6663;}
.xiaolei4{background-color:#ffac63;}
.xiaolei5{background-color:#ffac63;}
.tgyl a{color:#fff;display:block;}
.tgyl td{width:100%;padding:20px;border-radius: 4px;}
.tgyl tr{margin-top:20px;}
.tgyl{width:100%;order-collapse:separate; border-spacing:10px 10px;}
.tgyl p{margin-top:10px;}

/*等级说明*/
.vipli{margin:5px 0;background-color:#fff;}
.vipli{padding: 20px 15px 20px 96px;position: relative;border-bottom: 1px solid #eee;display: block;}
.vipli h3{font-size: 1rem;line-height:2rem;position: relative;}
.vipli p {font-size: 0.875rem;margin-top:5px;color:#767676;}
.vipli a{display: inline-block;background-color:#07bebc;color:#fff;position:absolute;right: 0;top:0;border-radius:3px;width:56px;height:30px;text-align: center;line-height: 30px;}
.vipli .default{background-color:#ccc !important;}
.vipimg1{width:70px;height:70px;position:absolute;top:20px;left:15px;}
.ylshuoming{background-color:#fff;padding:15px;margin-top:5px;font-size:0.875rem;color:#666;}
.ylshuoming span{display: inline-block;padding-left:30px;background-image:url(../images/question.png);background-size:22px;background-position: left center;background-repeat: no-repeat;}
.ylshuoming a{display: inline-block;width:100%;}
.ylshuoming a img{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1);float:right;width:20px;height:20px;}

/*二维码弹出层*/
.layout{z-index: 99999;background-color:rgba(0,0,0,0.8);position: fixed;top:0;left: 0;width: 100%;height: 100%;}
.tc{top:50%;left:50%;position:fixed;z-index: 999999;text-align: center;margin-top:-150px;margin-left:-135px;}
.tc>div:nth-child(1){color:#fff;font-size:1.25rem;position:relative;line-height:0;height:70px;width:270px;}
.tc>div:nth-child(2)>div{width:100%;position: absolute;top:50%;left:50%;margin-top:-110px;margin-left:-110px;width:220px;height:220px;}
.tc>div:nth-child(2){width:100%;position: relative;width:270px;height:255px;}
.cle{position: absolute;top:-20px;right:-20px;width:24px;height:24px;background: url(../images/close.svg) no-repeat;}
.st{position: absolute;top:0;left:0;display: inline-block;width:100%;line-height:70px;}
.weixin{width:74%;margin-right:2.8%;display: inline-block;margin-left:2.8%;}
.weixin img{vertical-align: middle;}
.ssjg {padding-top:1rem;padding-left: 2.8%;font-size: 0.875rem;color: #a7a7a7;background-color:#fff;}
.hide{display: none;}


/*1705底部nav*/
.footer2{background-color:#fff;display:flex;display: -webkit-flex;text-align:justify;padding:2px 2%;font-size:0;position:fixed;left:0;bottom:0;width:100%;max-width: 640px;border-top: 1px solid #eee;z-index:99999;}
.bankaNav{width:50%;}
.bankaNav2{width:33.33%;}
.ftrbtn2{text-align:center;flex: 1;-ms-flex: 1;}
.ftrbtn2 a{display: block;}
.ftrbtn2 img{display:block;margin:0px auto;width:30px;height:30px;}
.ftrbtn2 img.jrqtc-btn{width:60px;height:60px;margin-top: -30px}
.ftrbtn2 span{font-size:0.75rem;color:#98a7b8;}
.blue1705{color:#4d90e7 !important;}
.naviconlg{width:50px;position: relative;height:100%;}
.naviconlg img{width:50px;height:50px;position: absolute;bottom:10px;left:0;}

/*1705网友点评*/
.dianpin{background-color:#fff;border-bottom: 1px solid #eee;display: block;}
.dianpin-top{padding: 20px 15px 20px 89px;position: relative;}
.dianpin-top h3{font-size: 1rem;line-height:2rem;position: relative;}
.dianpin-top span{font-size: 0.875rem;color:#767676;}
.dianpin-top img{width:56px;height:56px;position:absolute;top:17px;left:15px;border-radius: 50%;}
.dianpin p{padding:0 20px 20px 20px;line-height:1.6rem;}
.fbpinlun{border: none;width: 100%;resize: none;height: 200px;padding: 10px;font-size: 1.125rem;box-sizing: border-box;line-height: 1.2rem;outline: none;}


/*1705新手指南*/
.xiang_xiang{width: 94%;font-size: 0;text-align: justify;padding: 10px 3% 10px 3%;}
.xiang_xiang li{display: inline-block;color:#2e2d2d;font-size: 0.875rem;padding-left:20px;background:url(../images/gou2.png) no-repeat left center;background-size:16px;}
.xiang_xiang:after{display: inline-block;overflow: hidden;width: 100%;height: 0; content: '';vertical-align: top;}
.zhinan-mai{text-align: left;background-color:#fff;}
.zhinan-mai h3{color: #2e2d2d;font-weight: 500;font-size: 1.5rem;padding:20px 0 10px 0;line-height:2.4rem;}
.zhinan-mai>div{padding:0 3% 10px 3%;border-bottom: 1px solid #e9e9e9;}
.zn-price{color:#ff5454;font-size:1.5rem;font-weight: 500;}
.zn-price2{color:#b2b2b2;margin-left:20px;}
.dianpin-tlt{background-color:#fff;padding:10px 15px;border-bottom: 1px solid #e9e9e9;}
.dianpin-tlt a{display:block;}
.dianpin-tlt a span{color:#333;}
.more{display: inline-block;width:16px;height:16px;background:url(../images/fanhui2.svg)no-repeat left center;background-size:16px;-moz-transform:scaleY(-1);
-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1); /*IE*/ filter:Fliph;float:right;margin-top:2px;}
.xiang-tlt{background-color:#fff;text-align: center;}
.xiang-tlt span{display:inline-block;padding-left:30px;background:url(../images/tu.png)no-repeat left center;background-size:20px;line-height: 40px;color:#b2b2b2;}
.zn-img img{width:100%;display:block;}
.mai-btn{background-color:#4f90e7;color:#fff !important;font-size:1.5rem;display: block;text-align: center;line-height:55px;position: fixed;bottom: 0;left:0;width:100%;height:55px;}
.layer-buy{background-color:rgba(255,255,255,1);margin:50% auto auto auto;width:70%;display: inline-block; border-radius:4px;font-size:0.875rem;color:#666;}
.layer-buy p{padding:10px 30px 20px 30px;}
.layer-buy>div{border-top:1px solid #ebebeb;}
.layer-buy a{display: inline-block;width:50%;box-sizing:border-box;height:50px;line-height:50px;color:#666;}
.layer-buy a:nth-child(1){border-right:1px solid #ebebeb;}
.layer-buy img{width:60px;height:60px;margin-top:30px;}

/*产品代理之客户列表*/
.cp-kehulist{background-color:#fff;width:100%;text-align: center;margin-top:1rem;border-collapse:collapse;}
.cp-kehulist td{padding:16px 0;font-size:0.875rem;}
.cp-kehulist th{font-size:0.875rem;font-weight: normal;height:50px;line-height: 50px;}
.cp-kehulist-tr{border-bottom: 1px solid #ebebeb;}
.cp-kehulist-tr a{color:#2d2d2d;}
.cp-kehulist-tr a:hover{color:#2d2d2d;}
.zs2{display: inline-block;width:10px;height:10px;background:url(../images/zs.png)no-repeat center;background-size:10px;margin-left:4px;}
.cp-kehulist-th1,.cp-kehulist-th2{position: relative;cursor: pointer;}
.zk1{position: absolute;border:1px solid #ebebeb;width:98%;left:1%;bottom:-200px;height:200px;z-index: 99999;background-color:#fff;padding:10px 0;overflow: auto;display: none;}
.zk2{position: absolute;border:1px solid #ebebeb;width:98%;left:1%;bottom:-200px;height:200px;z-index: 99999;background-color:#fff;padding:10px 0;overflow: auto;display: none;}
.zk1 li,.zk2 li{line-height:36px;}
.zk1 a,.zk2 a{color:#2d2d2d;display: block;}
.zkli-bgd{background-color:#fcfcfc;}
.a-j{display: inline-block;width:10px;height:10px;background:url(../images/zs.png)no-repeat center;background-size:10px;margin-left:6px;transform:rotate(-90deg);}

/*推广链接*/
.tui-lj-div{/*background:url(../images/tuibgd.png)no-repeat left top;background-size:100%;*/position: relative;}
.tui-lj-div-img{width:100%;display: block;height: 100%}
.tui-lj{z-index: 999;width: 90%; background-color:#fff;padding:0 20px 30px 20px;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);border-radius:4px;text-align: center;color:#2d2d2d;}
.tui-lj-li{display: inline-block;font-size:0.875rem;}
.tui-lj-li img{width:60px;height:60px;display: block;margin-bottom: 10px;}
.tui-lj ul{text-align: justify;margin-top:30px;}
.tui-lj ul:after{content: "";display: inline-block;width:100%;height:0;}
.tui-lj h2{font-size:1.25rem;font-weight: 600;margin-bottom:30px;}
.tui-lj input[type="tel"],.tui-lj input[type="number"],.tui-lj input[type="text"]{border-bottom:1px solid #ebebeb;border-top:none;border-left:none;border-right:none;line-height: 30px;width:100%;border-radius: 3px;padding:10px 10px 10px 30px;font-size:15px !important;}

.tui-lj input[type="number"]{background-image: url(../images/yanzheng.png) ;background-size: 16px;background-repeat:no-repeat;background-position:left 6px center;  }
.tui-lj .daili-input-yzm button{position: absolute;right:10px;top:15px;font-size:0.875rem;color:#5190e7;background:none;border:none;-webkit-appearance: none;border-radius: 0;}
.tui-lj input[type="button"],.tui-lj input[type="submit"]{border:none;height:40px;line-height: 40px;width:100%;border-radius: 3px;-webkit-appearance:none;outline:none;font-size:1rem !important;margin-top:20px;}

.tui-lj form{width:100%;}
.tui-lj input[type="tel"]{background:url(../images/sj.png)no-repeat left 5px center;background-size:20px;}
.yhka{background:url(../images/user.png)no-repeat left 5px center;background-size:20px;}
.sfzhao{background:url(../images/sfz.png)no-repeat left 5px center;background-size:20px;}
@media only screen and (max-width:320px){
    .tui-lj ul{text-align: justify;margin-top:20px !important;}
    .tui-lj h2{font-size:1.25rem;font-weight: 600;margin-bottom:20px !important;}
}

/*推广方式*/

.tui-fs{padding:0 25px;text-align: center;}
.tui-fs-tou{position: absolute;width:70px;height:70px;display: block;border-radius: 50%;top:-37px;left:50%;margin-left:-37px;border:4px solid #fff;}
.tui-fs-ma{width:50%;margin:0 25%;}
.tui-fs p{color:#d2d2d2;text-align:center;font-size:0.875rem;margin:0px 10px 10px 10px;font-size:17px;}
@media only screen and (max-width:320px){
    .tui-fs p{color:#d2d2d2;text-align:center;font-size:0.875rem;margin:0px 10px 10px 10px;font-size:14px;}
    .tui-line:after{content: "使用说明";color:#d2d2d2;font-size:16px !important;width:80px;height:20px;line-height:20px;background-color:#f5f5f5;display: inline-block;position: absolute;top:-10px;left:50%;margin-left:-40px;}
}
.tui-fs h3{color:#c4c4c4;margin:40px 0 20px 0;padding-left:26px;background:url(../images/sao.png)no-repeat left center;background-size:20px;display: inline-block;}
#tui-a{display: inline-block;background-color:#43b1ff;height:50px;line-height:50px;width:60%;color:#fff !important;border-radius:25px;font-size:24px;font-weight:400;margin-top:30px;margin-bottom: 30px;}
.tui-line{width:70%;height:1px;background-color:#ebebeb;position: relative;margin:30px 15% 30px 15%;}
.tui-line:after{content: "使用说明";color:#d2d2d2;font-size:18px;width:80px;height:20px;line-height:20px;background-color:#f5f5f5;display: inline-block;position: absolute;top:-10px;left:50%;margin-left:-40px;}
.wrapdiv2{position:fixed;z-index:9999;top: 0;left:0;bottom: 0;right:0;display: none;}
.wrapdiv2 div{background-color:#000;opacity: 0.6;width: 100%;height: 100%;}
.wrapdiv2 img{position: absolute;top:20px;width:100%;}


/*提现记录*/
.ti-jl{background-color:#fff;border-bottom: 1px solid #ebebeb;padding:15px 14px 15px 88px;background-image:url(../images/tixian.png);background-size:60px;height:80px;background-position: left 14px center;background-repeat: no-repeat;position: relative;}
.ti-jl time{font-size:0.875rem;color:#c2bdbd;position: absolute;right:14px;top:15px;}
.ti-jl span:nth-child(1){color:#4d90e7;}
.ti-jl span:nth-child(2){position: absolute;left:88px;bottom: 15px;color:#2d2d2d;font-size: 0.875rem;}
.ti-jl span:nth-child(3){position: absolute;right:14px;bottom: 15px;color:#c2bdbd;font-size: 0.875rem;}

/*我要推广*/
.yao-wrap{background:url(../images/yao.png)no-repeat left top;position: relative;background-size:100%;}
.yao-ma{position: absolute;left:30%;right:30%;background:url(../images/maborder.png)no-repeat left top;background-size:100%;text-align:center;top:28%;font-size:0;}
@media only screen and (max-width:320px){
    .yao-ma{position: absolute;left:30%;right:30%;background:url(../images/maborder.png)no-repeat left top;background-size:100%;text-align:center;top:25%;font-size:0;}
}
.yao-ma img{width:86%;margin:6%;}
.yao-tou{position: absolute;width:90%;bottom:20px;margin:0 5%;text-align: center;background:url(../images/yao.svg)no-repeat center top;background-size:100%;}
.yao-tou img{width:60px;border-radius: 50%;border:2px solid #fff;margin-top:30%;}
.yao-tou span{font-size:0.875rem;color:#333;display: block;font-weight: 600;}
.yao-tou p{background-color:#5f52a0;color:#fff;font-weight: 600;border-radius:18px;height:36px;line-height:36px;display: inline-block;margin-top:10px;padding:0 20px;}

/*省市区选择*/
#select-div{background-color:#fff;position: absolute;top:0;;left:0;right:0;bottom:0;padding:20px 10px 10px 10px;}
#select-div select{display: block;width:100%;line-height:50px;height:50px;border-top:none;border-left:none;border-right:none;border-bottom: 1px solid #ebebeb;outline: none;font-size:0.875rem;color:#ccc;padding:0 40px 0 6px;-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background-image: url(../images/3.png);background-repeat: no-repeat;background-size:8px;background-position: right 10px center;background-color:#fff !important;}
.address-input{display: block;width:100%;line-height:50px;height:50px;border-bottom: 1px solid #ebebeb;outline: none;font-size:0.875rem;color:#888;padding:0 6px 0 6px;border-top:none;border-left:none;border-right:none;}



/*确认订单*/
.tianxx{display:block;background-color:#fff;padding-left:45px;line-height: 66px;height:66px;background-position: left 15px center;color:#2d2d2d !important; }
.tianxx2{background-image:url(../images/ren.png);background-size:20px;background-repeat:no-repeat;}
.tianxx3{display:block;background-color:#fff;padding:20px 0 20px 45px;background-position: left 15px center;color:#bbb !important;position: relative;}
.tianxx3 span{width:80%;display: inline-block;}
.tianxx3 img{moz-transform:scaleY(-1);-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1); /*IE*/ filter:FlipH;width:10px;margin-right:10px;margin-top:-5px;position: absolute;top:50%;right:10px;}
.tianxx img{float: right;moz-transform:scaleY(-1);-webkit-transform:scaleX(-1); -o-transform:scaleX(-1);transform:scaleX(-1); /*IE*/ filter:FlipH;width:10px;margin-right:10px;margin-top:28px;}
.qrdd-div{padding:15px 15px 15px 110px;position: relative;background-color:#fff;margin-top:1rem;height:110px;}
.qrdd-div img{width:80px;height:80px;position: absolute;top:15px;left:15px;}
.qrdd-div-span2{position: absolute;bottom:18px;left:110px;color:#f23737;}
.qrdd-div-span1{margin-top:3px;font-size:1.125rem;color:#2d2d2d;}
.qrdd-div-span3{position: absolute;bottom:12px;right:15px;color:#cecece;}

.shdz{background-image:url(../images/di.png);background-size:20px;background-repeat:no-repeat;border-top:1px solid #ebebeb !important;display:block;}
#shdz{display: none;}
.qrdd-submit{background-color:#fff;height:60px;line-height:60px;position: fixed;bottom:0;left:0;width:100%;padding:0 15px;}
.qrdd-submit em{color:#f23737;}
.qrdd-submit span{font-size:1.125rem;}
.qrdd-submit input{background-color:#4d90e7;border:none;color:#fff;font-size:1rem;padding:0px 10px;border-radius:3px;float:right;height:34px;line-height: 34px;margin-top:13px;-webkit-appearance: none;}
#qrdd-check{position: absolute;right:15px;top:18px;width:20px;height:20px;cursor: pointer;border:1px solid #ccc;border-radius: 50%;}
.qrdd-check-true{background:url(../images/checked.png)no-repeat center;background-size:100%;border:none !important;}
.qrdd-form .xx{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index: 99999;display: none;margin-top:0;}
.saveinfo{color:#4d90e7;font-size:1.125rem;background-color:inherit;border:none;position: absolute;right:10px;top:12px;padding:0;}
.notes-div{margin-top:15px;color:#a19d9d;margin-bottom: 70px;}
.notes-div h3{background-color:#fff;color:#808080;line-height:50px;padding-left:44px;background-image:url(../images/notes.png);background-repeat:no-repeat;background-position:left 15px center;background-size: 20px;border-bottom: 1px solid #ebebeb;font-size:1rem;position: relative;}
.notes-div ul{background-color:#fff;padding:15px;}
.notes-div li{line-height: 1.6rem;font-size:0.875rem;}
.notes-div img{position: absolute;right:10px;top:22px;width: 10px;transform:rotate(90deg);}
.xiangxia{transform:rotate(270deg) !important;}

/*404*/
.guzhang{padding-top:80px;text-align: center;color:#bbb;font-size:1.125rem;}
.guzhang img{width:50%;margin-bottom: 50px;}

/*大推客*/
.dailike-img{width:100%;display:block;}



/*提现*/
.xx-tx2{padding-bottom:10px;padding-top:10px;}
.xxli-span{display: block;font-size:0.875rem;color:#c2bdbd;}
.xxli .xx-sum{font-size:34px;width:80%;font-weight:normal;color:#555;outline: none;}
.tx-label{font-size:30px;display:block;border-bottom: 1px solid #ebebeb;padding:10px 0;font-weight:normal;color:#555;position: relative;}
.xxli .tx-div{width:100%;font-size:0.875rem;float:inherit;margin-top:10px;}
.tx-div button{border:none;background-color:inherit;padding:0;margin:0 0 0 -2px;color:#f24949;}
#tx-num{color:#f24949;}
.xx-tx{margin-bottom:1rem !important;margin-top:1rem !important;}
#clear{width:20px;height:20px;position: absolute;top:24px;right:0px;display: none;cursor: pointer;}
#submit_button{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:4px;}

/*提现成功*/
.tx-success{background-color:#fff;text-align: center;padding:20px 10px;}
.tx-success img{width:25%;margin-top:10px;margin-bottom:16px;}
.tx-success h3{color:#4f90e7;font-size:20px;font-weight:normal;margin-bottom:12px;}
.tx-success h2{color:#2d2d2d;font-size:30px;font-weight:500;margin-bottom: 20px;}
.tx-success p{font-size:1rem;color:#c2bdbd;text-align: left;line-height: 1.6rem;}
.tx-success-a{width:86%;height:50px;line-height:50px;background-color:#4f90e7;color:#fff !important;margin:30px auto 40px auto;border:none;border-radius:4px;font-size:1.25rem;display: block;text-align: center;}

/*金融圈发送*/
#z_file {width: 80px;height:80px;position: relative;display: inline-block;}
#z_file .add-img {display: block;width: 80px;height: 80px;}
#z_file .file {width: 100%;height: 100%;opacity: 0;position: absolute;top: 0px;left: 0px;z-index: 100;}
 .up-span {display: block;width: 100%;height: 100%;visibility: hidden;position: absolute;top: 0px;left: 0px;z-index: 9;background: rgba(0,0,0,.5);}
#close-upimg {position: absolute;top:3px;right:3px;z-index: 10;width:16px;height:16px;}
.up-section {width:80px;height:80px;position: relative;display: inline-block;}
.up-img {display: block;width: 100%;height: 100%;}
.j-content{background-color:#fff;padding:16px;}
.j-content textarea{width:100%;height:120px;border:none;font-size:16px;resize:none;outline: none;font-family: Helvetica,Arial,"Microsoft Yahei",STHeiTi,sans-serif;}
.jr-submit{background:none;color:#4f90e7;font-size: 1rem;border:none;position: absolute;right:10px;top:12px;outline: none;}
#test-image-preview{width:80px;height:80px;position: relative;background-size:cover;background-repeat: no-repeat;background-position: center center;vertical-align: top;display: none;}

/*我要贷款3.0*/

.wdslider{background-color: #fff;height:50px;line-height: 50px;overflow: hidden;position: relative;}
.wdslider-ul{position: absolute;}
.wdslider-li{padding-left:50px;position: relative;}
.wdslider-li img{width:30px;height:30px;border-radius: 50%;position: absolute;left:15px;top:10px;}
.wdslider-li em{color:#5190e7;font-style: normal;margin-right:4px;}
.wd_list5-bb{position:absolute;font-size: 0.875rem;color:#a5b3c6;bottom:24px;right:15px;}
.wd_list5-bb em{font-style:normal;color:#5190e7;}
.wd_list5-aa{display: block;}
.wd_list5-div-r-h3{color:#ff5374;margin-bottom: 10px;position:absolute;top:24px;right:15px;}



/*产品详情3.0*/
.chanpinxq-div{background:#f5f5f5;padding-bottom: 1rem;}
.chanpinxq-div1{background:#fff;padding:20px 0px 0px 0px;text-align: center;}
.chanpinxq-div table{width:100%;background:#fff;color:#5190e7;border-radius: 4px;padding:10px 16px;}
.chanpinxq-div1 img{width:64px;top:20px;border-radius:50%;border:1px solid #ebebeb;margin-bottom: 10px;}
.chanpinxq-div td{padding:5px 0px 5px 10px;}
.chanpinxq-div1 h4{color:#5190e7;font-weight: bold;}
.chanpinxq-div span{color:#a5b3c6;font-size:0.875rem;}
.chanpinxq-div em{font-style: normal;color:#333;margin-left:10px;}
.chanpinxq-div1 p{font-size: 0.875rem;color:#a5b3c6;}
@media only screen and (max-width:320px){
    
}


.chanpinxq-div2>ul>li{padding:14px 3%;}
.chanpinxq-div2 img{width:100%;}
.chanpinxq-div2 h4{margin:10px auto;font-weight:bold;}
.chanpinxq-div2 p,.chanpinxq-div2 li{font-size:0.875rem;color:#5c5c5c;}
.cpdiv2-table img{width:46px;display: block;margin:0 auto 10px auto;}
.cpdiv2-table{width:100%;text-align: center;}
.cpdiv2-table td{position: relative;font-size: 0.75rem;}
.cpdiv2-table .shenlue{position: absolute;right:-13px;top:20px;width:26px;}
.cpdiv2-li2{padding:10px 0;}


.chanpinxq-div3{background:#fff;padding-bottom:30px;margin:1rem auto 0 auto;}
.chanpinxq-div3 h3{margin:0 15px;font-size:17px;padding:14px 0;}
.chanpinxq-content{padding:0 15px;font-size:0.875rem;color:#333;}
.chanpinxq-div3 li{padding:14px 3%;}
.chanpinxq-div3 h4{margin:10px auto;}

.daili-form{background-color:#5190e7;position: fixed;bottom: 0;width:100%;}
.daili-form form{width:100%;padding:20px;}
.daili-form input[type="text"],.daili-form input[type="number"],.daili-form input[type="tel"]{display: block;width:100%;margin-bottom: 16px;line-height:40px;border-radius: 4px;border:none;padding: 0 10px 0 30px;
    font-size: 15px !important;}
.daili-form input[type="text"]{background-image: url(../images/user.png) ;background-size: 20px;background-repeat:no-repeat;background-position:left 5px center;  }
.daili-form input[type="number"]{background-image: url(../images/yanzheng.png) ;background-size: 16px;background-repeat:no-repeat;background-position:left 6px center;  }
.daili-form input[type="tel"]{background-image: url(../images/sj.png) ;background-size: 20px;background-repeat:no-repeat;background-position:left 5px center;  }
.chanpinxq-content p:last-child{margin-bottom: 15px;}
.daili-form input[type="submit"],.daili-form input[type="button"]{width:90%;border-radius:20px;border:1px solid #fff;line-height: 40px;color:#fff;font-size: 15px !important;margin:0 auto;display: block;}
.daili-input-yzm{position: relative;}
.daili-input-yzm input[type="tel"]{background-image: url(../images/mobile.png) ;background-size: 14px;background-repeat:no-repeat;background-position:left 8px center; padding-right:100px;}
.daili-input-yzm a{position: absolute;right:10px;top:11px;font-size:0.875rem;color:#5190e7;z-index:999;}

/*代呗3.0*/
.daibei-top1{background:#fff;padding-left:80px;height:60px;line-height: 60px;position: relative;color:#a5b3c6;font-size:0.875rem;text-align: left;}
.daibei-top1-name{color:#5190e7;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display: inline-block;vertical-align: top;margin-right:4px;}
.daibei-top1 img{position: absolute;width:38px !important;height:38px !important;border-radius: 50%;border:1px solid #ebebeb;top:11px;left:16px;}
.daibei-top {display: table;width:100%;text-align: center;background:#fff;padding: 6px 0 10px 0;table-layout: fixed;}
.daibei-top li{display: table-cell;}
.daibei-top a{display:block;}
.daibei-top span{font-size: 0.875rem;color:#333;}
.daibei-top img{display:block;margin:10px auto;width:26%;}
.tab-div2,.tab-div2 table{width: 100%;text-align: center;background-color: #fff;border-collapse: collapse;}
.tab-div2 td{height: 50px; padding: 0;}
.tab-div2 a{display: inline-block;padding: 0 5%;height: 50px;line-height: 50px;font-size: 0.875rem;color: #333;}
.tab-active2 {border-bottom: 2px solid #4f90e7 !important;color: #4f90e7 !important;}
.wd_list2 .wd_list2-img{border-radius: 50%;width:46px;height:46px;top:24px;}
.wd_list2-span{display: inline-block;background-color:#ff4c5c;color:#fff;padding:0 3px;height:1.125rem;line-height: 1.125rem;vertical-align: top;}
.wd_list2 h3{font-size:1.125rem;line-height: 1.125rem;}
.wd_list2 .wd_list2-a{top:30px;padding:6px 12px;}
.wd_list2 .wd_list2-p{color:#a5b3c6;}

.wd_list5 {padding: 24px 15px 24px 80px;height:102px;position: relative;color: #2e2d2d;}
.wd_list5-p{color:#a5b3c6;font-size: 0.875rem;position: absolute;bottom:24px;left: 80px;white-space: nowrap;text-overflow: ellipsis;width:46%;overflow: hidden;}
.wd_list5-img{border-radius: 50%;width:50px;height:50px;top:26px;position: absolute;left: 15px;border: 1px solid #eee;}

.wd_list5-a{top:30px;padding:6px 12px;display: inline-block;border: 1px solid #4f90e7;color: #4f90e7;position: absolute;top: 15px;right: 15px;padding: 3px 8px;font-size: 0.75rem;border-radius: 2px;}
.wd_list5-div-r{position:absolute;top:24px;right:15px;display: inline-block;text-align: right;}
.wd_list5-div-r h3{color:#ff5374;margin-bottom: 10px;}
.wd_list5-div-r .wd_list5-b{padding:4px 12px;background-color:#4f90e7;color:#fff;position:static;font-size: 0.75rem;border-radius: 2px;}
.cha-nav{font-size:0.875rem;height:50px;line-height: 50px;overflow:scroll;padding:0 16px;border-bottom: 1px solid #ebebeb;width:888px;background-color:#fff;}
.cha-nav li{display: inline-block;margin-right:12px;}
.cha-nav a{color:#333;display:block;}



/*查网贷3.0*/
.cha-top{width:96%;text-align: center;margin:0 auto;padding:20px 0 10px 0;}
.cha-top a{display: block;position: relative;padding-bottom: 30px;height:80px;}
.cha-top span{display:block;position: absolute;bottom: 14px;height:20px;line-height: 20px;text-align: center;width:100%;font-size:0.875rem;color:#333;}
.cha-top img{width:38%;}
.cha-flei td{border: 1px solid #eee;width: 33.3%;padding:10px 0;}
.cha-flei{background-color: #fff;margin-top:49px;width: 100%;border-collapse: collapse;}
.cha-flei span{display: block;position: absolute;bottom: 10px;height:20px;line-height: 20px;text-align: center;width:100%;font-size:0.875rem;color:#333;}
.cha-flei img{width:36%;}
.cha-flei a{display: block;text-align: center;position: relative;padding-bottom: 30px;padding-top:16px;height:100px;}
@media only screen and (max-width:320px){
    .cha-top span{font-size:0.75rem;}
}


.cwd-select a{width:100%;line-height:50px;height:50px;padding:0 40px;background-color:#fff;color:#333;font-size:0.875rem;display: block;z-index: 99999;}
.cwd-xuan-span1{display: inline-block;padding-right:16px;background-image:url(../images/3jiao2.png);background-repeat: no-repeat;background-position: right center;background-size: 8px;color:#cdcdcd;}
.cwd-xuan-span2{background-image:url(../images/3jiao.png) !important;color:#5290e7;}
.cwd-top-ul1 li{display: table-cell;text-align: center;height:46px;line-height: 46px;font-size:0.875rem;cursor: pointer;}
.cwd-top-ul1{display: table;width:100%;}
.layout2{position: absolute;z-index: 9999;background-color:rgba(0,0,0,0.6);top:0;left: 0;width: 100%;height: 100%;cursor:pointer;}
.cwd-xuandiv{position: fixed;top:0px;left:0;width:100%;height:100%;display: none;z-index: 99999;}
.layout3{position: absolute;z-index: 99999;background-color:#fff;top:0;left: 0;width: 100%;}
.cwd-select{display: none;z-index: 99999;overflow:scroll;max-height:410px;}

.select-1{font-size:0.875rem;border:none;outline: none;color:#a5a5a5;width:40px;background: url(../images/3jiao2.png) no-repeat scroll right center;background-size: 8px; appearance:none;-moz-appearance:none;-webkit-appearance:none;padding-right:10px; }
.select-1 option{padding:16px 30px;font-size:1rem;}

/*表格样式3.1*/

.cwd-table{padding:10px 0;width:100%;font-size:0;}
.cwd-table-td{padding:4px;text-align: center;width:25%;box-sizing: border-box;position: relative;display:inline-block;vertical-align: top;}
.cwd-table a{display: block;height:100%;}
.cwd-table img{width:46px;height:46px;border-radius: 50%;border:1px solid #ebebeb;margin-bottom:8px;}
.cwd-table span{color:#333;font-size:0.875rem;display: block;height:1.75rem;line-height: 0.875rem;}
.cwd-part2{background-color: #fff;margin-bottom:1rem;}
.cwd-table .qipao{position: absolute;top:0px;left:46px;display: inline-block;background-color: #ff4c5c;color:#fff !important;line-height: 0.75rem !important;font-size:0.75rem;height:16px;padding:2px 3px;border-radius:0.5rem;}

/*我要提额3.0*/
.ti-title1{padding-left:15px;height:40px;line-height: 40px;color:#5190e7;font-size:0.875rem;}
.ti-title1 img{width:16px;height:16px;vertical-align: middle;margin:-3px 6px 0 0;}


/*我的专属二维码*/
.wodema{text-align: center;padding: 0 3%;}
.wodema p{color:#c4c4c4;margin-bottom: 50px;}
.wodema img{width:100%;margin-bottom: 20px;}
.wodema-h3{color: #c4c4c4;margin: 16px 0 16px 0;padding-left: 26px;background: url(../images/sao.png)no-repeat left center;background-size: 20px;display: inline-block;}
.tui-line2:after{content: "使用说明";color:#c4c4c4;font-size:18px;width:80px;height:20px;line-height:20px;background-color:#f5f5f5;display: inline-block;position: absolute;top:-10px;left:50%;margin-left:-40px;}
.tui-line2{width:70%;height:1px;background-color:#ccc;position: relative;margin:30px 15% 30px 15%;}


/*最新口子3.0*/
.gonggao{background-color:#fff;height:40px;line-height: 40px;padding-left:34px;background-image: url(../images/laba.png);background-size:16px;background-repeat: no-repeat;background-position: left 10px center;}
.gonggao a{display: block;color:#ff3838;font-size:0.875rem;}
.tab-active2{border-bottom: 2px solid #5190e7 !important; color: #5190e7 !important;}
.tab-div3 td{border: none !important;}

.newlist3 img {width: 110px;height: 80px;margin-left: 2.6%;position: absolute;top: 14px;right: 14px;}
.newlist3 h4 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; font-size: 17px;line-height: 1.6rem;color:#000;font-weight: bold;}
.newlist3 span {position: absolute;bottom: 10px;left:2.6%;display: inline-block;background-color:#5190e7;color:#fff;padding:2px 4px;font-size:0.75rem;border-radius: 4px;}
.newlist3 .time {position: absolute;bottom: 10px; left:10px;color: #999;left: inherit;font-size: 0.875rem;}

/*我的信息3.0*/
.xinxi3-top{background-color:#fff;margin-bottom: 1rem;text-align: center;padding:20px 20px 30px 20px;}
.xinxi3-top img{width:80px;height:80px;border-radius: 50%;margin-bottom: 16px;}
.xinxi3-top h3{font-size:22px;color:#333;}
.xinxi3-top .mobile-ma{color:#a5b3c6;display: block;margin:10px 0;}
.xx-dengji{background-color:#5190e7;display: inline-block;padding:4px 16px;font-size:0.875rem;color:#fff;}
.tips-xx{font-size:0.875rem;color:#FF4B4B;padding:20px 5% 0px 5%;}
.dingyue{background-color:transparent;width:47.5px;height:24.5px;background-image: url(../images/kai.png);background-repeat:no-repeat;background-size: 100%;border:none;float:right;margin-right:3px;margin-top:-3px;outline: none;}
.dingyue2{background-image: url(../images/guan.png) !important;}

/*加入成功3.0*/
.jrchenggong-p{font-size:0.875rem;color:#a5b3c6;text-align: center;}
.jrchenggong{display: inline-block;border:2px solid #4f90e7;border-radius: 5px;padding:16px;width:60%;margin:30px auto 20px auto;}
.jrchenggong img{display:block;width:100%;margin-bottom:16px;}
.jrchenggong span{display: inline-block;padding-left:30px;background:url(../images/sao.png)no-repeat left center;background-size: 20px;color:#4f90e7;font-size:18px;}
.gm-success{background-color:#fff;text-align: center;padding:0 10px 10px;}
.gm-success img{width:20%;margin-top:20px;margin-bottom: 10px;}
.mai2{display:block;background-color:#4f90e7;width:90%;margin:20px auto;height:50px;color:#fff !important;text-align:center;font-size:1.125rem;line-height:50px;border-radius:4px;border:none;}


/*代理工资3.0*/
.dailigongzi-top2{background:#fff;display: table;padding:10px;width:100%;box-sizing:border-box;}
.dailigongzi-top2 li{display:table-cell;text-align: center;}
.dailigongzi-top2 span{font-size:0.875rem;color:#a5b3c6;display: block;margin-bottom:6px;}
.dailigongzi-top2 h3{font-size:20px;color:#2e2d2d;line-height: 20px;}

/*个人中心3.0*/

/*客户信息3.0*/
.kehuxinxi-top{background:#5190e7;color:#fff;text-align: center;padding:20px 0;}
.kehuxinxi-top p{padding-left:40px;background:url(../images/kehu1.png)no-repeat left 16px center;background-size:18px;line-height:20px;height:20px;font-size:0.875rem;text-align: left;}
.kehuxinxi-top-span{display: block;text-align: center;margin-top:20px;font-size:0.875rem;color:#c0dbff;}
.kehuxinxi-top h3{color:#fff;font-size:38px;text-align: center;line-height: 28px;margin-top:16px;}
.kehu-table{width:100%;background-color:#fff; border-collapse:collapse; border-spacing:0; text-align: center;table-layout: fixed;}
.kehu-table td{position: relative;line-height: 60px;font-size:1rem;height:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0 10px;}
.kehu-table td:after { height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.kehu-table th{background-color:#eee;line-height:60px;font-weight: normal;font-size:0.875rem;}
.font-gray{color:#a5b3c6;}

/*表格样式3.1*/

.xxlia2{background-image: url(../images/jian2.png);background-repeat: no-repeat;background-position: right 10px center;background-size:7px;color:#333 !important;display: block;padding:0px 20px 0px 66px;position: relative;height:60px;line-height: 60px;}
.zx-ul li{background-color:#fff;position: relative;}
.xxlia2 img{position: absolute;left:20px;top:15px;width:30px;}
.xxlia2-span2{float:right;color:#a5b3c6;margin-right:10px;}
.xxlia2-span4{display: inline-block;padding-left:20px;background:url(../images/renshou.png)no-repeat left center;background-size:16px;}
.zhongxin-top{background:url(../images/map.png)no-repeat;margin-bottom: 1rem;text-align: center;background-size:cover;background-position: bottom center;}
.zhongxin-top img {width: 70px;height: 70px;border-radius: 50%;margin:34px auto 10px auto;border:2px solid #fff;}
.zhongxin-top h3 {font-size: 20px;color: #fff;padding-bottom:40px;}
.zhongxin-top .mobile-ma {color: #fff;display: block;padding: 10px 0 30px 0;font-size:18px;font-weight:400;}




/*我的帐户3.0*/
.kehuxinxi-top-a1{display: inline-block;padding-left:22px;background:url(../images/zhanghua1.png)no-repeat left center;background-size:16px;color:#fff !important;float:right;margin-right:16px;}
.kehuxinxi-top-a3{display: inline-block;padding-left:22px;background:url(../images/kehulist.png)no-repeat left center;background-size:16px;color:#fff !important;float:right;margin-right:16px;}
.kehuxinxi-top-a4{display: inline-block;padding-left:22px;background:url(../images/tie3.png)no-repeat left center;background-size:16px;color:#fff !important;float:right;margin-right:16px;}
.kehuxinxi-top-a2{display: inline-block;height:32px;line-height:32px;color:#fff !important;border:1px solid #fff !important;border-radius:20px;width:140px;text-align: center;margin:0 auto;margin-top:16px;}
.zhanghu-ul li{background:#fff;display:inline-block;text-align: center;padding:40px 0;width:45.5%;margin-left:3%;}
.zhanghu-ul li span{font-size:0.875rem;color:#333;display: block;margin-bottom:20px;}
.zhanghu-ul li a{display: inline-block;font-size:32px;color:#333;padding-right:16px;background:url(../images/jian3.png)no-repeat right center;background-size: 7px;}
.zhanghu-ul{font-size:0;margin-top:10px;}
.fxjilu{background:#fff;height:60px;line-height:60px;font-size:0.875rem;padding:0 16px;margin-top:60px;display: block;}
.gothere{display: inline-block;width:10px;background:url(../images/jian3.png)no-repeat center;background-size: 7px;height:60px;float:right;opacity:0.5;}

/*最新口子3.0*/
.gonggao{background-color:#fff;height:40px;line-height: 40px;padding-left:34px;background-image: url(../images/laba.png);background-size:16px;background-repeat: no-repeat;background-position: left 10px center;}
.gonggao a{display: block;color:#ff3838;font-size:0.875rem;}
.tab-active2{border-bottom: 2px solid #5190e7 !important; color: #5190e7 !important;}
.tab-div3 td{border: none !important;}
.newlist3 a{padding: 14px 140px 14px 2.6%;position: relative;height: 108px;display: block;}
.newlist3 a:after{ height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.newlist3 img {width: 110px;height: 80px;margin-left: 2.6%;position: absolute;top: 14px;right: 14px;}
.newlist3 h4 {display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden; font-size: 17px;line-height: 1.6rem;color:#000;font-weight: bold;}
.newlist3 span {position: absolute;bottom: 10px;left:2.6%;display: inline-block;background-color:#5190e7;color:#fff;padding:2px 4px;font-size:0.75rem;border-radius: 4px;}


/*没有更多3.0*/
.meiyou{text-align:center;padding:60px 40px 400px 40px;background-color:#fff;}
.meiyou img{width:50%;}
.meiyou p{color:#ccc;margin-top:16px;}

.layer-buy{background-color:rgba(255,255,255,1);margin:50% auto auto auto;width:90%;display: inline-block; border-radius:4px;font-size:0.875rem;color:#666;}
.layer-buy p{padding:10px 30px 20px 30px;}
.layer-buy>div{border-top:1px solid #ebebeb;}
.layer-buy a{display: inline-block;width:50%;box-sizing:border-box;height:50px;line-height:50px;color:#666;}
.layer-buy a:nth-child(1){border-right:1px solid #ebebeb;}
.layer-buy img{width:60px;height:60px;margin-top:30px;}

/*征信查询3.0*/
.zhengxin-top1{background-color:#fff;height:40px;line-height: 40px;padding-left:34px;background-image: url(../images/chaxun1.png);background-size:18px;background-repeat: no-repeat;background-position: left 10px center;font-size:0.875rem;}
.zhengxin-top1 a{float:right;color:#4f90e7;margin-right:10px;}
.zhengxin-top2{background-color:#fff;border-top:1px solid #ebebeb;margin-bottom: 1rem;}
.zhengxin-top2 ul{width:98%;margin:0 auto;display: table;table-layout: fixed;}
.zhengxin-top2 li{display:table-cell; padding:20px 10px 20px 10px;}
.zhengxin-top2 a{display: block;padding-top:60px;background-size: 50px;background-position: center top;background-repeat: no-repeat;color:#a5b3c6;text-align: center;}
.chaxun2{background-image: url(../images/chaxun2.png)!important;color:#333 !important;}
.chaxun3{background-image: url(../images/chaxun3.png);}
.chaxun4{background-image: url(../images/chaxun4.png);}
.chaxun5{background-image: url(../images/chaxun5.png)!important;color:#333 !important;}
.chaxun6{background-image: url(../images/chaxun6.png);}
.chaxun7{background-image: url(../images/chaxun7.png)!important;color:#333 !important;}
.chaxun8{background-image: url(../images/chaxun8.png);}
.chaxun9{background-image: url(../images/chaxun9.png)!important;color:#333 !important;}
.chaxun10{background-image: url(../images/chaxun10.png)!important;color:#5190e7 !important;}
.chaxun11{background-image: url(../images/chaxun11.png)!important;color:#a5b3c6 !important;}
.chaxun12{background-image: url(../images/chaxun12.png)!important;color:#5190e7 !important;}
.chaxun13{background-image: url(../images/chaxun13.png)!important;color:#a5b3c6 !important;}
.chaxun14{background-image: url(../images/chaxun14.png)!important;color:#5190e7 !important;}
.chaxun15{background-image: url(../images/chaxun15.png)!important;color:#a5b3c6 !important;}
.chaxun16{background-image: url(../images/chaxun16.png)!important;color:#5190e7 !important;}
.chaxun17{background-image: url(../images/chaxun17.png)!important;color:#a5b3c6 !important;}
.chaxun18{background-image: url(../images/chaxun18.png)!important;color:#5190e7 !important;}
.chaxun-jiantou{position: absolute;right:-8px;width:30px;top:36px;}
.chaxun-jiantou2{position: absolute;right:-11px;width:20px;top:40px;}
.zhengxin-part2{background-color:#fff;}
.zhengxin-part2 li{height:70px;line-height: 70px;padding:0 16px;}
.zhengxin-part2-span1{color:#ff4b4b;margin-left:30px;}
.zhengxin-part2-span2{color:#a5b3c6;margin-left:30px;font-size:0.875rem;}
.zhengxin-part2-a{float:right;color:#5190e7 !important;font-size:0.875rem;}
.zhengxin-part2-label{display: block;padding:20px 5%;line-height: 0.875rem;}
.zhengxin-part2-label p,.zhengxin-part2-label a{color:#5190e7;font-size:0.75rem;display: inline;}
.mycheckbox{display: inline-block;width:14px;height:14px;border:1px solid #4f90e7;position: relative;border-radius: 50%;margin-right:5px;vertical-align: top; }
.mycheckbox2:after{content: "";display: inline-block;width:6px;height:6px;background-color: #4f90e7;position: absolute;top:3px;left:3px;border-radius: 50%;}
.mycheckbox input{opacity:0;}
.zhengxin-layer{width:80%;margin:20px auto;text-align: left;position: relative;}
.zhengxin-layer li{height:50px;line-height: 50px;font-size:1rem;color:#333;}
.zhengxin-layer img{float:right !important;width:20px !important;height:20px !important;margin-top:15px !important;}
.zhengxin-layer-span3{float:right; color:#ff4b4b;}
.zhengxin-layer-lastli{border-top: 1px solid #ebebeb;margin-top:20px;padding:10px 0;}
.zxclose{position: absolute;height:51px;top:-70px;right:10px;background:url(../images/zxclose.png)no-repeat;background-size:100%;width:22.5px;border-top:none !important;}
.zx-p1{color:#5190e7;text-align: right;font-size:0.875rem;padding:16px 5%;}
.baogao-wrap{background-color:#fff;padding:1rem 1rem 6px 1rem;margin:1rem;}
.baogao-title{padding-left:40px;position: relative;height:50px;line-height: 50px;border-bottom:1px solid #ebebeb;}
.baogao-title img{width:30px;height:30px;border-radius: 50%;position: absolute;left:0;top:10px;}
.baogao-title h4{display: inline-block;color:#a5b3c6;font-size:0.875rem;}
.baogao-title span{color:#5190e7;float:right;font-size:0.875rem;}
.baogao-ul{margin:1rem 0;}
.baogao-ul li{line-height:36px;padding-left:26px;background-repeat: no-repeat;background-size: 18px;background-position: left center;font-size:0.875rem;}
.baogao-ul li:nth-child(1){background-image: url(../images/time.png);}
.baogao-ul li:nth-child(2){background-image: url(../images/ren1.png);}
.baogao-botton{border-top: 1px solid #ebebeb;padding-top:24px;padding-bottom: 16px;}
.baogao-botton a{display: inline-block;width:36%;height:34px;line-height:34px;text-align: center;border-radius: 3px;margin:0 7%;box-sizing:border-box;font-size:0.875rem;}
.baogao-botton1{border:1px solid #5190e7 !important;color:#5190e7 !important;}
.baogao-botton2{border:1px solid #ff4b4b !important;color:#ff4b4b !important;}
.layer-ma{background-color: rgba(255,255,255,0);margin: 50% auto auto auto;width: 70%;display: inline-block;border-radius: 4px;font-size: 0.875rem;color: #fff;position: absolute;top:0;z-index: 99999;left:15%;}
.zxindex-top{position: relative;}
.zxindex-top a{display: inline-block;position: absolute;bottom:30px;left:50%;width:160px;background-color:#5190e7;color:#fff;height:40px;line-height: 40px;border-radius: 25px;text-align: center;margin-left: -80px;}
.zxindex-top img{width:100%;display: block;}



/*常见问题 服务协议3.0*/
.changjian em{font-style:normal;color:#f24747;}
.changjian p{font-size:1rem;margin-bottom: 10px;color:#555;line-height: 1.5rem}
.changjian h3{font-size:1.125rem;color:#333;margin-bottom: 20px;margin-top:30px;font-weight: bold;}
.changjian h2{font-size:1.5rem;color:#333;margin-bottom: 20px;}
.changjian {padding:1rem;}
.changjian span{float:right;font-size:0.875rem;color:#999;margin:20px 0;}
.changjian .wen{font-weight: bold;color:#333;margin-top:20px;}
.changjian h4{margin:16px 0;font-weight: bold;}
.changjian .emdowmline{text-decoration: underline;font-style:normal;color:#000;font-weight: bold;}
.changjian b{color:#000;}

/*征信报告单3.0*/
.zxbg-part1{background-color:#fff;text-align: center;}
.zxbg-title-p1{color:#5190e7;font-size:0.875rem;line-height: 40px;padding-left:16px;text-align: left;}
.zxbg-part1-numblue{border-radius: 50%;border:4px solid #c7dfff;margin:20px auto;display: inline-block;}
.zxbg-part1-numblue span{display: inline-block;width:120px;height:120px;border-radius: 50%;border:4px solid #5190e7;color:#5190e7;font-size:40px;line-height:114px;font-weight: 600;}
.zxbg-part1-numblue em{font-style: normal;font-size:28px;font-weight: normal;}

.zxbg-part1-numred{border-radius: 50%;border:4px solid #ffd0d0;margin:20px auto;display: inline-block;}
.zxbg-part1-numred span{display: inline-block;width:120px;height:120px;border-radius: 50%;border:4px solid #ff4b47;color:#ff4b47;font-size:40px;line-height:114px;font-weight: 600;}
.zxbg-part1-numred em{font-style: normal;font-size:28px;font-weight: normal;}

.zxbg-part1-p{color:#a5b3c6;padding-bottom: 20px;}
.zxbg-part2{background-color:#fff;margin-top:20px;}
.zxbg-part2 li{height:60px;line-height:60px;font-size:1rem;padding:0 16px;}
.zxbg-span-r{float:right;}
.zxbg-span-rr{display: inline-block;float:right;color:#fff;background-color:#ff4b47;padding:4px 6px;border-radius:2px;line-height: 1rem;margin-top:18px;}
.zxbg-span-rg{display: inline-block;float:right;color:#fff;background-color:#71d173;padding:4px 6px;border-radius:2px;line-height: 1rem;margin-top:18px;}
.zxbg-span-ry{display: inline-block;float:right;color:#fff;background-color:#ffc35c;padding:4px 6px;border-radius:2px;line-height: 1rem;margin-top:18px;}
.zxbg-part2-ul2 span{display: inline-block;width:50%;text-align: center;}
.zxbg-part2-ul2,.zxbg-part2-ul3{background-color:#fff;padding-bottom:10px;}
.zxbg-part2-ul3 span{display: inline-block;width:33.3%;text-align: center;}
.zxbg-part2-ul2 li,.zxbg-part2-ul3 li{font-size:15px;height:50px;line-height: 50px;}
.zxbg-part2-jieshi{padding:20px;}
.zxbg-part2-jieshi p{text-indent:30px;line-height:26px;text-align:justify }
.zxbg-bottom{background-color:#619ff4;color:#fff;position: relative;padding:20px 20px 20px 160px;height:160px;}
.zxbg-bottom img{width:120px;height:120px;position:absolute;top:20px;left:20px;}
.zxbg-bottom h3{color:#fff;margin:10px 0;font-size: 20px;}
.zxbg-bottom li{padding:0;line-height: 30px;height:30px;padding-right:30px;background: url(../images/gou.png) no-repeat right center;background-size: 18px;}
@media only screen and (max-width:360px){
    .zxbg-bottom h3{color:#fff;margin:8px 0;font-size:18px;}
    .zxbg-bottom li{padding:0;line-height:20px;height:20px;padding-right:30px;background: url(../images/gou.png) no-repeat right center;background-size: 14px;font-size: 14px;}
    .zxbg-bottom img{width:80px;height:80px;position:absolute;top:20px;left:20px;}
    .zxbg-bottom{background-color:#619ff4;color:#fff;position: relative;padding:20px 20px 20px 120px;height:120px;}
}

.zxbg-part2 .zxbg-li2{height:70px;line-height:inherit;}
.zxbg-li2 p{font-size:0.75rem;color:#a5b3c6;line-height: 0.75rem;padding:10px 0;}
.zxbg-li2 .zxbg-span-rr{margin-top:23px;}
.zxbg-li2 .zxbg-span-r{margin-top:27px;}
.zxbg-li2 div{display: inline-block;margin-top:12px;}
.zxbg-part2 .zxbg-li3{height:auto;line-height:inherit;padding:16px;}
.zxbg-li3 p{margin:16px 0;}
.em-red{font-style: normal;color:#ff4b4b;}
.em-blue{font-style: normal;color:#5190e7;}

/*民生银行生成二维码页面*/
.ms-disabled{background-color: #ccc !important;background-image: none;}


/*代呗返现记录*/
.kehu-table1{width:100%;background-color:#fff; border-collapse:collapse; border-spacing:0; text-align: center;table-layout: fixed;}
.kehu-table1 td{position: relative;line-height: 60px;font-size:0.875rem;height:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0 10px;}
.kehu-table1 td:after ,.kehu-table1 th:after{ height: 1px; content: ''; width: 100%; border-top: 1px solid #ebebeb; position: absolute; bottom: -1px; right: 0; transform: scaleY(0.5); -webkit-transform: scaleY(0.5); z-index: 10;}
.kehu-table1 th{line-height:60px;font-weight: normal;font-size:1rem;position: relative;}
.daifan-top{background-color:#eee;height:50px;line-height: 50px;padding:0 16px;}
.ipt-month{float:right;display:inline-block;background:url(../images/month.png)no-repeat center;background-size:100%;width:22px;height:50px;position: relative;}
.ipt-month input{position: absolute;bottom: 10px;right: -4px;opacity: 0;}

/**/
.marck{background-color: rgba(0,0,0,0.5);width: 100%;height: 100%;position: fixed;left: 0;top: 0;}
.return-top{position: fixed;width: 50px;height: 50px;display:none;bottom: 10%;right: 6%;background: url(../images/product/retunTop.png);background-repeat: no-repeat;background-size: 100% 100%;}
.btnsq-box{position: fixed;bottom: 0;left: 0;width: 100%;background-color: #fff;border-top: 1px solid #eee;}
.btnljsq{background-color: #4F90E7;width: 90%;font-size: 18px;color: #fff;border-radius: 5px;border-style: none;text-align: center;display: block;margin: 10px auto;height: 45px;}
input.btnljsq {-webkit-appearance:none; /*去除input默认样式*/}