body {
  font-size: 0.2rem;
  color: #333;
  background-color: #f6f7f9;
}
.out_box {
  width: 7.5rem;
  max-width: 7.5rem;
  margin: 0 auto;
  padding: 0.15rem;
  box-sizing: border-box;
}
.inner_box {
  width: 100%;
  background-color: #fff;
  border-radius: 0.1rem;
  box-sizing: border-box;
}
.inner_box .xianshi {
  margin-right: 0.4rem;
  width: 1.2rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  background-image: linear-gradient(to right, #fe2824, #fd997a);
  border-radius: 0 0 0.1rem 0.1rem;
  color: #fff;
  font-size: 0.2rem;
}
.inner_box .title {
  padding: 0 0.3rem;
  height: 0.4rem;
  margin-bottom: 0.4rem;
}
.inner_box .title img {
  width: 0.4rem;
  height: 0.4rem;
}
.inner_box .title h3 {
  font-size: 0.3rem;
  font-weight: bold;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}
.inner_box .title span {
  display: block;
  width: 1rem;
  height: 0.34rem;
  background-color: #fe5051;
  border-radius: 0.05rem;
  margin-top: 0.03rem;
  color: #fff;
  text-align: center;
  line-height: 0.34rem;
}
.inner_box .middle {
  padding: 0.2rem 0.3rem;
  border-bottom: 1px solid #f0f0f0;
}
.inner_box .middle dl dd {
  color: #a7a7a7;
  font-size: 0.24rem;
}
.inner_box .middle .money dt {
  font-size: 0.3rem;
  font-weight: bold;
  padding-bottom: 0.05rem;
}
.inner_box .middle .money dt span{
  border-radius: 0.05rem;
  border: 0.01rem solid red;
  font-size: 0.24rem;
  color: red;
  font-weight: initial;
  padding: 0.07rem;
}
.inner_box .middle .fanhuan dt {
  color: #fe5051;
  padding-bottom: 0.1rem;
}
.inner_box .middle .fanhuan dt b {
  height: 0.25rem;
  line-height: 0.25rem;
  padding: 0 0.1rem;
  border-radius: 0.05rem;
  background-image: linear-gradient(to right, #fe2824, #fd997a);
  color: #fff;
  margin-right: 0.05rem;
}
.inner_box .middle .fanhuan dt font {
  font-size: 0.28rem;
  padding: 0 0.05rem;
  font-weight: bold;
}
.inner_box .middle .fanhuan dd span{
  color: #333;
  padding: 0 0.05rem;
}
.inner_box .des {
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.3rem;
  color: #a7a7a7;
  font-size: 0.24rem;
}
