/*清楚浏览器自带样式*/

body,
input,
form,
p,
span,
ul,
li,
h2,
button {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

input,button,li {
	-webkit-tap-highlight-color: transparent;
}


input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
	-webkit-appearance: none;
}
a{text-decoration: none;}
body {
	max-width: 500px;
}

ul li {
	list-style: none;
}


/*表单*/

#w0 {
	padding: 15px 30px 0 30px;
}

.ap-form-box input {
	font-size: 15px;
	width: 100%;
	border-style: none;
	/*color: #fff;*/
	padding: 12px 0;
	border-radius: 5px;
}


/*信息表单*/

.ap-input-ms {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
}

.ap-left {
	width: 10%;
	height: 35px;
	float: left;
	position: relative;
	padding: 2px 0;
}

.ap-left img {
	height: 24px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%, -50%);
	-webkit-transform: translate(-20%, -50%);
	-moz-transform: translate(-20%, -50%);
	-ms-transform: (-20%, -50%);
}

.ap-right {
	width: 90%;
	float: left;
}

.ap-right input {
	width: 100%;
	border-width: 0;
	height: 35px;
	padding: 2px 0 2px 4px;
	outline: none;
}


/*带验证码部分*/
#ap-form {
	padding: 15px 30px 0 30px;
}

.ap-input-code {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
}

.ap-code-center {
	width: 60%;
	float: left;
}

.ap-code-center input.ap-txt {
	border-width: 0;
	height: 35px;
	width: 100%;
	padding: 2px 0 2px 4px;
	outline: none;
}

.ap-code-right input.ap-btn {
	border-width: 0;
	height: 35px;
	background-color: #4e90e6;
	color: #fff;
	margin: 2px auto;
	display: block;
	padding: 0 8px;
	border-radius: 5px;
	outline: none;
}

.ap-code-right {
	float: right;
	height: 35px;
}
.ap-code-right img{
	
	height: 35px;
	margin: 2px 0;
}

.ap-code-right .ap-code {
	height: 35px;
	margin: 2px auto;
	display: block;
}


/*协议*/

.ap-agreement {
	margin-bottom: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	position: relative;
	overflow: hidden;
	line-height: 55px;
}

.ap-left-check {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: (-50%, -50%);
}

.ap-check {
	width: 8%;
	height: 35px;
	float: left;
	position: relative;
	padding: 10px 0;
	/*margin-left: 6px*/
}

.ap-agreement input {
	width: 16px;
	height: 16px;
}

.ap-agreement span {
	color: #cccccc
}

.ap-agreement span a {
	color: #4E90E6;
	text-decoration: none;
}


/*复选框样式*/

input[type="checkbox"]+label::before {
	content: "\a0";
	/*不换行空格*/
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: .2em;
	/*background-color: silver;*/
	border: 1px solid silver;
	text-indent: 1px;
	line-height: 16px;
	/*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}

input[type="checkbox"]:checked+label::before {
	color: #fff;
	content: "\2713";
	background-color: #4E90E6;
	border: none;
}

.ap-agreement input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.ap-btn-sure input {
    font-size: 18px;
    width: 95%;
    border-width: 0;
    background-color: #b9b7b7;
    border-radius: 5px;
    color: #fff;
    line-height: 45px;
    margin: 20px auto;
    display: block;
    outline: none;
}

/* Demo Styles */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

.swiper-container {
	/*width: 640px;*/
	/*height: 180px;*/
}

.red-slide {
	background: #ca4040;
}

.blue-slide {
	background: #4390ee;
}

.orange-slide {
	background: #ff8604;
}

.green-slide {
	background: #49a430;
}

.pink-slide {
	background: #973e76;
}

.swiper-slide p {
	font-style: italic;
	font-size: 25px;
}

.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: rgba(255, 255, 255, .2);
	margin-right: 5px;
	opacity: 0.8;
	cursor: pointer;
}

.swiper-active-switch {
	background: #fff;
}

.swiper-dynamic-links {
	text-align: center;
}

.swiper-dynamic-links a {
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 5px;
	font-size: 12px;
	text-decoration: none;
	color: #333;
	background: #eee;
}
.swiper-slide{height: 100%;}
.swiper-slide img {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}


/*参与方式*/

.jq-cyfs-box {
	background: #fff;
}

.jq-title h2 {
	font-size: 16px;
	text-align: center;
	padding: 15px 0;
	font-weight: 500;
	border-bottom: 1px solid #eee;
}

.jq-cyfs-flow ul {
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	text-align: center;
	padding: 0 15px;
	position: relative;
}


.jq-flow-img li {
	float: left;
	flex: 2;
	-webkit-flex: 2;
	padding-top: 30px
}
.jq-cyfs-box .jq-cyfs-flow .jq-flow-img li{
	padding-top: 10px
}

.jq-flow-img .jp-jt-pis:nth-of-type(1) {
	position: absolute;
	left: 31%;
	top: 52%;
}
.jq-cyfs-box .jq-cyfs-flow .jq-flow-img .jp-jt-pis:nth-of-type(1){
	top: 44%;
}
.jq-flow-img .jp-jt-pis:nth-of-type(2) {
	position: absolute;
	left: 61%;
	top: 52%;
}
.jq-cyfs-box .jq-cyfs-flow .jq-flow-img .jp-jt-pis:nth-of-type(2){
	top: 44%;
}

.jq-flow-img li img {
	height: 60px;
}

.jq-flow-ms li {
	float: left;
	flex: 1;
	-webkit-flex: 1;
	padding: 10px 0 24px 0;
	font-size: 14px;
	color: #a5b3c6;
}

.jq-top-mg {
	margin-top: 18px;
}


/*收入预估*/

.jq-sryg-box {
	background: #fff;
}

.jq-small-title {
	display: flex;
	display: -webkit-flex;
	line-height: height: 18px;;
	height: height: 18px;;
	padding: 15px 15px;
}

.jq-small-title .jq-sm-logo img {
	height: 18px;
	flex: 1;
	display: inline-block;
	vertical-align: middle;
	justify-content: flex-start;
}

.jq-small-title .jq-sm-til {
	padding-left: 2%;
	flex: 2;
	font-size: 16px;
}

.jq-small-title .jq-sm-ms {
	flex: 1.5;
	justify-content: flex-end;
	text-align: right;
	display: -webkit-flex;
	align-items: center;
	color: #a5b3c6;
}
.jq-price-select span{margin:24px 0;font-size:16px;display: block;}
.jq-price-select span i{background: #4E90E6;color: #fff;padding: 0 8px;font-style: normal;border-radius: 100px;}
.jq-price-scope{padding: 10px 0;/*overflow: hidden;*/font-size: 15px;color: #a5b3c6;width: 300px;margin: 0 auto;}
.jq-price-scope span:nth-of-type(1){float: left;}
.jq-price-scope span:nth-of-type(2){float: right;}
/*.jq-price-box{margin: 0 20px;}*/
.jq-forecast-earnings-box{color: #A5B3C6;text-align: center;font-size: 16px;padding: 26px 0 5px 0;}
.jq-forecast-earnings-box span{color: #007DDB;}
.jq-jsfs-speak{padding: 0 20px 20px 20px;color: #A5B3C6;font-size: 14px;}
.jq-jsfs-speak p{padding: 5px 0;}


.pdta-ms {
	text-align:center;
	font-size:12px;
	color: #a5b3c6;
	display:block;
	padding-bottom:10px;
	border-bottom:1px solid #F1F4F8;
}


/*本月排行*/

.jq-byph-box {
	background: #fff;
}

.client-table {
	border-style: none;
	border-bottom: 80px solid #eee;
	width: 100%;
	font-size: 14px;
	
}

.client-table tbody tr {
	display: flex;
	display: -webkit-flex;
	border-style: none;
	border-bottom: 1px solid #eee;
	padding: 0 15px;
}

.client-table tbody tr th {
	font-size: 15px;
	color: #a5b3c6;
	font-weight: 500;
}

.client-table tbody tr th,
td {
	font-size: 15px;
	border-style: none;
	text-align: center;
	padding: 5px 0;
	height: 45px;
	line-height: 45px;
	flex: 2;
	-webkit-flex: 2;
}
.client-table tbody tr td {
	position: relative;
}
.tb-active {
	width: 27px;
	height: 27px;
	display: block;
	background: #FEB977;
	box-shadow: 0 0 10px #FAF0EB;
	-webkit-box-shadow: 0 0 10px #FAF0EB;
	color: #fff;
	border-radius: 50%;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	font-weight: 600;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	
}

.client-table tbody tr td img:nth-of-type(1) {
	height: 45px;
	display: inline-block;
	vertical-align: middle;
}

.client-table tbody tr th:nth-of-type(1),
td:nth-of-type(1) {
	flex: 1;
	-webkit-flex: 1;
}

.client-table tbody tr th:nth-of-type(3),
td:nth-of-type(3) {
	flex: 1.5;
	-webkit-flex: 1.5;
	color: #FE6561;
}


/*进度条*/

#div1 {
	width: 300px;
	height: 6px;
	position: relative;
	border-radius: 100px;
	margin: 0 auto;
	background: -webkit-linear-gradient(left, #5bbaff, #3a86ff);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #5bbaff, #3a86ff);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #5bbaff, #3a86ff);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #5bbaff, #3a86ff);
	/* 标准的语法 */
}

#div2 {
	height: 24px;
	width: 24px;
	background: #fff;
	position: absolute;
	/*left: 50%;*/
	top: -9px;
	/*transform: translateX(-50%);*/
	border-radius: 30px;
	box-shadow: 0 0 20px #a5b3c6;
}
/*底部*/
.pd-btn-apply {
    max-width: 500px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ebebeb;
    text-align: center;
    line-height: 45px;
    background: #fff;
    font-size: 18px;
}
.btn-apply-now {
    width: 90%;
    height: 45px;
    background: #4E90E6;
    color: #fff;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}
/*@media screen and (min-width:320px) and (max-width:360px){
	.jq-price-box{margin: 0;}
	.jq-price-scope{margin: 0 10px;}
	#div1{margin: 0 10px;}
}*/


/*推广链接*/
.jq-popups-box{display:none;text-align: center;background: rgba(0,0,0,.5);width: 100%;height: 100%;position: fixed; left: 0;top: 0;z-index: 999;}
.jq-popups-smbox{width: 90%;position:relative;height:auto;background: #fff;position: absolute;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform:translateX(-50%);bottom: 10%;border-radius: 10px;}
.jq-ps-tilbx p{color: #A5B3C6;position: relative;padding:20px 0 15px 0;font-size: 15px;}
.jq-ps-tilbx p img{position: absolute;right: 5%;height:24px;}
.jq-ps-qrcode img{width: 94%;display: inline-block;vertical-align: middle;}
.jq-ps-copy{padding:30px 0;width: 150px;padding: 12px 16%;background: #5190e7;margin: 12px auto;border-radius: 100px;}
.jq-ps-copy a{color: #fff;font-size: 15px;width: 150px;display: block;overflow: hidden;}
.popups-hqpsjt{position: absolute;top:-50px;right: -2px;height: 70px;}

/*常见问题界面代码样式*/
.faq-big-box .faq-nav-head{position: relative;width: 100%;height: 160px;background: url(../images/product/faq-bg.png);background-size: 100% 100%;background-repeat: no-repeat;}
.faq-big-box .faq-nav-head .faq-btn-ph{outline:none;padding: 0 12px 0 7px;background: #2497cf;border-style: none;border-radius: 100px;position: absolute;bottom: 12px;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);}
.faq-big-box .faq-nav-head .faq-btn-ph img{display: inline-block;height: 30px;width: 30px;vertical-align: middle;}
.faq-big-box .faq-nav-head .faq-btn-ph span{display: inline-block;height: 30px;line-height: 30px;color: #fff;}
.faq-list-box ul li{padding: 0 15px;border-bottom: 1px solid #eee;}
.list-head-questions {padding: 15px 0;display: flex;display: -webkit-flex;display: -ms-flexbox;}
.list-head-questions .list-q-faq{flex: .2;-webkit-flex:.2;padding-top:3px;}
.list-head-questions .list-q-faq span{font-style:normal;background: #5190e7;color: #fff;width: 20px;height: 20px;/*line-height:17.5px;*/text-align: center;display: block;}
.list-head-questions .list-til-faq{flex: 2;-webkit-flex:2;font-size: 16px;line-height: 26px;}
/*重要字用红色表示*/
.list-head-questions .list-til-faq span{color: #fe6561;}
.list-head-questions .list-lgimg-faq{flex: .1;-webkit-flex:.1;justify-content: flex-end;position: relative;}
.list-head-questions .list-lgimg-faq img{height: 14px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.list-head-questions .list-lgimg-faq img.faq-actives{transform: translateY(-50%) rotate(90deg);-webkit-transform: translateY(-50%) rotate(90deg);-ms-transform: translateY(-50%) rotate(90deg); -moz-transform: translateY(-50%) rotate(90deg);}
.list-ms-response{padding: 2px 10%;font-size: 15px;color: #A5B3C6;display: none;padding-bottom: 18px;}

/*申请银行卡界面*/

.apy-head-box {
	display: flex;
	display: -webkit-flex;
	background: -webkit-linear-gradient(left, #5dbcff, #3984ff);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #5dbcff, #3984ff);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #5dbcff, #3984ff);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #5dbcff, #3984ff);
	/* 标准的语法 */
	padding: 25px 0;
}

.apy-head-img {
	flex: .8;
	-webkit-flex: .8;
}

.apy-head-img img {
	height: 80px;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	border-radius: 50%;
}

.apy-head-mes {
	flex: 2;
	-webkit-flex: 2;
	color: #fff;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.apy-head-mes h2 {
	font-weight: 500;
	font-size: 20px;
	flex: 1;
	-webkit-flex: 1;
	align-items: center;
	display: -webkit-flex;
}

.apy-head-mes p {
	font-size: 15px;
	flex: 1;
	-webkit-flex: 1;
	align-items: center;
	display: -webkit-flex;
}

.apy-mes-box ul li {
	border-bottom: 1px solid #eee;
}

.apy-mes-box ul li a {
	display: block;
	padding: 20px 4%;
	display: flex;
	display: -webkit-flex;
}

.apy-mes-img {
	flex: 1;
	-webkit-flex: 1;
}

.apy-mes-img img {
	height: 80px;
	display: inline-block;
	vertical-align: middle;
}

.apy-mes-tilbox {
	flex: 2;
	-webkit-flex: 2;
	padding-left: 12px;
	color: #000;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.apy-mes-tilbox h2 {
	flex: 1;
	-webkit-flex: 1;
	font-weight: 500;
	font-size: 16px;
	align-items: center;
	display: -webkit-flex;
}

.apy-mes-tilbox p {
	flex: 1;
	-webkit-flex: 1;
	align-items: center;
	display: -webkit-flex;
	color: #c4cdda;
}

.apy-mes-tilbox .apy-btn-mes {
	flex: 1;
	-webkit-flex: 1;
	align-items: center;
	display: -webkit-flex;
}

.apy-mes-tilbox .apy-btn-mes span {
	margin-right: 2%;
	padding: 0 2%;
	border: 1px solid #4e90e6;
	color: #4E90E6;
	border-radius: 3px;
}



/*代呗店样式*/
.dbd-hlhg{height: 100%;}
.dbd-hlhg body{height: 100%;}
.dbd-big-box{background: #eee;height: 100%;}
.dbd-head-box{background: #fff;padding: 4px 10px;display: flex;display: -webkit-flex;}
.dbd-head-box i.dbd-jhtb{display: inline-block;vertical-align:middle;width: 30px;height: 30px;background-image:url(../../images/dbdjhs.png);background-size: 100% 100%;background-repeat: no-repeat;}	.dbd-head-box span{font-size: 15px;flex: 1;-webkit-flex: 1;padding: 4px 0;}
.dbd-head-box span a{color: #4f90e7;font-weight: 500;}
.dbd-head-box span i.dbd-jths{display: inline-block;width: 15px;height: 10px;background-image:url(../../images/sjt.png);background-size: 100% 100%;background-repeat: no-repeat;}
.dbd-mess-box{margin-top: 15px;height: 100%;padding: 0 10px;background: #fff;}
.dbd-mess-box .swiper-container{height: 100%;}
.dbd-mess-box .pagination{position: absolute;z-index: 20;left: 10px;bottom: 2%;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);}
.dbd-mess-box .swiper-pagination-switch{background: #a5b3c6;}
.dbd-mess-box .swiper-active-switch{background: #4f90e7;width: 18px}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide p{margin: 6px 0;font-style:normal;font-size: 16px;color: #4F90E7;text-align: center;}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide img{height: 220px;width: 260px;display: block;margin: 0 auto;margin-top: 11%;}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide p:nth-of-type(1){margin-top: 20px;}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide p:nth-of-type(1) span{font-weight: 600;font-size: 17px;}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide p:nth-of-type(2),p:nth-of-type(3){font-weight: 600;}
.dbd-mess-box .swiper-container .swiper-wrapper .swiper-slide p:nth-of-type(2){margin-top: 45px}
.dbd-btn-box{position: absolute;bottom: 9%;background: #fff;width: 100%;}
.dbd-btn-box a{display: block;background: #4F90E7;margin: 0 auto;border-style: none;color: #fff;width: 60%;padding: 12px 0;border-radius: 100px;font-size: 16px;text-align: center;}

/*卡神代呗店*/
.ks-dbd-box{padding: 0 15px;}
.ks-dbd-box p{color: #a5b3c6;text-align: center;font-size: 14px;padding: 15px 0;}
.ks-dbd-head-box form input{border-style: none;font-size: 15px;}
.ks-dbd-head-box form input.ks-ss{text-indent: 6px;width: 80%;height:48px;background: #eeeeee;color: #a5b3c6;outline:none;border-radius: 5px;}
.ks-dbd-head-box form input.ks-btnfz{width: 18%;height: 48px;background: #5190e7;border-radius: 5px;color: #fff;float: right;}
.ks-dbd-tiltle h2{height: 20px;line-height: 20px;margin: 15px 0;font-weight: 500;font-size: 18px;padding-left: 5px;border-left: 4px solid #5190e7;}
.ks-dbd-ewm-box img{width: 100%;display: block;margin: 0 auto;}




/*分辨率调试*/

@media screen and (min-width:320px) and (max-width:360px) {
	.jq-popups-smbox {
		bottom: 3%;
		width: 100%;
		transform: translateX(-50%) scale(.85);
		-webkit-transform: translateX(-50%) scale(.85);
		-ms-transform: translateX(-50%) scale(.85);
		-moz-transform: translateX(-50%) scale(.85);
	}
	.popups-hqpsjt {
		top: -68px;
		right: -8px;
		height: 86px;
	}
	.jq-flow-img li img {
		height: 50px;
	}
	.apy-head-box{padding: 20px 0;}
	.apy-head-img img{height: 68px;}
	.apy-head-mes h2{font-size: 16px;}
	.apy-head-mes p{font-size: 13px;}
	.apy-mes-img img{height: 72px}
	.apy-mes-tilbox h2{font-size: 13px;}
	.apy-mes-tilbox p{font-size: 12px;}
	.apy-mes-box ul li a{padding: 15px 4%;}
	.apy-mes-tilbox .apy-btn-mes span{font-size: 12px;margin-right: 2%;padding: 0 1%;}
}
@media screen and (min-width:319px){
	.faq-big-box .faq-nav-head{height: 140px;}
}
/*@media screen and (max-width:319px){
	.jq-popups-smbox{transform: translateX(-50%) scale(.8);-webkit-transform: translateX(-50%) scale(.8);-ms-transform: translateX(-50%) scale(.8);-moz-transform:translateX(-50%) scale(.8);}
	.popups-hqpsjt{top:-72px;right: -26px;height: 86px;}
}*/
@media screen and (min-width:374px) and (max-width:411px){
	.jq-popups-smbox{bottom: 4%;width: 100%;transform: translateX(-50%) scale(.9);-webkit-transform: translateX(-50%) scale(.9);-ms-transform: translateX(-50%) scale(.9);-moz-transform:translateX(-50%) scale(.9);}
	.popups-hqpsjt{top:-50px;right: 0px;height: 70px;}
}
@media screen and (min-width:413px) and (max-width:767px){
	.faq-big-box .faq-nav-head{height: 180px;}
}
@media screen and (min-width:411px) and (max-width:413px){
	.faq-big-box .faq-nav-head{height: 180px;}
	.jq-popups-smbox{bottom: 6%;}
}


/*排行榜  */

.table {  border: 0px solid darkgray; background-color: #fff;border-bottom: 80px solid #f1f4f8;}
.tr { display: flex; display: -webkit-flex;width: 100%; justify-content: center; align-items: center;}
.td { /* justify-content: center; */ text-align: center; flex: 1; height: 54px;line-height: 54px;  color: #97a7b7; font-size: 28rpx;border-bottom: 1px solid #f1f4f8}
.th .td{border-style: none;}
.td:first-of-type{text-align: center; flex: .4;margin-left: 10px;}  
.td.head-user{flex: .5;-ms-flex: .5;}
.td:last-of-type{margin-right: 10px;color: #ffa646;font-weight: 500} 
.td.cl-th{color: #97a7b7;font-weight: 400}
/* .td:nth-of-type(2){text-align: left;flex: 2;align-items: center;display: inline-block}   */
.bg-w{background: snow;}
.img-us img{width: 40px;height: 40px;display: inline-block;vertical-align: middle;  border-radius: 50%}
.img-us span{ display: inline-block;height: 54px;line-height: 54px;color: #97a7b7;padding-left: 12px;}
.top-three{display: flex;padding:  30px 0 10px 0;flex-wrap:nowrap ;}
.top-three-box{width: 26%;padding: 0 3.6%;}
.top-three-box img{width: 65px;height: 65px;display: block;margin: 0 auto; border-radius: 50%}
.top-three-box div{position: relative;}
.top-three-box img.two-image{width: 80px;height: 80px;margin-top: -15px;}
.top-three-box div .bq{position: absolute;right: 15px;bottom: 0;font-style: normal;border-radius: 50%;display: block;width: 18px;height: 18px;background-color: #FA2652;line-height: 18px;text-align: center;font-size: 12px;color: #fff;}
.top-three-box div .bq-two{background-color: #FFD119;}
.top-three-box div .bq-one{width: 20px;height: 20px;line-height: 20px;}
.top-three-box div .bq-three{background-color: #5190E7;}
.top-three-box img.topone-image{width: 65px;height: 65px;margin-top: -10px;}
.top-three-box span{color: #97a7b7;font-size: 14px;display: block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;text-align: center;padding: 8px 0;}
.top-three-box span.top-three-monney{text-align: center;background-color: #fff6eb;display: block;width: 66%;margin: 0 auto;border-radius: 100px;padding: 3px 4px;color: #ffa646;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}

.caption-head-box span{background-color: #fff;font-size: 15px;font-weight: 500;display: block;padding: 15px 10px;text-align: center;margin-top: 15px}
.veigt-box{height: 1px;}
.veigt-box span{display: block;width: 10%;height: 1px;margin:0 auto;padding:0;background-color: #4e90e6;}
.pdta-ms{text-align: center;font-size: 12px;color: #98a7b8;display: block;padding-bottom: 10px;}