			body,a,span,h2,ul,li,h3{margin:0;padding:0;}
			body{max-width: 500px;}
			a,span,h2,li{font-size: 15px;font-family: "微软雅黑";text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
			li{list-style: none;}
			/*代呗头部样式*/
			.db-head-box{padding: 12px 15px;overflow: hidden;position: relative;background: #fff;}
			.tb-head-ms{float: left;width: 80%;height: 35px;}
			.db-head-box .tb-head-ms a{height: 35px;line-height: 35px;width: auto;max-width: 46%;display:block;float:left;white-space:nowrap;overflow:hidden; text-overflow:ellipsis !important;}
			.db-head-box img{float: left;height: 35px;border-radius: 50%;}
			.db-head-box span{color:#a5b3c6;display: inline-blocl-tagck;line-height: 35px;}
			.db-head-box a.db-user-ms{display:inline-block;color:#7faeed;padding-left: 6px;height: 35px;}
			.db-problem{width: 20px;height: 20px;position:absolute;right: 15px;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);background-image: url(../images/product/cjwt.png);background-size: 100% 100%;background-repeat: no-repeat;}
			/*代呗图片展示区样式*/
			.db-slider-box{height: 115px;}
			.db-slider-box img{height: 100%;width: 100%;}
			/*代呗公告区样式*/
			.ntsbx{background-color: #fff;height: 30px;display: flex;display: -webkit-flex}
			.ntsbx img{height: 30px;display: block;margin-right:6px;float: left;}
			.ntsbx marquee{color: #98A7B8;font-size: 14px;float: left;margin: 7px 0;}
			.db-notice-box{background-color: #fdfbec;padding: 10px 15px;height: 14px;}
			.db-notice-box img{height: 14px;display: block;margin-right:10px;float: left;}
			.db-notice-box span{color: #ffb05a;font-size: 14px;display: block;line-height: 14px;}
			/*产品区*/
			/*代呗热门推荐样式区*/
			.db-tab{text-align: center;color: #666;font-size: 15px;}
			.db-tab ul{border-bottom: 1px solid #f1f4f8;}
			.db-tab ul li{display: inline-block;margin: 0 6%;}
			.db-tab ul li a.active{color: #5190e7;border-bottom : 2px solid #5190e7;}
			.db-tab ul li a{color: #000;display: block;padding: 15px 0;cursor: pointer}
			.tab-all-product{position: relative;width: 100%;}
			/*.tab-all-product .tab-btbox{position: absolute;left: 0;top: 0;width: 100%;}*/
			
			/*代呗客户列表样式区*/
			.db-client-slider{position: relative;}
			.client-slider{height: 120px;}
			.client-slider img{width: 100%;height: 120px;position: absolute;left: 0;top: 0;}
			.client-timer{position: absolute;left: 15px;top: 8px;color: #fff;}
			.client-timer img{height: 18px;margin-right: 5px;margin-bottom: 4px;display: inline-block;vertical-align: middle;}
			.client-timer span{font-size: 13px;letter-spacing:1px}
			.client-messr{position: absolute;left: 50%;top: 50%;color: #fff;transform: translate(-50%,-40%);-webkit-transform: translate(-50%,-40%);-ms-transform: translate(-50%,-40%);-moz-transform: translate(-50%,-40%);}
			.client-messr span{font-size: 30px;}
			.client-slider-prne img{height: 24px;position: absolute;top: 50%;}
			.client-slider-prne img:nth-of-type(1){left: 15px;}
			.client-slider-prne img:nth-of-type(2){right: 15px;}
			.db-client-daypro .db-loans-list ul li img{height: 54px;}
			.client-order-details{display: block;line-height: 20px;font-size: 14px;float: right;color: #bebebe;/*margin-right: 12px*/;}
			.client-order-details img{float: right}
			.client-table{border-style: none;padding: 15px 0;width: 100%;}
			.client-table tr{width: 100%;display:flex;display:-webkit-flex;color: #A6B4C7;}
			.client-table tr.ysda{color: #000}
			.client-table th,td{border-style: none;text-align: center;flex: 1;}
			.client-table th{font-weight: 500;line-height: 30px;color: #000}
			.client-table td{font-weight: 400;border-bottom: 1px solid #f1f4f8;line-height: 60px;}
			.client-table td a{color: inherit}
			.linebt{height: 1px;width: 100%;background-color: #f1f4f8;}
			
			/*代呗信用卡样式区*/
			.db-slider-one ul{overflow: hidden;display: flex;display: -webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
			.db-slider-one ul li{width: 44.3%;margin: 27px 0 27px 20px;border-right: 1px solid #f1f4f8;display: flex;display: -webkit-flex;}
			.db-slider-one ul li:nth-of-type(2n){border-right: 0;}
			/*.swiper-container {height: auto;position: relative;}*/
			.swiper-slide img{width: 100%;}
			.slider-img{float: left;margin-right: 10px;position: relative;}
			.db-slider-one ul li .slider-img img{height: 60px;display: inline-block;vertical-align: middle;border-radius: 10px;}
			.slider-title h3{font-size: 15px;font-weight: 400;height: 30px;line-height: 30px;}
			.slider-message .list-ms{height: 30px;line-height: 30px;}
			.slider-message .list-ms span:nth-of-type(1){text-indent: 1%;}
			.slider-message .product-tag{padding: 0 2px;background: #5190E7;color: #fff;border: 1px solid #5190E7;font-size: 12px;}
			.product-tag.active{background: #fff;color: #dee5ef;border: 1px solid #dee5ef;}
			
			/*贷款产品样式区*/
			.db-product-box{border-top:18px solid #f1f4f8;}
			.db-loans-title{height: 20px;padding: 15px 15px;border-bottom: 1px solid #f1f4f8;position: relative;}
			.db-loans-title img{height: 20px;position: absolute;left: 12px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);}
			.db-loans-title h2{display: block;line-height: 20px;font-size: 15px;font-weight: 400;float: left;margin-left:22px;}
			.db-loans-title span{display: block;font-size: 12px;color: #A6B4C7;line-height: 20px;}
			/*.db-loans-list{padding: 0 15px;padding-top:30px;}*/
			.db-loans-list ul{display: flex;display: -webkit-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;}
			.db-loans-list a{display: block;line-height: normal;color:#000}
			.db-loans-list ul li{margin: 25px 0;width: 32.33%;text-align: center;position: relative;border-right: 1px solid #f1f4f8;}
			.db-loans-list ul li:nth-of-type(3n){border-right: none;}
			/*标签样式*/
			.db-tag{padding:0px 6px;border-radius: 100px 100px 100px 0;background: #4f90e7;color: #fff;display: inline-block;font-size: 12px;position: absolute;}
			.cl-tag{background: #fe6561;border-radius: 100px;padding:2px 4px;}
			.db-tag.active{background: #dee5ef;}
			.db-loans-list ul li img{height: 54px;display: block;margin: 0 auto;border-radius: 10px;}
			.db-loans-list ul li h3{font-size: 15px;padding: 10px 0 2px 0;font-weight: 400;}
			.list-ms{display: inline-block}
			.list-ms span{font-size: 12px;color: #ffac52;font-weight: 400;}
			.list-ms span:nth-of-type(1){font-weight: 600;}
			.list-ms span:nth-of-type(2){color:#a9a7a7;font-weight: 400;text-indent: 2px;}
			.list-ms span:nth-of-type(2) span{font-weight: 400;}
			/*悬浮图标按钮样式*/
			.btn-new-entry a{z-index: 999;width:60px;height:60px;border-radius: 100px;background-color: #5190e7;position: fixed;right: 15px;bottom: 15%;box-shadow: 0 0 10px #5190e7;}
			.btn-new-entry img{display: block;margin:  0 auto;vertical-align: middle;height: 60px;}
			
			/*贷款超市页面样式*/
			.dkcs-box{background: #eee;}
			.dkcs-miss-box{text-align: center;margin-top: 15px;background: #fff;}
			.dkcs-miss-box h2{padding: 15px 0;font-size: 18px;font-weight: 400;}
			.dkcs-miss-box a{padding: 10px 20px;font-size: 18px;font-weight: 400;text-align: left;display: block;color: #000}
			.miss-box-list .miss-list-box ul{display: flex;display: -webkit-flex;padding: 10px 6px 30px 6px;}
			.miss-box-list .miss-list-box ul li{flex: 1;-webkit-flex: 1;padding: 4% 0;background: #f1f7fd;margin: 0 1%;}
			.miss-box-list .miss-list-box ul li a{padding: 0;font-size: inherit;text-align: center;line-height: inherit;}
			.miss-box-list .miss-list-box ul li img{width: 80%;display: block;margin: 0 auto;}
			.miss-box-list .miss-list-box ul li p{color: #000;line-height: 20px;margin: 0;font-size: 15px;width: 90%;display: block;margin: 0 auto;margin-top: 10px;padding:0 2%;font-weight: 400;}
			.list-bq-dkcs{padding-top: 4px;}
			.miss-box-list ul li .list-bq-dkcs span{font-size: 12px;color: #fff;background: #a9c3e6;padding: 0 1px}
			.list-xyk-box ul li{display: flex;display: -webkit-flex;padding: 20px 10px;border-top: 1px solid #eee;}
			.list-xyk-box ul li .list-xyk-img{width: 70px;height: 70px;background: #f1f7fd;position: relative;margin-right: 10px;border-radius:4px;}
			.list-xyk-box ul li .list-xyk-img img{width: 60px;height: 60px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
			.list-xyk-box ul li .list-xyk-tilbox{flex: 2;-webkit-flex: 2;height: 70px;position: relative;}
			.xyk-til-box{height: 20px;line-height: 20px;}
			.list-xyk-box ul li .list-xyk-tilbox p,.xyk-til-box h2{margin: 0;padding: 0;text-align: left;}
			.list-xyk-box ul li .list-xyk-btn{flex: 1.2;-webkit-flex: 1.2;position: relative;}
			.xyk-til-box span{float: left;margin-right:2px;display: block;}
			.xyk-til-box span{color: #4E90E6;border: 1px solid #83b9ff;font-size: 12px;padding: 0 1px;font-weight: 300;height: 18px;line-height: 18px;}
			.xyk-til-box span:nth-of-type(1){font-size: 16px;font-weight: 400;color: #000;border-style: none;height: 20px;line-height: 20px;}
			.syk-ms-dayw{font-size: 14px;position: absolute;bottom: -2px;}
			.syk-ms-dayw p{color: #A5B3C6;}
			.syk-ms-dayw p span{color: #ffa646;margin-left: 8px;font-weight: 500;}
			.list-xyksq-num span{font-size: 13px;}
			.list-xyksq-num span:nth-of-type(1){color: #fe8481;}
			.list-xyksq-num span:nth-of-type(2){color: #A5B3C6;}
			.list-xyk-btn .btn-sq{font-size: 15px;border-style: none;border-radius: 2px;background: #4E90E6;color: #fff;display: block;width: 90%;padding: 6px 0;position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);}
			.jdcx-jt-dkcs{height: 18px;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);}
			.code-btn{z-index: 99;width: 60px;height: 60px;background: #fff;border: 1px solid #eee;border-radius: 50%;position: fixed; bottom: 120px;right: 10px;}
			.code-btn img{height: 28px;width: 28px;margin: 16px auto;display: block;}
			.dk-disk-box{z-index: 100;width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,.6);display: none;}
			.dk-disk-box span{color: #fff;position: absolute;top:28%;font-size: 16px;display: block;text-align: center;width: 100%;}
			.show-code-box{z-index: 999;padding: 28px 15px;padding-bottom: 18px;background: #fff;border-radius: 8px;display: flex;display: -webkit-flex;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);display: none;}
			.show-code-box div{flex: 1;-webkit-flex: 1;}
			.show-code-box div img{display: block;height: 140px;margin: 0 8px}
			.show-code-box div p{margin: 0;text-align: center;color: #A5B3C6;margin-top: 12px}
			
			
			/*不同分辨率不同样式*/
			/*iphone 5*/
			@media screen and (max-width:320px){
				/*.swiper-container {height: 180px;}*/
				.db-head-box a,span{font-size: 13px;}
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.list-ms span:nth-of-type(2){text-indent: 4px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 2px;}
				.slider-message .list-ms span:nth-of-type(4){height: 13px;line-height: 13px;margin: 4px 0 4px 5px;}
				.slider-message .list-ms span:nth-last-of-type(3){display: none;}
				.db-tag{right: 4px; top: -2px;}
				.show-code-box div img{height: 100px;}
				.dk-disk-box span{top: 35%}
				.list-xyk-box ul li .list-xyk-img{width: 60px;height: 60px;margin-right: 4px}
				.miss-box-list .miss-list-box ul li p{font-size: 14px;}
				.miss-box-list .miss-list-box ul li{margin: 1px}
				.list-xyk-box ul li .list-xyk-img img{height: 45px;width: 45px;}
				.list-xyk-box ul li .list-xyk-btn{flex: 1.3;-webkit-flex: 1.3;}
				.syk-ms-dayw{font-size: 12px;}
				.syk-ms-dayw p span{font-size: 12px;}
				.list-xyk-box ul li .list-xyk-tilbox{height: 60px;}
				.list-xyk-btn .btn-sq{font-size: 14px;}
				.xyk-til-box span:nth-of-type(1){font-size: 14px;}
				.miss-box-list .miss-list-box ul{padding: 10px 0 30px 0}
				.list-xyk-box ul li{padding: 20px 2px;}
			}
			@media screen and (min-width:320px) and (max-width:360px){
				/*.swiper-container {height: 180px;}*/
				.db-head-box a,span{font-size: 13px;}
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){font-size: 12px;}
				.list-ms span:nth-of-type(2){text-indent: 4px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 2px;}
				.slider-message .list-ms span:nth-of-type(4){height: 13px;line-height: 13px;margin: 4px 0 4px 5px;}
				.slider-message .list-ms span:nth-last-of-type(3){display: none;}
				.db-tag{right: 40px; top: -8px;}
			}
			/*iphone 6sp*/
			@media screen and (min-width:413px) and (max-width:767px){
				/*.swiper-container {height: 220px;}*/
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 5px;}
				.slider-message .list-ms span:nth-of-type(4){height: 16px;line-height: 16px;margin: 6px 0 6px 8px;}
				.db-tag{top: -10px;right: 65px;}
				.db-tab ul li{margin: 0 8%;}
			}
			/*各种手机*/
			@media screen and (min-width:411px) and (max-width:413px){
				/*.swiper-container {height: 220px;}*/
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 5px;}
				.slider-message .list-ms span:nth-of-type(4){height: 16px;line-height: 16px;margin: 6px 0 6px 8px;}
				.db-tag{top: -8px;right: 64px;}
				.db-tab ul li{margin: 0 8%;}
			}
			/*iphone 6*/
			@media screen and (min-width:374px) and (max-width:411px){
				/*.swiper-container {height: 210px;}*/
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 2px;}
				.slider-message .list-ms span:nth-of-type(4){height: 15px;line-height: 15px;margin: 5px 0 5px 8px;}
				.db-tag{top: -10px;right: 55px;}
				.db-tab ul li{margin: 0 7%;}
			}
			/*三星S5*/
			@media screen and (min-width:359px) and (max-width:374px){
				/*.swiper-container {height: 180px;}*/
				.db-slider-one ul li .slider-img img{height: 54px;}
				.slider-title h3{line-height: 27px;height: 27px;font-size: 15px;}
				.slider-message .list-ms{height: 27px;line-height: 27px;}
				.slider-message .list-ms span{font-size: 12px;}
				.slider-message .list-ms span:nth-of-type(3){font-size: 12px;}
				.list-ms span:nth-of-type(2){text-indent: 4px;}
				.slider-message .list-ms span:nth-of-type(3){text-indent: 2px;}
				.slider-message .list-ms span:nth-of-type(4){height: 13px;line-height: 13px;margin: 4px 0 4px 8px;}
				/*.slider-message .list-ms span:nth-of-type(1){display: block;}*/
				.db-tag{top: -10px;right: 50px;}
				.db-tab ul li{margin: 0 7%;}
			}
			
			/*slider swipe*/
			.swiper {
				overflow: hidden;
				visibility: hidden;
				/*position: relative;*/
			}
			.swiper-wrapper{
				position: absolute;
			}
			.swipe-wrap {
				overflow: hidden;
				/*position: relative;*/
			}
			.swipe-wrap > figure {
				float: left;
				width: 100%;
				/*position: relative;*/
			}
			.swiper-pagination-switch {
  			display: inline-block;
  			width: 6px;
  			height: 6px;
 				border-radius: 8px;
  			background: #d2cfcf;
  			margin-right: 5px;
  			opacity: 0.8;
  			border: 1px solid #fff;
  			cursor: pointer;
			}
			.swiper-active-switch {
  			background: #4f90e7;
			}
			.pagination {
  				position: absolute;
 				left: 50%;
 				transform: translateX(-50%);
 				-webkit-transform: translateX(-50%);
 				-ms-transform: translateX(-50%);
 				-moz-transform: translateX(-50%);
  				bottom: 5%;
			}
			
			/*表格跳转链接添加样式*/
			.table-numb{color: #5190E7;text-decoration:underline;}
			.table-defaP{color: #A6B4C7}
			.client-flex-table{position: fixed; top: 0;background: #fff;padding: 10px 0;border-bottom:1px solid #eee;display: table;z-index: 9999;}
			
			.slider-img .rem{position: absolute;left: 0px;top: 0px;width: 25px;}
		
