/* CSS Document */
html {
    padding: 0;
    margin:0;
    font-size: 625%;
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
    /*10 ÷ 16 × 100% = 62.5%*/
}

body {
    padding: 0;
    font-size: .14rem;
    max-width: 768px;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    /*1.4 × 10px = 14px */
}
html, body{ margin:0;}
h1 {
    font-size: .24rem;
    /*2.4 × 10px = 24px*/
}

div,
p,
table,
tr,
td,
form,
ul,
ol,
dl,
li,
p,
h1,
h2,
h3,
h4,
h5,
input{
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 全局设定 */

body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
}

dt,
li {
    list-style: none;
}
.pa{
	position:absolute;
}
.pr{
	position:relative;
}

img {
    width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}
.w{
	width:93.75%;
	margin:0 auto;
}
@media only screen and (min-width: 375px) {
    html {
        font-size: 700%!important
    }
}
@media only screen and (min-width: 410px) {
    html {
        font-size: 800%!important
    }
}
@media only screen and (min-width: 481px) {
    html {
        font-size: 940%!important
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 1090%!important
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 1250%!important
    }
    body {
        margin: 0 auto;
        max-width: 768px
    }
}


/*超链全局接样式*/

a {
    color: #2b292f;
    text-decoration: none;
    hide-focus: expression( this.hideFocus=true);
    outline: none;
}

a:hover {
   
    text-decoration: none;
}

i {
    font-style: normal
}



#ljtg {
	width:60%;
	left:20%;
	height:.2rem;
	position:fixed;
	bottom:.1rem;
}
