body,p,a,ul,li{margin: 0;padding: 0;font-family: "微软雅黑";-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li,a{text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family: "微软雅黑";}
a{color: #000}
*{box-sizing: inherit;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */      
    color: #ddd;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ddd;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ddd;
}

.mess-box{background-color: #fff;margin-top: 1px}
.col-list{padding: 12px 0;margin: 0 15px;height: 40px;position: relative;border-bottom: 1px solid #f1f4f8}
.col-list input{line-height: 40px;}
.col-list .user-photo{position: absolute;left: 0;right: 0;opacity: 0;z-index: 999;width: 100%;}
.form-list{display: flex;display: -webkit-flex;}
.form-list span{line-height: 40px;font-size: 14px;}
.form-list input,textarea{flex: 1;-ms-flex: 1;text-align: right;border-style: none;padding: 0;outline: none;}
.head-mg{padding: 18px 0;}
.head-box img{width: 50px;height: 50px;border-radius: 50%;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);}
.head-box img.jts{width: 10px;height: 22px;border-radius: 50%;position: absolute;right: 0px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);}
.mrg-tp{height: 30px;border-top: 15px solid #f1f4f8;background-color: #fff;margin: 0;padding: 10px 15px}
.mrg-tp .form-list{height: 30px;}
.adress-boxs{height: auto;}
.adress-box{width: 100%;display: block;height: auto;}
.adress-box textarea{display: block;width: 100%;text-align: left;}
.mrg-tp .form-list span{line-height: 30px;}
.btn-swith{width: 44px;border-radius: 100px;height: 24px;margin: 3px 0;justify-content: flex-end;position: relative;}
.circle{width: 22px;height: 22px;border-radius: 50%;background-color: #fff;position: absolute;top: 1px;}
.btn-save button{width: 80%;background-color: #fe6560;margin: auto;display: block;margin-top: 30px;color: #fff;border-style: none;border-radius: 3px;line-height: 40px;font-size: 15px;}

/*商铺管理*/
.shop-content-box ul li{background-color: #fff;padding: 15px;margin-bottom: 15px}
.shop-mess-box{display: flex;display: -webkit-flex;}
.shop-mess-box img{width: 44px;height: 44px;border-radius: 50%;}
.rgname-box{padding-left: 10px;flex: 1;-ms-flex: 1;}
.rgmess-box span{line-height: 22px;font-size: 14px;}
.rgmess-box span:nth-of-type(2){float: right;font-size: 13px;}
.timer-box span{line-height: 22px;color: #98A7B8}
.form-handle-box{padding-left: 54px;}
.adress-p p{font-size: 14px;padding-top: 10px}
.handle-box{padding-top: 30px}
.hb-box{color: #4E90E6;display: inline-block;}
.hb-box .ydhb{padding-left: 18px;background: url(../images/imgs-icon.png) no-repeat left center;background-size: 14px 14px;}
.handle-a{float: right;}
.handle-a a{color: #98A7B8;display: inline-block;padding-left: 18px;margin-left: 6px;}
.handle-a a.redact{background: url(../images/redact-icon.png) no-repeat left center;background-size: 14px 14px;}
.handle-a a.remove{background: url(../images/remove-icon.png) no-repeat left center;background-size: 14px 14px;}
.flex-shop{position: fixed;bottom: 0;left: 0;right: 0;background-color: #fff;}
.flex-shop .add-btn-shop{display: block;margin: 10px 15px;background-color: #fe6560;color: #fff;line-height: 48px;font-size: 15px;text-align: center;border-radius: 3px;}
.no-message-box img{width: 60%;margin: 0 auto;padding-top: 40%}
.no-message-box span{display: block;text-align: center;font-size: 15px;color: #ddd;padding-top: 2px}

/*我的排名*/
.ranking-slider-box img{width: 100%;display: inline-block;vertical-align: top;}
.ranking-slider-box{position: relative;background-color: #fe5920}
.tab-slider-box{position: absolute;top: 10px;right: 10px;font-size: 14px;background: -webkit-linear-gradient(#FBBC48, #FB3C29);border-radius: 100px;background: -o-linear-gradient(#FBBC48, #FB3C29);background: -moz-linear-gradient(#FBBC48, #FB3C29);background: linear-gradient(#FBBC48, #FB3C29);box-shadow: 0 0 5px 0.5px #ffffff inset;font-size: 0;} 
.meliuliang-box{background: url(../images/bgmech-bg.png) no-repeat center 3px;background-size: 100% 100%;padding: 10px 0;margin: 0 15px;margin-top: -10px;position: absolute;bottom: 36px;left: 0;right: 0;}
.ranking-slider-box i{display: block;text-align: center;position: absolute;bottom: 10px;left: 0;right: 0;color: #fd9a19}
.meliuliang-box span{display: block;text-align: center;color: #f0471e;font-size: 14px;font-weight: 500;line-height: 20px;}
.tab-slider-box span{padding: 10px 10px;display: inline-block;color: #fff;line-height: 14px;font-size: 14px;}
.tab-slider-box span.active{background-color: #FBB519;border-radius: 100px;box-shadow: 0 0 10px 0.5px #ffffff inset;}
.ranking-box{background-color: #F1451F;position: relative;}
.ranking-tab-box{background: -o-linear-gradient(#FBBC48, #FB3C29);background: -moz-linear-gradient(#FBBC48, #FB3C29);background: linear-gradient(#FBBC48, #FB3C29);box-shadow: 0 0 5px 0.5px #ffffff inset;font-size: 0;width: 100%;}
.ranking-tab-box span{font-size: 16px;display: inline-block;width: 50%;text-align: center;line-height: 48px;color: #fff}
.ranking-tab-box span.active{background-color: #FBB519;box-shadow: 0 0 5px 0.5px #ffffff inset;}
.table-mylink-box{width: 94%;margin: 0 auto;background-color: #fff;border-radius: 4px;margin-top: 40px;box-shadow: 0 0 30px 5px #F1451F;z-index: 99999;}
.table-mylink-box img{width: 60px;height: 60px;display: inline-block;vertical-align: top;border-radius: 50%;margin: 10px 0 10px 15px}
.myranking-box{display: inline-block;vertical-align: top;margin: 10px;color: #7F1B01;height: 60px;}
.myranking-box p{line-height: 30px;font-size: 16px;font-weight: 500;}
.myranking-box .mymess-box{height: 30px;font-size: 14px;line-height: 30px;font-size: 0;}
.myranking-box .mymess-box span,i{font-style: normal;font-size: 12px;}
.myranking-box .mymess-box span:nth-of-type(1){padding-right: 14px;}
.myranking-box .mymess-box span:nth-of-type(2){padding-left: 14px;}
.table-ranking-box{width: 90%;position: absolute;top: 168px;left: 50%;transform: translateX(-50%);z-index: -1;padding-bottom: 30px}
.table-ranking-box table{width: 100%;padding: 0 10px;background: #fff;}
.table-ranking-box table tr{display: flex;display: -webkit-flex;height: 60px;}
.table-ranking-box table tr th,td{text-align: center;flex: 1;-ms-flex: 1;line-height: 60px;padding: 0}
.table-ranking-box table tr td{font-size: 14px;color: #7F1B01;border-top: 1px solid #EDDFDC;}
.table-ranking-box table tr th{color: #FF836B;font-size: 15px;font-weight: 400;padding-top: 10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.table-ranking-box table tr th.rank-td,td.rank-td{flex: 0.4;}
.table-ranking-box table tr th.head-td,td.head-td{flex: 0.4;}
.head-td img{width: 40px;height: 40px;margin: 10px 0;border-radius: 50%;}
.table-ranking-box table tr td.meny-td{font-weight: 500;}
.table-ranking-box table tr td.one{font-size: 20px;font-style: italic;color: #FD1525;font-weight: 600;}
.table-ranking-box table tr td.two{font-size: 20px;font-style: italic;color: #FF8402;font-weight: 600;}
.table-ranking-box table tr td.there{font-size: 20px;font-style: italic;color: #FECB02;font-weight: 600;}


/*积分兑换*/
.credits-slider-box img{width: 100%;}
.credits-content-box{margin: 10px 10px 0 10px}
.content-box{background-color: #fff;}
.title-content-box{padding: 15px 15px 15px 42px;font-size: 15px;line-height: 15px;border-bottom: 1px solid #f1f4f8}
.flow-list-box ul{display: flex;display: -webkit-flex;padding: 15px 0;}
.flow-list-box ul li{flex: 1;-ms-flex: 1;}
.flow-list-box ul li .flow-logo{background-color: #ecf4ff;width: 50px;height: 50px;margin: 0 auto;border-radius: 50%;}
.flow-list-box ul li span{font-size: 12px;text-align: center;display: block;color: #98A7B8;padding:10px 0 6px 0}
.flow-list-box ul li .flow-logo img{width: 44px;height: 44px;margin:3px;display: inline-block;}
.bank-box{margin: 10px 0;background-color: #fff;padding: 12px 10px;display: flex;display: -webkit-flex;}
.bank-box img{width: 30px;height: 30px;display: inline-block;vertical-align: top;padding-left: 10px;}
.bank-box select{border-style: none;flex: 1;-ms-flex: 1;padding-left: 10px;outline: none;appearance:none;-moz-appearance:none;-webkit-appearance:none;color: #98A7B8;}
.span-sml{font-size: 0.1rem;float: right;color: #fd645f}
.math-box{padding: 25px 0;box-sizing: border-box;font-size: 0;margin: 0 20px;border-bottom: 1px solid #f1f4f8}
.math-box input,button{border-style: none;padding: 0;display: inline-block;box-sizing: border-box;font-size: 15px;}
.math-box input{color: #515151;width: 78%;font-size: 15px;outline: none;height: 25px;font-family: "微软雅黑";font-weight: 500;}
.math-box input::-webkit-input-placeholder{color: #98A7B8;}
.math-box button{display: inline-block;vertical-align: top;width: 22%;color: #4d8bee;background-color: #fff;line-height: 25px;outline: none;}
.phone-math-box{margin-top: 15px;padding: 0 20px;font-size: 12px;}
.phone-math-box span{color: #fe6560}
.phone-math-box p{color: #98A7B8;padding-top: 4px}
.conversion-box{padding: 40px 0 20px 0;}
.btn-conversion{width: 80%;color: #fff;background-color: #FE6560;line-height: 46px;border-radius: 4px;margin: 0 auto;display: block;}
.process-bg{background: url(../images/liu-icon.png) no-repeat 10px center;background-size: 25px;}
.credits-bg{background: url(../images/jifen-icon.png) no-repeat 10px center;background-size: 25px;}


/*兑换详情*/
.table-list-box{margin: 15px;background-color: #fff;}		
.table-list-box table{width: 100%;}
.table-list-box table tr{font-size: 14px;}
.table-list-box table tr th{padding: 0;margin: 0;line-height: 48px;font-weight: 400;color: #fff;background-color: #4F90E7;}
.red-td{color: #fe6560}
.table-list-box table tr td{border-top: 1px solid #f1f4f8;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width: 115px;}
.conversion-head-box{background-color: #fff;font-size: 15px;line-height: 20px;}
.conversion-head-box a{display: block;}
.jtgr-icon{height: 20px;float: right;}
.conversion-head-box.have-prick{padding: 15px;margin-bottom: 15px;padding-left: 40px;}
.conversion-head-box.have-tent{padding: 15px;padding-left: 40px;border-bottom: 1px;}
.content-conversion-box{padding-top: 30px;background-color: #fff;padding-bottom: 50px}
.setp-big-box{margin: 0 24px;border-left: 1px solid #f1f4f8;padding-bottom: 4px}
.step-content-box{width: 100%;box-sizing: border-box;}
.setp-head-box{position: relative;height: 22px;}
.content-conversion-box ul li:nth-last-of-type(1){border-style: none;}
.setp-head-box span{font-size: 14px;position: absolute;top: -6px;left: 14px;}
.dot{width: 6px;height: 6px;border: 1px solid #4F90E7;border-radius: 50%;display: inline-block;position: absolute;left: -4px;top: 0;background-color: #fff;}
.step-content-box span{width: 100%;white-space: initial}
.step-content-box{margin: 0 15px 20px 15px;background-color: #f1f4f8;width: 100%;box-sizing: border-box;font-size: 14px;padding: 10px;color: #fb8787}
.step-content-box img{width: 70%;display: block;margin: 0 auto;margin-top: 15px}
.conversion-footer-box{display: flex;display: -webkit-flex;position: fixed;bottom: 0;height: 48px;width: 100%;}
.conversion-footer-box a{width: 50%;text-align: center;flex: 1;-ms-flex: 1;line-height: 48px;}
.conversion-footer-box a:nth-of-type(1){background-color: #4F90E7;color: #fff;}
.conversion-footer-box a:nth-of-type(2){background-color: #fe6560;color: #fff;}
.kef-icon{background: url(../images/kefs-icon.png) no-repeat center;width: 24px;height: 24px;display: inline-block;background-size: 24px 24px;vertical-align: top;line-height: 48px;height: 48px;padding-right: 10px;}
.baod-icon{background: url(../images/bd-icon.png) no-repeat center;width: 24px;height: 24px;display: inline-block;background-size: 24px 24px;vertical-align: top;line-height: 48px;height: 48px;padding-right: 10px;}
.have-prick{background: url(../images/prick-icon.png) no-repeat 12px center #fff;background-size: 22px;}
.have-tent{background: url(../images/step-icon.png) no-repeat 12px center #fff;background-size: 22px;}


/*积分价格兑换*/

.slider-pricke-box img{width: 100%;display: inline-block;vertical-align: top;}
.credits-table-box{background-color: #fff;padding: 0 20px}
.credits-table-box h2{display: block;text-align: center;font-size: 20px;padding-top: 15px;color: #4F90E7}
.credits-table-box i{display: block;text-align: right;padding: 10px 0 4px;font-size: 12px;color: #98A7B8}
.credits-table-box img{width: 100%;}
.credits-table-box span{padding: 10px 0 30px;color: #4F90E7;display: block;}
