<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>网贷收入记录</title>
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<script type="text/javascript" src="/static/home/js/vue.js"></script>
	</head>
	<body style="background-color: #F1F4F8">
		<div id="app" v-cloak>
		<div class="record-head-box" style="margin-top: 0">
			<a href="{:url('data/yaoqing')}">邀请明细</a>
			<a href="{:url('data/loanjilu')}">网贷明细</a>
			<a href="{:url('data/bankjilu')}" class="active">办卡明细<span></span></a>
		</div>
		{volist name="order" id="v" empty="$empty" }
		<div class="recordcashs-box">
			<div class="record-ul">
				<div class="record-li" v-for="item in ag">
					<div class="prd-timer-box">
						<img src="{$v.headpic}" alt="">
						<span class="head-tl-xt">{$v.nickname}</span>
						<span class="rg-xt">订单ID：{$v.id}</span>
					</div>
					<div class="prd-ms-box">
						<div class="prd-lf-box">
							 <span>结算类型: {$v.title}{if($v.fid ==1)}(一级返佣){elseif($v.fid==2)}(二级返佣){else}(三级返佣){/if}</span> 
							<span>{$v.ctime|date=('Y-m-d H:i:s')}</span>
						</div>
						<div class="prd-rg-box">
							<span>{if($v.fid ==1)}{$v.lev1_money}{elseif($v.fid==2)}{$v.lev2_money}{else}{$v.lev3_money}{/if}元</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/volist}
		</div>
	</body>
</html>