
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/home/css/czym.css" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>订单详情</title>
		<script src="/static/home/js/jquery.js"></script>
		<style type="text/css">
			.no-ms-box img{width: 60%;display: block;margin:0 auto;padding-top:80px}
			.no-ms-box span{color: #e6e6e6;display: block;text-align: center;}
		</style>
	</head>
	<body style="background-color: #F1F4F8;">
		<div class="particulars-box" id="app" v-cloak>
			<!--小提示  -->
			<div class="ptars-smts-box">
				月结产品非实时状态,本月客户状态则在下月1-10日结算
			</div>

			<!--人数显示  -->
			<div class="ptars-pepo-box">

				<div class="pepo-list-box">
					<span>{$tot}</span>
					<span>申请人数(人)</span>
				</div>

				<div class="pepo-list-box">
					<span>{$tot1}</span>
					<span>成功人数(人)</span>
				</div>

				<div class="pepo-list-box">
					<span>{$sum}</span>
					<span>奖金(元)</span>
				</div>
			</div>
			<!--tab  -->
			<div class="indent-tab-box">
				<a {if($ids ==1)} class="active"{/if} href="?type={$type}&id={$id}&ids=1" >所有订单<span></span></a>
				<a {if($ids ==0)} class="active"{/if} href="?type={$type}&id={$id}&ids=0">有效订单<span></span></a>
				<a {if($ids ==2)} class="active"{/if} href="?type={$type}&id={$id}&ids=2">失效订单<span></span></a>
			</div>
			<!--订单列表  -->
			<div class="indent-list-box">
				<!--列表  -->
				{volist name="order" id="v" empty="$empty" }
				<div class="list-ul-box">
					<div class="list-li-box" v-for="item in info">
						<div class="head-list-box">
						<img src="{$v.logo}" alt="">
							<span class="tl-xt">{$v.title}</span>
							<span class="tm-xt">订单ID：{$v.sn}</span>
						</div>
						<div class="head-ms-box">
							<div class="part-lf-box">
								<span>订单状态: {if($v.status==0)}通过{elseif($v.status==2)}未通过{esle}待审核{/if}</span>
								<span>手机号码: {$v.tel}</span>
								<span>{$v.ctime|date=('Y-m-d H:i:s')}</span>
							</div>
							<div class="part-rg-box">
								<span>{if($v.status ==0)}{else}0{/if}元</span>
							</div>
						</div>
					</div>
				</div>
				{/volist}
			</div>
		</div>
	</body>
	</script>
</html>