<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<title>收入记录</title>
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<script type="text/javascript" src="/static/home/js/vue.js"></script>
	</head>
	<body style="background-color: #F1F4F8">
		<div id="app" v-cloak>
		<div class="record-head-box" style="margin-top: 0">
			<a href="{:url('data/yaoqing')}">邀请记录</a>
			<a href="{:url('data/loanjilu')}">网贷记录</a>
			<a href="{:url('data/bankjilu')}">办卡记录</a>
		</div>
		{volist name="order" id="v" empty="$empty" }
		<div class="recordcashs-box">
			<div class="record-ul">
				<div class="record-li" v-for="item in ag">
					<div class="prd-timer-box">
						{if($v.cid==0)}<img src="{$v.headpic}" alt="">{else}<img src="{$v.logo}" alt="">{/if}
						<span class="head-tl-xt">
							{if($v.cid==0)}{$v.nickname}{else}{$v.title}{/if}</span>
						<!--订单编号  -->
						<span class="rg-xt">订单ID：{$v.id}</span>
					</div>
					<div class="prd-ms-box">
						<div class="prd-lf-box">
							<!--结算类型  -->
							 <span>结算类型: {if($v.cid ==0)}推荐有钱{else}{$v.jiesuan}{/if}</span> 
							<!--<span></span>-->
							<!--时间  -->
							<span>{$v.ctime|date=('Y-m-d H:i:s')}</span>
						</div>
						<div class="prd-rg-box">
							<span>
							<?php
							if (!empty($v['fan_id1'])) {
								echo $v['lev1_money'];
							}else if(!empty($v['fan_id2'])){
								echo $v['lev2_money'];
							}else{
								echo $v['lev3_money'];
							}
							?>

							元</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/volist}
		</div>
	</body>
</html>