<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/czym.css" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>提现记录</title>
		<script src="/static/home/js/jquery.js"></script>
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<script type="text/javascript" src="/static/home/js/vue.js"></script>
		<style type="text/css">
			.no-ms-box img{width: 60%;display: block;margin:0 auto;padding-top:80px}
			.no-ms-box span{color: #e6e6e6;display: block;text-align: center;}
		</style>
	</head>
	<body style="background-color: #F1F4F8">
		<div class="recordcashs-box" id="app" v-cloak>
			<div class="record-head-box" style="margin-top: 0">
				<a href="/data/txrecord" class="active">提现记录</a>
			</div>

			<div class="record-ul">
				{volist name="cash" id="vo" empty="$empty" }
				<div class="record-li" style="border-top:1px solid #F1F4F8" v-for="item in record">
					<div class="prd-ms-box">
						<div class="prd-lf-box">
							 <span>状态：{if($vo.status ==1)}待审核{elseif($vo.status ==2)}未通过{else}已打款{/if}</span> 
							<!--时间  -->
							<span>{$vo.ctime|date=('Y-m-d H:i:s')}</span>
						</div>
						<div class="prd-rg-box">
							<span>{$vo.money}元</span>
						</div>
					</div>
				</div>
				{/volist}
			</div>

		</div>
	</body>
</html>