/*index.html*/
.yemianbg{
	background:#f6f7f9;
}
.huise{
	color:#8a8a8a;
}
.hongse{
	color:#fe130f;
}
.lanse{
	color:#3485f0;
}
.kfse{
	color:#765623;
}
.tab{
	width:100%;
	margin:.18rem auto .1rem auto;
}
.tab-hd{
	overflow:hidden;
	zoom:1;
	margin-bottom:.1rem;
}
.tab-hd li{
	float:left;
	width:15%;
	margin:0 5%;
	color:#000;
	height:.3rem;
	font-size:.16rem;
	text-align:center;
}
.tab-hd li.active{
	color:#158dfe;
	border-bottom:.03rem solid #158dfe;
}
.tab-bd li{
	display:none;
	font-size:.14rem;
}
.tab-bd li.qiantao{
	display:block;
}
.tab-bd li.thisclass{
	display:list-item;
}
.xyk_list{
	width:88%;
	margin:0 auto;
	background:#fff;
	border-radius:.05rem;
	padding:0 .1rem .08rem .1rem;
	margin-bottom:.15rem;
	box-shadow:0px 0px 15px #eaeaea;
}
.xyk_cx{
	width:22%;
	height:.22rem;
	line-height:.22rem;
	color:#fff;
	text-align:center;
	background:url(../images/xyk_03.png) no-repeat;
	background-size:100% 100%;
}
.xyk_js{
	color:#fff;
	padding:.01rem .02rem;
	background:#fe6965;
	border-radius:.02rem;
}
.xyk_ys{
	height:.2rem;
}
.xyk_ys01{
	color:#fe6965;
	font-size:.12rem;
	padding:0 .03rem;
	border-radius:.03rem;
	border:1px solid #fe6965;
}
.xyk_ys02{
	color:#f6a726;
	font-size:.12rem;
	padding:0 .03rem;
	border-radius:.03rem;
	border:1px solid #f6a726;
}
.xyk_sm{
	width:.35rem;
	height:.17rem;
	color:#999;
	padding-left:.05rem;
	line-height:.17rem;
	border-radius:.1rem;
	border:1px solid #999;
	background:url(../images/xyk_13.png) no-repeat .3rem center;
	background-size:10% 50%;
}
/*贷款*/
.dk_ys{
	height:.2rem;
}
.dk_line{
	height:1px;
	background:#dedede;
	margin:.08rem auto;
}

/*order.html*/
.ddtab{
	width:100%;
	margin:0 auto;
}
.ddtab-hd{
	width:96%;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
	line-height:.5rem;
	background:#fff;
	margin-bottom:.1rem;
	border-bottom:1px solid #f5f5f5;
}
.ddtab-hd li{
	float:left;
	width:15%;
	margin:0 5%;
	color:#000;
	height:.5rem;
	font-size:.16rem;
	text-align:center;
}
.ddtab-hd li.ddactive{
	color:#158dfe;
	border-bottom:.03rem solid #158dfe;
}

.ddtab-bd{
	width:99.5%;
	margin:-.1rem auto 0 auto;

}
.ddtab-bd li{
	display:none;
	font-size:.14rem;
	border-radius:.02rem;
	margin:.1rem 0;
	line-height:.3rem;
}
.ddtab-bd li.qiantao{
	display:block;
	height:.3rem;
	color:#666;
	border-radius:.02rem;
	background:#f6f7f9;
	margin-left:.1rem;
	padding:0 .1rem;
}
.ddtab-bd li.qiantao.ddactive{
	display:block;
	height:.3rem;
	color:#3984f9;
	border-radius:.02rem;
	background:#e8f2fc;
	border-bottom:none;
}
.ddtab-bd li.thisclass{
	display:list-item;
}
.ddxyk_list{
	margin-bottom:.2rem;
	margin:0 auto;
	background:none;
	background:url(../images/03.png) repeat-y 0.03rem;
	background-size:.01rem auto;
}
.ddxyk_list_left{
	width:2%;
	
}
.ddxyk_list_left img{
	width:.07rem;
}	
.ddxyk_list_right{
	width:96%;
	border-radius:.05rem;
}
.ddxyk_list_con{
	background:#fff;
	border-radius:.05rem;
	padding:0 .1rem .1rem .1rem;
}
.ddxyk_list_con_jd{
	color:#fff;
	height:.2rem;
	line-height:.2rem;
	padding:0 .05rem;
	background:#4084f1;
}







/*index2.html*/
.grzx{
	height:1.08rem;
	background:url(../images/grzxbg1.png) no-repeat center;
	background-size:100% 100%;
}
.grzx_con{
	padding:.12rem;
}
.touxiang img{
	width:.65rem;
	height:.65rem;
	border-radius:.35rem;
}
.grzx_sm{
	padding:0 .02rem;
	background:#775525;
	color:#fff;
	border-radius:.02rem;
}
.xiangxi{
	width:90%;
	margin:.12rem auto 0 auto;
	background:#fff;
	padding:0 2%;
	border-radius:.02rem;
}
.xiangxi_line{
	height:.35rem;
	border-right:1px solid #dedede;
}
.xiangxi_line02{
	height:1px; 
	background:#dedede;
}
.xiangxi_si{
	height:.29rem;
}
.paihang{
	background:#fff;
}
.paihang_tit{
	padding:0 4%;
	margin:0 auto;
	line-height:.45rem;
	border-bottom:1px solid #dedede;
}
.paihang_list{
	padding:0 4%;
	margin:0 auto;
	line-height:.6rem;
	border-bottom:1px solid #dedede;
}
.phtouxiang img{
	width:.41rem;
	height:.41rem;
	border-radius:.35rem;
}
.xiaoxi{
	width:8%;
	right:4%;
	top:0.1rem;
	z-index:997;
}
.shuzi{
	width:.25rem;
	text-align:center;
	background:#d32d25;
	color:#fff;
	right:2%;
	top:0.02rem;
	font-size:.09rem;
	border-radius:.15rem;
	z-index:999;
}
.shezhi{
	width:8%;
	right:18%;
	top:0.05rem;
	z-index:997;
}













/*bottom*/
.botkong{
	height:.75rem;
}



.bot{
	width:100%;
	max-width:768px;
	padding:.08rem 0 .08rem 0;
	position:fixed;
	bottom:0;
	background:#fff;
	font-weight:bold;
	border-top:1px solid #e6e1e3;
	box-shadow:0px 0px 15px #dedede;
}
.bot li{
	width:25%;
	float:left;
	
}
.bot li.li01 a{
	background:url(../images/bot01.png) no-repeat top #fff;
	background-size:30% auto;
	display:block;
	color:#b4b4b4;
}
.bot li.li01 a:hover,.bot li.li01 a.active{
	background:url(../images/bot01_active.png) no-repeat top #fff;
	background-size:30% auto;
	color:#333;
}
.bot li.li02 a{
	background:url(../images/bot02.png) no-repeat top #fff;
	background-size:30% auto;
	display:block;
	color:#b4b4b4;
}
.bot li.li02 a:hover,.bot li.li02 a.active{
	background:url(../images/bot02_active.png) no-repeat top #fff;
	background-size:30% auto;
	color:#333;
}
.bot li.li03 a{
	background:url(../images/bot03.png) no-repeat center .02rem #fff;
	background-size:26% auto;
	display:block;
	color:#b4b4b4;
}
.bot li.li03 a:hover,.bot li.li03 a.active{
	background:url(../images/bot03_active.png) no-repeat center .02rem #fff;
	background-size:26% auto;
	color:#333;
}
.bot li.li04 a{
	background:url(../images/bot04.png) no-repeat center .02rem #fff;
	background-size:26% auto;
	display:block;
	color:#b4b4b4;
}
.bot li.li04 a:hover,.bot li.li04 a.active{
	background:url(../images/bot04_active.png) no-repeat center .02rem #fff;
	background-size:26% auto;
	color:#333;
}









