{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('user')}{:lang('list')}</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>

    <a class="layui-btn layui-btn-danger" id="wei">未提现：<b></b>元</a>
    <a class="layui-btn layui-btn-normal" id="yi">已提现：<b></b>元</a>
    <a class="layui-btn layui-btn-primary">注册用户:{$members}&nbsp;|&nbsp;VIP:{$agents}</a>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}
<script type="text/html" id="lev1">
    {{# if(d.lev1 >0){ }}
    {{d.lev1_name}}({{d.lev1}})
    {{# }else{  }}
    无
    {{# } }}
</script>
<script type="text/html" id="lev2">
    {{# if(d.lev2 >0){ }}
    {{d.lev2_name}}({{d.lev2}})
    {{# }else{  }}
    无
    {{# } }}
</script>
<script type="text/html" id="lev3">
    {{# if(d.lev3 >0){ }}
    {{d.lev3_name}}({{d.lev3}})
    {{# }else{  }}
    无
    {{# } }}
</script>
<script type="text/html" id="action">
    <a href="{:url('edit')}?vid={{d.vid}}" class="layui-btn layui-btn-xs">编辑</a>
</script>
<script type="text/html" id="open">
    <input type="checkbox" name="open" value="{{d.vid}}" lay-skin="switch" lay-text="禁用|正常" lay-filter="open" {{ d.open == 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            page: true,
            cols: [[
                {field: 'vid', title: '用户编号', width: 100, fixed: true},
                {field: 'nickname', title: '{:lang("nickname")}', width: 120},
                {field: 'tel', title: '电话号码', width: 120},
                {field: 'name', title: '姓名', width: 100},
                {field: 'title', title: '用户级别', width: 100},
                {field: 'lev1_name', title: '上级(编号)', width: 150,templet: '#lev1'},
                // {field: 'lev2_name', title: '上上级(编号)', width: 150,templet: '#lev2'},
                // {field: 'lev3_name', title: '第三级(编号)', width: 150,templet: '#lev3'},
                {field: 'money', title: '账户余额', width: 100},
                {field: 'reg_time', title: '注册时间', width: 150},
                {field: 'open', align: 'center', title: '{:lang("status")}', width: 100, toolbar: '#open'},
                {width: 160, align: 'center', toolbar: '#action'}
            ]],
            parseData: function(res){
                $('#wei b').html(res.w);
                $('#yi b').html(res.y);
            },
            limit: 10 //每页默认显示的数量
        });
        form.on('switch(is_lock)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var id = this.value;
            var is_lock = obj.elem.checked===true?0:1;
            $.post('{:url("usersState")}',{'id':id,'is_lock':is_lock},function (res) {
                layer.close(loading);
                if (res.status==1) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    return false;
                }
            })
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                return;
            }
            tableIn.reload({ page: {page: 1},where: {key: key}});
        });
        form.on('switch(open)', function(obj){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var vid = this.value;
            var open = obj.elem.checked===true?1:0;
            $.post('{:url("status")}',{'vid':vid,'open':open},function (res) {
                layer.close(loading);
                if (res.status==1) {
                    tableIn.reload();
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                    return false;
                }
            })
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('您确定要删除该会员吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('usersDel')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
</body>
</html>