{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>用户组列表</legend>
    </fieldset>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}
<script type="text/html" id="action">
    <a href="{:url('groupEdit')}?id={{d.id}}" class="layui-btn layui-btn-xs">{:lang('edit')}</a>
</script>
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("userGroup")}',
            method: 'post',
            cols: [[
                {field: 'title', title: '用户组别名称', width: 120},
                {field: 'price', title: '升级费用', width: 120},
                {field: 'weight', title: '文章权限', width: 120},
                {field: 'mout', title: '返佣佣金', width: 120},
                {width: 160,  title: '操作',align: 'center', toolbar: '#action'}
            ]]
        });
        $('body').on('blur','.list_order',function() {
            var level_id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post('{:url("groupOrder")}',{level_id:level_id,sort:sort},function(res){
                if(res.code==1){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        })
    });
</script>