{include file="common/head"/}
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>资讯信息编辑</legend>
    </fieldset>
     <form class="layui-form">
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="title" name="title" required="" lay-verify="required"
                  autocomplete="off" class="layui-input"  style="width:1024px" value="{$article.title}">
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>分类</label>
              <div class="layui-input-inline">
                <select name="a_id" lay-filter="aihao">
			        {foreach $cate as $v}
			        <option value="{$v.c_id}" {if ($article['a_id'] == $v['c_id'] )}selected{/if} >{$v.c_title}</option>
			        {/foreach}
		      	</select>
              </div>
          </div>

		<div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <input type="hidden" name="img" id="image" value="{$article.img}">
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="cateBtn"><i class="icon icon-upload3"></i>点击上传</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" src="{$article.img}" id="cateImage" width="80px">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
        </div>

<!--          <div class="layui-form-item">-->
<!--              <label for="sort" class="layui-form-label">-->
<!--                  <span class="x-red">*</span>排序-->
<!--              </label>-->
<!--              <div class="layui-input-inline">-->
<!--                  <input type="number" id="L_repass" name="order" required="" lay-verify="sort"-->
<!--                  autocomplete="off" class="layui-input" value="{$article.order}">-->
<!--              </div>-->
<!--              <div class="layui-form-mid layui-word-aux">填数字,数字越小越靠前</div>-->
<!--          </div>-->

          <div class="layui-form-item">
              <label for="auth" class="layui-form-label">
                  <span class="x-red">*</span>权限
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="L_repass" name="auth" required="" lay-verify="auth"
                  autocomplete="off" class="layui-input" value="{$article.auth}">
              </div>
              <div class="layui-form-mid layui-word-aux">0为普通会员权限，所填数字跟用户组别的权重相同</div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>是否推荐</label>
              <div class="layui-input-inline">
                <input type="radio" name="is_tui" value="0" {if($article.is_tui == 0)} checked {/if} title="不推荐">
                <input type="radio" name="is_tui" value="1" {if($article.is_tui == 1)} checked {/if}  title="推荐">
              </div>
              <div class="layui-form-mid layui-word-aux">系统公告可以不推荐</div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <input type="hidden" name="content" id="image">
            <div class="layui-input-block">
                <script name="content" id="editor" type="text/plain" style="width:1024px;height:500px;"><?php echo htmlspecialchars_decode($article['content']);?></script>
            </div>
        </div>
		<input type="hidden" name="id" value="{$article.id}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="/static/common/js/angular.min.js"></script>
<script>
    var ue = UE.getEditor('editor');
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;var form = layui.form,upload = layui.upload,layer = layui.layer;
			var uploadInst = upload.render({
	            elem: '#cateBtn',
	            url: '{:url("UpFiles/upload")}',
	            done: function(res){
	                if(res.code>0){
	                    $('#image').val(res.url);
	                    $('#cateImage').attr('src', res.url);
	                }else{
	                    //如果上传失败
	                    return layer.msg('上传失败');
	                }
	            },
	            error: function(){
	                //演示失败状态，并实现重传
	                var demoText = $('#demoText');
	                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
	                demoText.find('.demo-reload').on('click', function(){
	                    uploadInst.upload();
	                });
	            }
			 });

          //监听提交
	         form.on('submit(submit)', function (data) {
	            loading =layer.load(1, {shade: [0.1,'#fff']});
	            $.post("{:url('article/articleUpdate')}", data.field, function (res) {
	                layer.close(loading);
	                if (res.code > 0) {
	                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
	                        location.href = res.url;
	                    });
	                } else {
	                    layer.msg(res.msg, {time: 1800, icon: 2});
	                }
	            });
	        });

        });
</script>