
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>今日口子</title>
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<style>
		    .activity-li-box{margin-bottom: 0;}
		</style>
	</head>
	<body style="background-color: #F1F4F8">
		<div id="app" v-cloak>
			<div class="record-head-box" style="margin-top: 0;">
				<span><a>今日口子</a> <span></span></span>
				<span><a href="{:url('article/jiqiao')}">提额技巧</a><span></span></span>
			</div>
			<div class="activity-ul-box" v-if="info.length>0">
			{foreach  $art as $v}
				<a href="/article/id/{$v.id}">
					<div class="activity-li-box">
						<div class="activity-tl-box">
							<span>{$v.title}</span>
							<span>{$v.add_time|date=('Y-m-d H:i')} &nbsp;点击数：{$v.hits}</span>
						</div>
						<div class="activity-img-box">
							<img src="{$v.img}" alt="{$v.title}">
						</div>
					</div>
				</a>
			{/foreach}
			</div>
			<div class="return-top-box" onclick="clicktop();">
				<img src="/static/home/images/retunTop.png" alt="" />
			</div>
		</div>

		<script type="text/javascript" src="/static/home/js/jquery-1.12.4.min.js"></script>
		<script>
		function clicktop(){
			$("html,body").animate({
				scrollTop: 0
			}, 500);
		}
			$('.search').click(function(){
				var searchText = $('input[name=searchText]').val();
				if (searchText == "") {
					YDUI.dialog.toast('搜索内容不能为空！', 'none', 1000);
					return;
				};
			})
		</script>
	</body>

</html>