 <!--<div class="footer-box">
	<ul>
		<li>
			<a href="/">
				<img src="/static/home/images/WX20181029-110205@2x_meitu_3.png" alt="" />
				<span>鑫云</span>
			</a>
		</li>
		<li>
			<a href="{:url('user/level')}">
				<img src="/static/home/images/vip.png" alt="" />
				<span>代理</span>
			</a>
		</li>
		<li>
			<a href="/data/index">
				<img src="/static/home/images/data_icon.png" alt="" />
				<span>钱包</span>
			</a>
		</li>
		<li>
			<a href="/article/index">
				<div class="bq">
					<img src="/static/home/images/yj_icon.png" alt="" />
				</div>
				<span>消息</span>
			</a>
		</li>
		<li>
			<a href="/user/index">
				<img src="/static/home/images/grzx_icon.png" alt="" />
				<span>个人中心</span>
			</a>
		</li>
	</ul>
</div>-->
 <div class="footer-box">
	 <ul>
		 <li>
			 <a href="/">
				 <img src="/static/home/images/home_icon.png" alt="">
				 <span>首页</span>
			 </a>
		 </li>
		 <li>
			 <a href="/home/loan/index">
				 <img src="/static/home/images/loans_icon_n.png" alt="">
				 <span>信用卡</span>
			 </a>
		 </li>
		 <li>
			 <a href="/home/loan/bath">
				 <div class="bq">
					 <img src="/static/home/images/jk.png" alt="">

				 </div>
				 <span>贷款</span>
			 </a>
		 </li>
		 <li>

				 <a href="/home/loan/lou">
				 <div class="bq">
					 <img src="/static/home/images/discover_n_icon.png" alt="">

				 </div>
				 <span>保险</span>
			 </a>
		 </li>

		 <li>
			 <a href="/user/index">
				 <img src="/static/home/images/grzx_icon.png" alt="">
				 <span >我的</span>
			 </a>
		 </li>
	 </ul>
 </div>