{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>资金明细列表</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>
        <button type="button" class="layui-btn layui-btn-primary">收款总额:{$all}</button>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}
<script>
   layui.use(['table','form'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery;
        var tableIn = table.render({
            id: 'pay',
            elem: '#list',
            url: '{:url("Bill/index")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'sn', title: '订单编号', width: 220, fixed: true},
                {field: 'title', title: '产品名称', width: 150},
                {field: 'cid', title: '产品类型', width: 100},
                {field: 'jfname', title: '甲方', width: 150},
                {field: 'fan_id1', title: '用户', width: 100},
                {field: 'total_mont', title: '总佣金', width: 100},
                {field: 'return_cash', title: '总返佣', width: 100},
                {field: 'total_income', title: '实际收入', width: 150},
                {field: 'ctime', title: '时间', width: 150}
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            if($.trim(key)==='') {
                layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                return;
            }
            tableIn.reload({ page: {page: 1},where: {key: key}});
        });
    });
</script>
</body>
</html>