{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>订单编辑</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">贷款总额</label>
            <div class="layui-input-4">
                <input type="text" value=""  name="total" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <input type="hidden" name="id" value="{$id}">
        <div class="layui-form-item">
            <button  class="layui-btn" lay-filter="save" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;var form = layui.form,layer = layui.layer;
        //监听提交
        form.on('submit(save)', function(data){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('edit')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{icon: 2, time: 1000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>