 <!--<div class="footer-box">
	<ul>
		<li>
			<a href="/">
				<img src="/static/home/images/WX20181029-110205@2x_meitu_3.png" alt="" />
				<span>鑫云</span>
			</a>
		</li>
		<li>
			<a href="{:url('user/level')}">
				<img src="/static/home/images/vip.png" alt="" />
				<span>代理</span>
			</a>
		</li>
		<li>
			<a href="/data/index">
				<img src="/static/home/images/data_icon.png" alt="" />
				<span>钱包</span>
			</a>
		</li>
		<li>
			<a href="/article/index">
				<div class="bq">
					<img src="/static/home/images/yj_icon.png" alt="" />
				</div>
				<span>消息</span>
			</a>
		</li>
		<li>
			<a href="/user/index">
				<img src="/static/home/images/grzx_icon.png" alt="" />
				<span>个人中心</span>
			</a>
		</li>
	</ul>


</div>-->

 <link rel="stylesheet" type="text/css" href="/static/home/tb/css/public.css">
 <link rel="stylesheet" type="text/css" href="/static/home/tb/css/style.css">

 <!--bottom-->
 <div class="botkong"></div>
 <div class="bot">
	 <li class="li02">
		 <a href="/">
			 <div class="tac fs12 pt30">推广</div>
		 </a>
	 </li>
	 <li class="li01">
		 <a href="/commodity">
			 <div class="tac fs12 pt30">资讯</div>
		 </a>
	 </li>
	 <li class="li03">
		 <a href="/user/order">
			 <div class="tac fs12 pt30">订单</div>
		 </a>
	 </li>
	 <li class="li04">
		 <a href="/user/index">
			 <div class="tac fs12 pt30">我的</div>
		 </a>
	 </li>
	 <div class="clear"></div>
 </div>
