
<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/home/css/style.css" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<script type="text/javascript" src="/static/home/js/vue.js"></script>
		<title>我的团队</title>
	</head>
	<body style="height: 100%;background-color: #f1f4f8">
		<div id="app" v-cloak>
			<div class="showyj-ul-box">
			    <div class="showyj-li-box li-lan">
			      	<div class="xtms-libox">
			        	<span>本月有业绩(人)</span>
			        	<span>{$tot}</span>
			      	</div>
			    </div>
			    <div class="showyj-li-box li-hon">
				    <div class="xtms-libox">
				       	<span>团队提成</span>
				        <span>{$sum}元</span>
				    </div>
			    </div>
		  	</div>
			<div class="team-box bgh">
				<ul class="ul">
					<div class="record-head-box team-tab" style="margin-top:0">
						{if($id ==1)}<span class="active">{else}<span>{/if}<a href="/data/myteam/1">已购买</a><span></span></span>
						{if($id ==2)}<span class="active">{else}<span>{/if}<a href="/data/myteam/2">未购买</a><span></span></span>
					</div>
					{volist name="myteam" id="vo" empty="$empty" }
					<li class="li-team" v-for="x in info">
						<img src="{$vo.headpic}" class="head-ig">
						<div class="rg-ms-box">
							<div class="tp-ms-box">
								<span class="team-name"> {$vo.name} </span>
								<a href="/user/id/{$vo.uvid}">+好友</a>
							</div>
							<span class="regit-timer">注册时间: <span> {$vo.reg_time|date=('Y-m-d H:i:s')} </span></span>
						</div>
					</li>
					{/volist}
				</ul>
			</div>
			<div class="return-top-box">
				<img src="/static/home/images/retunTop.png" alt="" />
			</div>
		</div>
		<script type="text/javascript" src="/static/home/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/home/js/czym_dbk.js"></script>
		<script>
			$(".team-tab span").click(function(){
				$(".team-tab span").removeClass("active");
				$(this).addClass("active");
			})
		</script>
	</body>
</html>