
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
		<title>客户列表</title>
		<link rel="stylesheet" href="/static/home/css/style.css?5" />
	</head>
	<body style="background-color: #f1f4f8;">
		<div class="kflb-marsk"></div>
		<div class="odteil-box" id="app" v-cloak>
			<div class="odteil-head-box">
				<div class="odteil-classify-box" id="classify">
                    <button type="button" {if($id ==2)} class="active" {else}{/if}><a style="color:inherit;" href="/data/order/2">贷款</a></button>
                    <button type="button" {if($id ==1)} class="active" {else}{/if}><a style="color:inherit;" href="/data/order/1">信用卡</a></button>
                </div>
<!-- 				<div class="odteil-state-box">
					<div class="state-indent-box" id="stateit">
						<button type="button" class="active" @click="tab(0)">更新中</button>
						<button type="button" @click="tab(1)">已通过</button>
						<button type="button" @click="tab(2)">未通过</button>
					</div>
					<div class="select-productstate-box">
						<button type="button" id="btn-product">
							选产品
						</button>
					</div>
				</div> -->
				<div class="notice-box">
					<p><span>提示: </span>本列表是客户在产品介绍页填写资料的记录,不能视为产品官方申请记录。</p>
				</div>
				<!--<div class="radios-card-box" id="raiosbx" style="display: none;">
					<div class="radio-mess">
						<button  class="butpdnm active" id="allproduct">
							全部产品
						</button>
						<ul>
							<li>
								<button type="button" class="butpdnm" data-agid='10'>拍拍贷</button>
							</li>
						</ul>
						<div style="padding: 36px 0 15px 0">
							<button type="button" class="surrer-btn" @click="change();">确定</button>
						</div>
					</div>
				</div>-->
			</div>
			<div class="odteil-content-box">
				<ul>
				 {foreach $data as $v}
					<h2>{$v.ctime|date=('Y-m-d H:i:s')}</h2>
					<li v-for="item in one_info">
						<div class="content-headid-box">
							<div class="headid-left-box">
								<img src="{$v.logo}" alt="">
								<h4>{$v.title}</h4>
								<!--<span>T+1</span>-->
							</div>
							<div class="headid-right-box">编号：{$v.id}</div>
						</div>
						<div class="content-table-box">
							<table>
								<tr>
									<th>姓名</th>
									<th>手机号</th>
									<th>状态</th>
								</tr>
								<tr>
									<td><span>{$v.name}</span></td>
									<td class="phms">
									<?php
									 	$phone=$v['tel']; 
									 	$str = substr_replace($phone,'****',3,4);
									 	echo $str;
									 ?></td>
									<td>{if($v.status==0)}已通过{elseif($v.status ==1)}待审核{else}未通过{/if}</td>
								</tr>
							</table>
						</div>
					</li>
				{/foreach}
				</ul>
			</div>
		</div>
		<script src="/static/home/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript">
			//状态选中卡的事件
			$("#stateit button").on("click",function(){
				$(this).addClass("active")
				$(this).siblings("button").removeClass("active")
			})
			//开启下拉框事件
			$('#btn-product').on("click",function(){
				$(this).addClass("active")
				$("#raiosbx").slideDown(200)
				$(".kflb-marsk").css({"display":"block"})
				// $("body").css({"position":"absolute","left":"0","top":"0","right":"0","bottom":"0","overflow":"hidden"})
			})
			//遮罩层点击事件
			$(".kflb-marsk").on("click",function(){
				closeSelect();
				//$("#raiosbx").slideUp(200)
				//$(".kflb-marsk").fadeOut(100)
				// $("body").css({"position":"static","overflow":"auto"})
			})
			//关闭下拉框方法
			function closeSelect(){
				$('#btn-product').removeClass("active")
				$("#raiosbx").slideUp(200)
				$(".kflb-marsk").fadeOut(100)
				// $("body").css({"position":"static","overflow":"auto"})
			}
			//产品列表选中点击事件
			$(".radio-mess ul li button").on("click",function(){
				$("#btn-product").html($(this).html())
				vm.ag_id = $(this).data('agid');
				$("#allproduct").removeClass("active");
				$(this).parent("li").siblings("li").children("button").removeClass("active");
				$(this).addClass("active");
			})
			//全部产品点击按钮
			$("#allproduct").on("click",function(){
				$("#btn-product").html($(this).html())
				vm.ag_id = 0;
				$(this).addClass("active");
				$(".radio-mess ul li").children("button").removeClass("active");
			})
		</script>
	</body>
</html>